<div class="dashboard-panel" id="update_profile_page">
  <section class="section pt-4 pb-0">
      <div class="container pb-2 underline_title">
        <h1 class="title is-4">Profile</h1>
      </div>
  </section>
  <section class="section py-0">
    <div class="container">
      <div class="tabs" id="update_student_tabs">
        <ul>
          <li class="is-active" data-tab="basic_info"><a>Basic information</a></li>
          <li data-tab="password_email"><a>Password & email</a></li>
          <li data-tab="academic_results"><a>Academic Results</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section py-4 pb-2 update_tab_container" id="basic_info_section">
       <div class="columns">
             <div class="column">
               <%= form_with(model: @student, url: "/students/#{@student.username}/update_basic", method: :patch, local: false,
                   class:"", id: "edit_student_basic_form") do |f| %>
                   <div class="subtitle mb-2">
                        Basic Information
                   </div>
                   <div class="container bg-color-whitesmoke p-4">
                       <div class="field">
                             <%= f.label :username, class:"label" %>
                             <div class="control">
                                <%= f.text_field :username, value: @student.username, class:"input", data: { missing_error: "Please enter a username" } %>
                             </div>
                             <p class="help is-danger"></p>
                       </div>
                       <div class="field">
                           <%= f.label :bio, "Biography", class:"label" %>
                          <div class="control">
                            <%= f.text_area :bio, value: @student.bio, class:"textarea optional" %>
                          </div>
                          <p class="help is-danger"></p>
                       </div>
                       <div class="container is-flex is-justify-content-end">
                         <%= f.submit "Update", id:"edit_student_button", class: "button is-link ml-5 my-2" %>
                       </div>
                   </div>
               <% end %>
             </div>
             <div class="column">
                <%= form_with(model: @student, url: "/students/#{@student.username}/update_photo", method: :patch, local: false,
                   class:"", id: "edit_student_photo_form") do |f| %>
                   <div class="subtitle mb-2">
                        Profile Photo
                   </div>
                   <div class="container bg-color-whitesmoke p-4" id="upload_profile_photo">
                     <figure class="image is-96x96 rounded" style="background-color:<%= @student.background_color %>">
                         <% if @student.image.attached? %>
                            <%= image_tag(@student.image, class:"pdf_thumbnail_box is-rounded is-hidden h-100", id: "edit_profile_photo") %>
                         <% else %>
                             <div class="avatar-box" id="edit_avatar_box">
                               <span class="fa-4rem has-text-white"><%= @student.username[0] %></span>
                             </div>
                              <img src="#" id="edit_profile_photo" class="is-hidden is-rounded h-100">
                         <% end %>
                     </figure>
                     <div class="" id="photo_body">
                         <div class="file" id="profile_photo_file">
                             <label class="file-label">
                                <%=  f.file_field :image, class: "file-input" %>
                               <span class="file-cta button is-link" id="hover_upload">
                                 <%= @student.image.attached? ? 'Update profile picture' : 'Add profile picture' %>
                               </span>
                             </label>
                         </div>
                        <div class="">
                          <span>Must be JPEG or PNG.</span>
                        </div>
                     </div>
                     <div class="modal" id="photo_modal">
                        <div class="modal-background"></div>
                        <div class="modal-content w-480">
                          <div class="card">
                            <div class="card-content pb-3">
                              <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                                <span>Upload this picture?</span>
                                <span>
                                  <i class="fas fa-times fa-lg m-close blue-close"></i>
                                </span>
                              </div>
                              <div class="container py-2">
                                <figure class="image is-flex is-justify-content-center">
                                  <img class="pdf_thumbnail_box max-width-20vw" id="preview_profile_photo" src="https://bulma.io/images/placeholders/128x128.png">
                                </figure>
                              </div>
                            </div>
                            <footer class="card-footer is-justify-content-end">
                                <%= f.submit "Save", class:"button is-link my-2 replace_loading", id:"submit_profile_photo" %>
                                <button type="button" class="button is-light mr-5 ml-2 my-2 m-close">Close</button>
                            </footer>
                          </div>
                        </div>
                     </div>
                   </div>
                <% end %>
             </div>
       </div>
  </section>
  <section class="section py-4 pb-2 is-hidden update_tab_container" id="password_email_section">
      <div class="columns">
            <div class="column">
              <%= form_with(model: @student, url: "/students/#{@student.username}/update_password", method: :patch, local: false,
                  class:"", id: "change_password_form") do |f| %>
                  <div class="subtitle mb-2">
                       Change Password
                  </div>
                  <div class="container bg-color-whitesmoke p-4">
                      <div class="field">
                            <%= f.label :old_password, class:"label" %>
                            <div class="control">
                               <%= f.password_field :old_password, class:"input", data: { missing_error: "Please enter a username" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                          <%= f.label :password, "New password", class:"label" %>
                         <div class="control">
                           <%= f.password_field :password, class:"input optional" %>
                         </div>
                         <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                          <%= f.label :password_confirmation, "Confirm new password", class:"label" %>
                         <div class="control">
                           <%= f.password_field :password_confirmation, class:"input optional" %>
                         </div>
                         <p class="help is-danger"></p>
                      </div>
                      <div class="container is-flex is-justify-content-end">
                        <%= f.submit "Update", id:"update_password_button", class: "button is-link ml-5 my-2" %>
                      </div>
                  </div>
              <% end %>
            </div>
            <div class="column">
              <%= form_with(model: @student, url: "/students/#{@student.username}/update_email", method: :patch, local: false,
                  class:"", id: "change_email_form") do |f| %>
                  <div class="subtitle mb-2">
                       Change Email
                  </div>
                  <div class="container bg-color-whitesmoke p-4">
                      <div class="field">
                            <%= f.label :current_email, class:"label" %>
                            <div class="control">
                               <%= f.email_field :current_email, value: @student.email, class:"input", disabled: "disabled", data: { missing_error: "Please enter an email." } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                            <%= f.label :email, "New email address", class:"label" %>
                            <div class="control">
                               <%= f.email_field :email, value: "", class:"input", data: { missing_error: "Please enter a username" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                          <%= f.label :email_confirmation, "Confirm new email address", class:"label" %>
                         <div class="control">
                           <%= f.email_field :email_confirmation, class:"input optional" %>
                         </div>
                         <p class="help is-danger"></p>
                      </div>
                      <div class="container is-flex is-justify-content-end">
                        <%= f.submit "Update", id:"update_email_button", class: "button is-link ml-5 my-2" %>
                      </div>
                  </div>
              <% end %>
            </div>
      </div>
  </section>
  <section class="section py-4 pb-2 is-hidden update_tab_container" id="academic_results_section">
  </section>
</div>
