<div class="flex-grow w-100 dashboard-panel">
  <section class="section pt-4 pb-2">
      <div class="container">
        <h1 class="title is-4">HSC notes</h1>
      </div>
  </section>
  <section class="section py-2">
    <div class="container">
      <div class="tabs">
        <ul>
          <li class="is-active"><a>Purchases</a></li>
          <li><a>Bookmarked</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section py-2">
    <div class="container is-flex is-justify-content-space-between">
          <div class="left-side is-flex is-align-items-center">
            <div class="h-min-content pr-2">Filter by:</div>
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" placeholder="Find a repository">
              </div>
              <div class="control">
                <a class="button is-info">
                  Search
                </a>
              </div>
            </div>
          </div>
          <div class="right-side is-flex is-align-items-center">
            <div class="h-min-content pr-2">Sort by:</div>
            <div class="control">
              <div class="select">
                <select>
                  <option>Price</option>
                  <option>Atar</option>
                  <option>Popularity</option>
                  <option>Rating</option>
                  <option>Upload date</option>
                </select>
              </div>
            </div>
          </div>
    </div>
  </section>
  <section class="section py-2">
    <table class="table w-100">
      <thead>
        <tr>
          <th></th>
          <th>Team</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>Qualification or relegation</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th><abbr title="Position">Pos</abbr></th>
          <th>Team</th>
          <th><abbr title="Played">Pld</abbr></th>
          <th><abbr title="Won">W</abbr></th>
          <th><abbr title="Drawn">D</abbr></th>
          <th><abbr title="Points">Pts</abbr></th>
          <th>Qualification or relegation</th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>12</td>
          <td>10</td>
          <td>63</td>
          <td>50</td>
          <td>+13</td>
          <td>60</td>
        </tr>
        <tr>
          <th>19</th>
          <td>22</td>
          <td>39</td>
          <td>67</td>
          <td>−28</td>
          <td>34</td>
        <tr>
          <th>20</th>
          <td>38</td>
          <td>3</td>
          <td>8</td>
          <td>27</td>
          <td>27</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
