<div class="dashboard-panel">
  <section class="section pt-4 pb-2">
      <div class="container is-flex is-justify-content-space-between">
        <h1 class="title is-4 mb-0">Payment History</h1>

        <div class="left-side is-flex h-min-content">
            <div class="field has-addons">
              <div class="control">
                <input class="input is-sl-small" type="text" placeholder="Search uploads, notes...">
              </div>
              <div class="control">
                <a class="button is-info is-sl-small">
                  <i class="fas fa-search"></i>
                </a>
              </div>
            </div>
          </div>
      </div>
  </section>
  <section class="section py-0">
    <div class="container">
          <div class="is-flex is-align-items-center note_result_holder" data-selected-counter="0" data-total-uploads=<%= @uploads.count.to_s %>>
              <span class="number_results"><%= @uploads.count %> notes uploaded</span>
              <span class="px-2 is-hidden" id="select_all_notes_link">
                (<span class="has-text-link cursor_pointer">
                  Select All
                </span>)
              </span>
              <span class="is-hidden" id="results_selected_actions">
                  <span class="mx-2">&#124;</span>
                  <button type="button" class="button is-small">Download</button>
                  <button type="button" class="button is-small">Delete</button>
              </span>
          </div>    
    </div>
  </section>
<!--  <section class="section py-2">
    <div class="container">
      <div class="tabs">
        <ul>
          <li class="is-active"><a>Purchases</a></li>
          <li><a>Bookmarked</a></li>
        </ul>
      </div>
    </div>
  </section> -->
</div>
