<div class="section p-0" id="show_learning_container">
    <div class="columns m-0 h-100">
        <div class="column is-flex-shrink-1" id="learning_left_column_filler">
        </div>
        <div class="column is-flex-grow-1" id="middle_column_learning">
            <section class="learning_content px-4">
                <div class="title is-size-4 mt-3"><%= @lesson.title %></div>
                <table id="video_submissions_table" class="table w-100">
                    <thead>
                        <tr>
                            <th>
                                <span>Video Submissions</span>
                            </th>
                            <!-- <th class="has-text-right">Comments</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% if @video_submissions.present? %>
                            <% @video_submissions.each do |video_submission| %>
                                <tr data-upload-id-token="<%= video_submission.id %>">
                                    <td class="is-flex">
                                        <figure class="column image is-justify-content-center is-flex-direction-column">
                                            <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                                            <% if video_submission.previewable? %>
                                                <%= image_tag video_submission.preview(resize_to_limit: [210, 150]),  class:"course_image_thumbnail" %>
                                            <% end %>
                                        </figure>
                                        <div class="column note-column">
                                            <p><%= video_submission.title %></p>
                                            <%= "Uploaded #{@video_submissions.created_at.strftime("%d %b, %Y")}" %>
                                            <div class="is-flex">
                                                <div>
                                                    <i class="fas fa-arrow-up"></i>
                                                    <span><%= video_submission.upvotes %></span>
                                                </div>
                                                <div>                                                    
                                                    <i class="fas fa-arrow-down"></i>
                                                    <span><%= video_submission.downvotes %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td><span>< "$%.2f" % course.price unless course.price.nil? ></span></td> -->
                                    <td><span><%= course.created_at.strftime("%d %b, %Y") %></span></td>
                                    <td><p class="has-text-right"><%= video_submission.upvotes %></p></td>
                                    <td><p class="has-text-right"><%= video_submission.downvotes %></p></td>
                                    <!-- <td><p class="has-text-right">N/A</p></td> -->
                                </tr>
                            <% end %>
                        <% else %>
                            <% 5.times do %>
                                <tr>
                                    <td class="is-flex">
                                        <figure class="column image is-justify-content-center is-flex-direction-column">
                                            <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                                            <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail") %>
                                        </figure>
                                        <div class="column note-column">
                                            <p>Untitled</p>
                                            <p>Uploaded 1 Jan, 2000</p>
                                            <br>
                                            <div class="is-flex">
                                                <div>
                                                    <i class="fas fa-arrow-up"></i>
                                                    <span>20</span>
                                                </div>
                                                <div>                                                    
                                                    <i class="fas fa-arrow-down"></i>
                                                    <span>10</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- <td><span>< "$%.2f" % course.price unless course.price.nil? ></span></td> -->
                                    <td>
                                       
                                    </td>
                                    <!-- <td><p class="has-text-right">N/A</p></td> -->
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </section>
        </div>
        <div class="column is-flex-grow-0 p-0" id="right_column_learning_continue">
            <%= render "learning/shared/course_index_list_holder" %>
            <div id="module-progress-holder" class="is-flex px-5 py-3">
                <div class="module-progress-box p-4 mx-4">
                    <div id="lesson-triad">                
                        <%= render "learning/shared/module_top_contents" %>
                    </div>
                    <div id="lesson-inputs">  
                        <div class="content"><%= @assignment_video.requirements %></div>
                        <%= render "learning/shared/continue_button" %>
                    </div>
                </div>
                <div class="" id="learning_right_column_filler">
                    <section class="filler_content">
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
