<div class="section p-0" id="show_learning_container">
    <div class="columns m-0 h-100">
        <div class="column is-flex-shrink-1" id="learning_left_column_filler">
        </div>
        <div class="column is-flex-grow-1" id="middle_column_learning">
            <section class="learning_content px-4">
                <div class="title is-size-4 mt-3"><%= @lesson.title %></div>
                <div class="content"><%= @lesson_text.content %></div>
            </section>
        </div>
        <div class="column is-flex-grow-0 p-0" id="right_column_learning_continue">
            <%= render "learning/shared/course_index_list_holder" %>
            <div id="module-progress-holder" class="is-flex px-5 py-3">
                <div class="module-progress-box p-4 mx-4">
                    <div id="lesson-triad">                
                        <%= render "learning/shared/module_top_contents" %>
                    </div>
                    <div id="lesson-inputs">    
                        <%= render "learning/shared/continue_button" %>
                    </div>
                </div>
                <div class="" id="learning_right_column_filler">
                    <section class="filler_content">
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
