<div class="section p-0" id="show_learning_container">
    <div class="columns m-0 h-100">
        <div class="column is-flex-shrink-1" id="learning_left_column_filler">
            <nav class="quiz_questions_content" data-quiz-id="<%= @mc_quiz.id %>">
                <ul>
                    <% @mc_quiz.question_order.each.with_index(1) do |question_id, index| %>
                        <% if (question_id == @quiz_question.id) %>
                            <li class="selected <%= 'completed' if @questions_completed.include?(question_id) %>" 
                                data-link-url="<%= learning_course_quiz_question_url(@course.id_token, 
                                    "mc-quiz", @mc_quiz.id, index, subdomain: "learning") %>"
                                    data-question-index="<%= index %>">
                                <span>
                                    Question <%= index %>
                                </span>
                            </li>
                        <% else %>
                             <li class="<%= 'completed' if @questions_completed.include?(question_id) %>" 
                                data-link-url="<%= learning_course_quiz_question_url(@course.id_token, 
                                    "mc-quiz", @mc_quiz.id, index, subdomain: "learning") %>"
                                    data-question-index="<%= index %>">
                                <%= link_to learning_course_quiz_question_url(@course.id_token, 
                                    "mc-quiz", @mc_quiz.id, index, subdomain: "learning"),
                                    remote: true do %>
                                    Question <%= index %>
                                <% end %> 
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </nav>
        </div>
        <div class="column is-flex-grow-1" id="middle_column_learning">
            <section class="learning_content px-4">
                <div class="title question-title is-size-4 mt-3"><%= @quiz_question.title %></div>
                <div class="content"><%= @quiz_question.question %></div>
                <div id="explanation-box" class="is-hidden">
                    <div class="title is-size-4 my-1 mb-5">Explanation</div>
                    <div class="is-size-6 mb-5 color-dark-grey">
                        Correct answer: Option 
                        <span class="option-index">
                            <%= @quiz_question.correct_answer_index + 1 %>
                        </span>
                    </div>
                    <div class="explanation-text"><%= @quiz_question.explanation %></div>
                </div>
            </section>
        </div>
        <div class="column is-flex-grow-0 p-0" id="right_column_learning_continue">
            <%= render "learning/shared/course_index_list_holder" %>
            <div id="module-progress-holder" class="is-flex px-5 py-3">
                <div class="module-progress-box p-4 mx-4"> 
                    <div id="lesson-triad">                
                        <%= render "learning/shared/module_top_contents" %>
                    </div>
                    <div id="lesson-inputs">    
                        <%= form_for(:mc_quiz_answers, url: learning_course_mc_quiz_answer_url(@course.id_token, @quiz_question.id), 
                            method: :patch, remote: true, html: { class: "is-form-mcq w-100" }) do |f| %>
                            <div class="control options-holder">
                                <% @quiz_question.options.each_with_index do |option, index| %>
                                    <% if (@question_answered) %>
                                        <% if (index == @quiz_question.correct_answer_index) %>
                                            <label class="<%= (index == @user_answer_index) ? 'radio success-border' : 'radio error-border' %>">
                                                <i class="fas fa-check fa-2x"></i>
                                                <%= f.radio_button :hash_array_answer, index, class: "radio is-hidden" %>
                                                <span class="option-text"><%= option %></span>
                                            </label>
                                        <% else %>
                                            <label class="radio is-opaque">
                                                <i class="fas fa-check fa-2x is-hidden"></i>
                                                <%= f.radio_button :hash_array_answer, index, class: "radio", 
                                                    checked: ((index == @user_answer_index) ? true : false) %>
                                                <span class="option-text"><%= option %></span>
                                            </label>
                                        <% end %>
                                    <% else %>
                                        <label class="radio">
                                            <i class="fas fa-check fa-2x is-hidden"></i>
                                            <%= f.radio_button :hash_array_answer, index, class: "radio" %>
                                            <span class="option-text"><%= option %></span>
                                        </label>
                                    <% end %>
                                <% end %>
                            </div>
                            <%= f.hidden_field :module_id, value: @module.id %>
                            <% if (@question_answered) %>
                                <div id="answer-box" class=""><%= (@user_answer_index == @quiz_question.correct_answer_index) ?
                                    "Correct" : "Incorrect" %></div>
                            <% else %>
                                <div id="answer-box" class="is-hidden"></div>
                            <% end %>
                            <%= f.submit "Submit", class: "mt-2 w-100 button is-dark border-gray #{'is-hidden' if @question_answered}", id: "submit-answer" %>
                            <% if (@mc_quiz.question_order.present? && 
                                  (@mc_quiz.question_order[-1] != @quiz_question.id)) %>
                                <!-- this is not the last question in quiz -->
                                <%= link_to learning_course_quiz_question_url(@course.id_token, "mc-quiz", 
                                    @mc_quiz.id,  @question_index + 1, subdomain: "learning"), remote: true,
                                    class: "mt-2 w-100 button is-link border-gray continue-button #{'is-hidden' unless @question_answered}" do %>
                                    <span>Continue</span>
                                <% end %>
                            <% else %>
                                <% if (@next_lesson.present? && (@next_lesson.module_part_id == @module.id)) %>
                                    <%= link_to learning_link(@course.id_token, @next_lesson, true), 
                                        class: "mt-2 w-100 button is-link border-gray continue-button #{'is-hidden' unless @question_answered}", 
                                        data: { 'remote': true } do %>
                                        <span>Continue</span>
                                    <% end %>
                                <% else %>
                                    <% if (@progress_event.is_completed) %>
                                        <div id="completed-course-box">
                                            <i class='fas fa-check fa-lg'></i>
                                            <span class='ml-4'>Course Completed</span>
                                        </div>
                                    <% else %>
                                        <%= form_for(:course, method: 'PATCH', remote: true, html: { class: "w-100", id: "complete-course-form" },
                                            url: learning_course_update_completed_url(course_id_token: @course.id_token, subdomain: "learning")) do |f| %>
                                            <%= f.submit "Mark as completed", class: "mt-2 w-100 button is-link border continue-button"%>
                                        <% end %>
                                    <% end %>
                                    <%= link_to courses_in_progress_my_notebook_url(subdomain: false), 
                                        class:"mt-2 button is-light border-gray" do %>
                                        <span>Return to My Courses</span>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                        <button class="mt-2 w-100 button is-light border-gray" id="show-explanation">
                            <span>Show explanation</span>
                        </button>
                        <button class="mt-2 w-100 button is-light border-gray is-hidden" id="hide-explanation">
                            <span>Hide explanation</span>
                        </button>
                    </div>               
                </div>
                <div class="" id="learning_right_column_filler">
                    <section class="filler_content">
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
