var options = $("#right_column_learning_continue form.is-form-mcq");
var user_answer = options.find("input[type='radio']:checked");

var user_answer_index = '<%= @user_answer_index %>';
var correct_answer_index = '<%= @quiz_question.correct_answer_index %>';
var correct_answer = options.find(`input[type='radio'][value='${correct_answer_index}']`);
var correct_answer_label = correct_answer.parent();

var answer_box = options.find("div#answer-box");

var right_column = $("#right_column_learning_continue");
var left_column = $("#learning_left_column_filler");

if (parseInt(correct_answer_index) == parseInt(user_answer_index)) {
    correct_answer_label.addClass("success-border");
    answer_box.text("Correct");
} else {
    correct_answer_label.addClass("error-border");
    answer_box.text("Incorrect");
}

answer_box.removeClass("is-hidden");

correct_answer_label.siblings().addClass("is-opaque");
correct_answer.addClass("is-hidden");
correct_answer_label.find("i.fa-check").removeClass("is-hidden");

options.find("input#submit-answer").addClass("is-hidden");

right_column.find("a.continue-button").removeClass("is-hidden");  

// once the user response has been submitted, style the question as completed.
left_column.find("nav.quiz_questions_content li.selected").addClass("completed");
