
var form = $("form[id^='login']");
// display error message
var error_notification = $(form).find(".notification");
error_notification.removeClass("is-hidden").addClass("error-border");
error_notification.text("<%= @error_message %>");

// remove original error field designation
var former_fields = $(form).find("input.input.is-danger")
former_fields.removeClass("is-danger");
former_fields.parent().find(".fa-exclamation-triangle").addClass("is-hidden");

// add error status to the relevent input field
var error_field = $(form).find(`<%= "input.#{@input_id}" %>`);
error_field.addClass("is-danger");
error_field.parent().find('.fa-exclamation-triangle').removeClass("is-hidden");
