<div id="" class="box form-box medium-modal">
  <div class="container is-flex is-justify-content-center mb-3">
    <%= image_tag image_path("bootstrap_logo.jpg"), size: "36x36", class:"mr-3" %>
    <div id="form-title" class="title">Log in to Notebank</div>
  </div>
  <% if @checkout %>
       <article class="message is-info mb-0 mt-4">
            <div class="message-body py-2 px-4">
              <span>You will be automatically redirected to the checkout after signing in.</span>
            </div>
        </article>
  <% end %>
  <div class="tabs mb-3">
    <ul>
      <li class="is-active tab" data-linked-body="login-form"><a>Log In</a></li>
      <li class="tab" data-linked-body="signup-form"><a>Sign Up</a></li>
    </ul>
  </div>
  <%= form_with(model: @new_student, scope: :session, url: login_path, local: false,
      html: {id: 'login-form', class: 'container tabs-body'}) do |f| %>
    <div class="social-buttons is-flex mt-4 mb-2">
      <button class="button social-button google-button">
        <span class="icon">
          <%= image_tag("google_logo.png", class:"w-75") %>
        </span>
        <span>Log in with google</span>
      </button>
      <button class="button social-button facebook-button">
        <span class="icon">
          <i class="fab fa-facebook-square fa-lg"></i>
        </span>
        <span>Log in with facebook</span>
      </button>
    </div>
    <div class="is-flex is-align-items-center mt-2 mb-0">
      <div class="bottom-border-grey is-flex-grow-1">
      </div>
      <span class="px-2">or</span>
      <div class="bottom-border-grey is-flex-grow-1">
      </div>
    </div>
    <div class="notification py-3 mb-2 mt-1 error-border is-hidden">
    </div>
    <div class="field">
        <%= f.label :username, class: "label" %>
        <div class="control has-icons-left has-icons-right">
          <%= f.text_field :username, class: "input session_username" %>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        </div>
    </div>
    <div class="field">
      <%= f.label :password, class: "label"%>
      <p class="control has-icons-left">
        <%= f.password_field :password, class: "input session_password" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <%= f.submit "Log in", class: "button green-button is-fullwidth mt-3" %>
  <% end %>
  <%= form_with model: @new_student, id:"signup-form", local: false,
                class: "container tabs-body is-hidden completed-form" do |f| %>
        <div class="notification py-3 mb-2 mt-1 error-border is-hidden"></div>
        <div class="field">
          <%= f.label :username, class: "label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :username, class: "input student_username" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check is-success-green is-hidden"></i>
            </span>
          </div>
          <p class="help is-danger"></p>
        </div>
        <div class="field">
          <%= f.label :password, class: "label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.password_field :password, class: "input password" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check is-success-green is-hidden"></i>
            </span>
          </div>
          <p class="help is-danger"></p>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirmation password", class: "label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.password_field :password_confirmation, class: "input password_confirmation" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check is-success-green is-hidden"></i>
            </span>
          </div>
          <p class="help is-danger"></p>
        </div>
        <div class="field">
          <%= f.label :email, class: "label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.email_field :email, class: "input email" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check is-success-green is-hidden"></i>
              </span>
          </div>
          <p class="help is-danger"></p>
        </div>
        <%= f.submit "Sign Up", class: "button green-button is-fullwidth" %>
  <% end %>
</div>
