<div id="main_panel" class="flex-grow">
  <section class="section pt-4 pb-2 h-100" id="faq_container">
    <div class="container">
      <p class="title is-2 pt-4">FAQ for winners</p>
      <div class="secondary_header">
          I won a prize. How do i claim it?
      </div>
      <div class="explanation-holder">
             <p class="pb-4">
                If you filled out the payment details in your account before the end of the competition, then you will not need to do anything.<br>
                You will receive the funds through bank transfer within 1-3 days of the results being announced.<br>
             </p>
             <p class="pb-2">
                If your did not, then you need to check your email's inbox and junk 
                folder for an email from Wise, a global payment platform.
                Acting on our behalf, Wise will provide a link requesting your bank details in order to transfer you the prize money. 
                The link in the email, however, will expire after one week.
             </p>
      </div>
      <div class="secondary_header pt-5">
          I don't have an Australian bank account. Can I still receive a prize?
      </div>
      <div class="explanation-holder">
           <p class="pb-4">
             Yes, you can. To fix this issue, we recommend that you create a free borderless account through Wise.
           </p>
           <p class="pb-2">
             A borderless account refers a virtual bank account that offers customers the ability to have multiple local accounts around the world.
             After creating a borderless account, enter the bank details provided with your "virtual" australian account before a competition's results are announced.
          </p>
      </div>
      <div class="secondary_header pt-5">
          A competition just ended. Why didn't I receive any notifications?
      </div>
      <div class="explanation-holder">
          <p class="mb-4 pb-5">
                If you did not receive any notifications around the time results were announced,
                this means your video submission unfortunately did not win a prize.             
          </p>
      </div>
    </div>
  </section>
</div>