<!-- render 'layouts/account_aside' -->
<div class="container is-flex is-flex-direction-column">
    <div class="title h3 mt-5 mb-3">My Notebook</div>
    <%= render 'layouts/my_notebook_tabs' %>
    <div class="columns m-0 is-flex-grow-1">
        <div class="column pt-5" id="">
            <div class="columns bg-light-gray m-0 is-flex-direction-column h-100">
                <div class="column bg-white p-0">
                    <div class="dashboard-panel" id="update_profile_page">
                            <section class="section py-4 pb-2 update_tab_container" id="basic_info_section">
                                <div class="columns">
                                    <div class="column">
                                        <div class="columns">
                                            <div class="column is-one-third">
                                                <div class="subtitle mb-4 pt-3">
                                                        Change profile picture
                                                </div>
                                                <%= form_with(model: @student, url: update_photo_student_url(subdomain: false, student_username: @student.username), local: false,
                                                    class:"p-0 box", id: "edit_student_photo_form") do |f| %>
                                                        <div class="container px-5 pt-5 pb-4 is-justify-content-center" id="upload_profile_photo">
                                                            <figure class="image is-128x128 rounded">
                                                                <% if @student.image.attached? %>
                                                                    <%= image_tag(@student.image, class:"pdf_thumbnail_box is-rounded h-100", id: "edit_profile_photo") %>
                                                                <% else %>
                                                                    <div class="avatar-box" id="edit_avatar_box">
                                                                        <i class="fas fa-user-circle fa-8x mx-2"></i>
                                                                    </div>
                                                                <% end %>
                                                            </figure>
                                                            <div class="modal" id="photo_modal">
                                                                <div class="modal-background"></div>
                                                                <div class="modal-content w-480">
                                                                    <div class="card">
                                                                    <div class="card-content pb-3">
                                                                        <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                                                                        <span>Upload this picture?</span>
                                                                        <span>
                                                                            <i class="fas fa-times fa-lg m-close blue-close"></i>
                                                                        </span>
                                                                        </div>
                                                                        <div class="container py-2">
                                                                        <figure class="image is-flex is-justify-content-center">
                                                                            <img class="pdf_thumbnail_box max-width-20vw" id="preview_profile_photo" src="https://bulma.io/images/placeholders/128x128.png">
                                                                        </figure>
                                                                        </div>
                                                                    </div>
                                                                    <footer class="card-footer is-justify-content-end">
                                                                        <%= f.submit "Save", class:"button is-link my-2 w-min-content", id:"submit_profile_photo" %>
                                                                        <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                                                                    </footer>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="file container is-flex bg-dark-gray" id="profile_photo_file">
                                                            <label class="file-label is-justify-content-flex-end">
                                                                <%= f.file_field :image, class: "file-input" %>
                                                                <span class="file-cta w-min-content button is-link mx-5 my-3 is-normal">
                                                                    <%= @student.image.attached? ? 'Update profile picture' : 'Add profile picture' %>
                                                                </span>
                                                            </label>
                                                        </div>
                                                <% end %>
                                            </div>
                                            <div class="column is-two-thirds">
                                                <div class="subtitle mb-4 pt-3">
                                                        Change display name
                                                </div>
                                                <%= form_with(model: @student, url: "/my_notebook/basic_info/update-display-name", method: :patch, local: false,
                                                    class:"box p-0", id: "edit_student_basic_form") do |f| %>
                                                    <div class="container p-5">
                                                        <div class="field is-flex">
                                                            <%= f.label :username, 'Username:', class:"label w-10rem py-2" %>
                                                            <div class="control is-flex-grow-1">
                                                                <%= f.text_field :username, value: @student.username, class:"input bg-color-whitesmoke is-flex-grow-1", data: { missing_error: "Please enter a username" } %>
                                                                <p class="help">Username cannot be changed</p>
                                                            </div>
                                                        </div>
                                                        <div class="field is-flex is-align-items-center">
                                                            <%= f.label :display_name, 'Display Name:', class:"label w-10rem" %>
                                                            <div class="control is-flex-grow-1">
                                                            <%= f.text_field :display_name, value: @student.display_name, class:"input optional is-flex-grow-1" %>
                                                            </div>
                                                            <p class="help is-danger"></p>
                                                        </div>
                                                    </div>
                                                    <div class="container is-flex is-justify-content-end bg-dark-gray">
                                                        <%= f.submit "Update display name", id:"edit_student_button", class: "w-min-content button is-link mx-5 my-3" %>
                                                    </div>
                                                <% end %>
                                            </div>
                                        </div>
                                        <div class="subtitle mb-4 pt-3">
                                                Change Email
                                        </div>
                                        <%= form_with(model: @student, url: "/my_notebook/basic_info/update-email", method: :patch, local: false,
                                            class:"box p-0", id: "change_email_form") do |f| %>
                                            <div class="container p-5">
                                                <div class="field is-flex">
                                                    <%= f.label :current_email, "Current email", class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.email_field :current_email, value: @student.email, class:"input bg-color-whitesmoke  is-flex-grow-1", data: { missing_error: "Please enter a username" } %>
                                                    </div>
                                                </div>
                                                <div class="field is-flex">
                                                    <%= f.label :email, 'New email address', class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.email_field :email, value: "", class:"input is-flex-grow-1", data: { missing_error: "Please enter a username" } %>
                                                    </div>
                                                </div>
                                                <div class="field is-flex">
                                                    <%= f.label :email_confirmation, 'Confirm email address', class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.email_field :email_confirmation, class:"input is-flex-grow-1", data: { missing_error: "Please enter a username" } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container is-flex is-justify-content-end bg-dark-gray">
                                                <%= f.submit "Update email", id:"update_email_button", class: "w-min-content button is-link mx-5 my-3" %>
                                            </div>
                                        <% end %>
                                        <div class="subtitle mb-4 pt-3">
                                                Change Password
                                        </div>
                                        <%= form_with(model: @student, url: "/my_notebook/basic_info/update-password", method: :patch, local: false,
                                            class:"box p-0", id: "change_password_form") do |f| %>
                                            <div class="container p-5">
                                                <div class="field is-flex">
                                                    <%= f.label :current_password, "Current password",class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.password_field :current_password, class:"input is-flex-grow-1", data: { missing_error: "Please enter a username" } %>
                                                    </div>
                                                </div>
                                                <div class="field is-flex">
                                                    <%= f.label :password, 'New password', class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.password_field :password, class:"input is-flex-grow-1", data: { missing_error: "Please enter a password" } %>
                                                    </div>
                                                </div>
                                                <div class="field is-flex">
                                                    <%= f.label :password_confirmation, "Confirm new password", class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.password_field :password_confirmation, class:"input is-flex-grow-1", data: { missing_error: "Please enter a password" } %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container is-flex is-justify-content-end bg-dark-gray">
                                                <%= f.submit "Update password", id:"update_password_button", class: "w-min-content button is-link mx-5 my-3" %>
                                            </div>
                                        <% end %>
                                        <div class="subtitle mb-4 pt-3">
                                                Disable your acccount
                                                <!-- All chats suspended. Profile will be hidden. All classes with interaction suspended. -->
                                        </div>
                                        <%= form_with(model: @student, url: "/my_notebook/basic_info/disable-account", method: :patch, local: true,
                                            class:"box p-0", id: "disable_account_form") do |f| %>
                                            <div class="container p-5">
                                                <div class="field is-flex">
                                                    <%= f.label :username, "Account to disable", class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.text_field :username, class:"input is-flex-grow-1 bg-color-whitesmoke " %>
                                                    </div>
                                                </div>
                                                <div class="field is-flex is-justify-content-space-between">
                                                    <div class="w-20rem py-2">
                                                        <%= f.label :reason_for_deactivation, class:"label w-10rem" do %>
                                                            Tell us why you're disabling your account <span class="text-secondary">(Optional)</span>
                                                        <% end %>
                                                    </div>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.text_area :reason_for_deactivation, class:"input is-flex-grow-1" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container is-flex is-justify-content-end bg-dark-gray">
                                                <%= f.submit "Disable this account", id:"disable_account_button", class: "w-min-content button is-link mx-5 my-3" %>
                                            </div>
                                        <% end %>
                                        <div class="subtitle mb-4 pt-3">
                                                Delete your account
                                        </div>
                                        <div class="box p-0">
                                            <div class="container p-5">
                                                <div class="field is-flex">
                                                    <label class="label w-20rem py-2">Delete your account</label>
                                                    <div class="control is-flex-grow-1">
                                                        <p>Deleting your account will permenantly remove all your course uploads and profile data.</p>
                                                        <p>If you want to delete your account, you can do so from the 
                                                            <%= link_to "Delete Account", my_notebook_basic_info_delete_account_url(subdomain: "dashboard") %> page.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="section py-4 pb-2 is-hidden update_tab_container" id="academic_results_section">
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>