<!-- render 'layouts/account_aside' -->
<div class="container is-flex is-flex-direction-column">
    <div class="title h3 mt-5 mb-3">My Notebook</div>
    <%= render 'layouts/my_notebook_tabs' %>
        <div class="columns m-0 is-flex-grow-1">
            <%= render 'layouts/competition_aside' %>
            <div class="column is-four-fifths h-100 pt-5" id="my-notebook-page-holder">
                <div class="columns bg-light-gray m-0 is-flex-direction-column h-100">
                    <div class="column bg-white" id="show_competition_container">
                        <% if @current_competitions.empty? %> 
                            <div class="w-100 mt-5rem is-flex is-justify-content-center 
                                        is-flex-direction-column is-align-items-center">
                                <figure class="image is-128x128">
                                    <%= image_tag(image_path("books-stack-of-three.png"), class: "h-min-content opacity-50") %>
                                </figure>
                                <p class="mt-4">You have no courses in this list.</p>
                                <%= link_to "Explore courses", root_url(subdomain: false), class: "is-link button my-3" %>
                            </div>
                        <% else %>
                            <% @current_competitions.each.with_index do |competition, index| %>
                                <div class="card m-4 is-flex" data-competition-id="<%= competition.id %>">
                                    <div class="modal">
                                        <div class="modal_background_light"></div>
                                        <div class="modal-content video-submission" id="new_competition_submission_modal_body">
                                            <%= render 'video_submissions/new_competition_submission', competition: competition %>
                                        </div>
                                    </div>
                                    <div class="card-image w-12rem">
                                        <figure class="image h-100 is-flex">
                                             <% if competition.video.previewable? %>
                                                    <%= image_tag competition.video.preview(resize_to_limit: [300, 200]),  class:"course_image_thumbnail" %>
                                                <% else %>
                                                    <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail") %>
                                                <% end %>
                                        </figure>
                                    </div>
                                    <div class="card-content is-flex-grow-1 p-0">
                                        <div class="content h-100 is-flex is-justify-content-space-between position-relative">
                                            <div class="is-flex is-flex-grow-1">
                                                <div class="card-title-holder pr-0">
                                                    <p class="card-title subtitle mb-1 is-5 has-text-weight-normal"><%= competition.title %></p>
                                                    <div class="competition-basics">
                                                        <div class="">
                                                            <p class="subtitle is-6 mb-1 color-dark-grey">Deadline:</p>
                                                            <p class="subtitle is-6"><%= "#{competition.deadline_time.strftime("%l:%M%P")}, #{competition.deadline_date.strftime("%d %B %Y")}" %></p>
                                                        </div>
                                                        <div class="dropdown is-right h-min-content">
                                                            <div class="dropdown-trigger h-min-content">
                                                                <div class="mt-auto course-cog-settings" aria-haspopup="true" aria-controls="dropdown-menu3">
                                                                    <i class="fas fa-cog"></i>
                                                                </div>
                                                            </div>
                                                            <div class="dropdown-menu" role="menu">
                                                                <div class="dropdown-content">
                                                                    <%= link_to "Withdraw", withdraw_competition_url(id: competition.id), method: :delete, remote: true, class:"dropdown-item withdraw-competition" %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mr-4 course-options is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                                                    <% if (@videos_submitted_array[index].present?) %>
                                                        <%= link_to "Review submission", video_submission_url(subdomain: false, 
                                                            id: @videos_submitted_array[index].id), class: "is-link button mb-2 resume-button w-100" %>
                                                    <% else %>
                                                        <span class="button mb-2 new-submission-button w-100">Submit a video</span>
                                                    <% end %>
                                                    <!-- # if (@course_outlines[index].attached?) -->
                                                    <%= link_to "View competition", competition_url(subdomain: false, id: competition.id),
                                                        class: "button mb-2 course-outline w-100" %>
                                                </div>
                                            </div>
                                            <!-- <div class="card-progress">
                                                <progress class="progress is-primary" value="50" max="100"></progress>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
</div>