<!-- render 'layouts/account_aside' -->
<div class="container is-flex is-flex-direction-column">
    <div class="title h3 mt-5 mb-3">My Notebook</div>
    <%= render 'layouts/my_notebook_tabs' %>
        <div class="columns m-0 is-flex-grow-1">
            <%= render 'layouts/course_aside' %>
            <div class="column is-four-fifths h-100 pt-5" id="my-notebook-page-holder">
                <div class="columns bg-light-gray m-0 is-flex-direction-column h-100">
                    <div class="column bg-white">
                        <% if @courses_completed.empty? %> 
                            <div class="w-100 mt-5rem is-flex is-justify-content-center 
                                        is-flex-direction-column is-align-items-center">
                                <figure class="image is-128x128">
                                    <%= image_tag(image_path("books-stack-of-three.png"), class: "h-min-content opacity-50") %>
                                </figure>
                                <p class="mt-4">You have no courses in this list.</p>
                                <%= link_to "Explore courses", root_url(subdomain: false), class: "is-link button my-3" %>
                            </div>
                        <% else %>
                            <% @courses_completed.each.with_index do |course, index| %>
                                <div class="card m-4 is-flex" data-course-id-token="<%= course.id_token %>">
                                    <div class="card-image w-12rem">
                                        <figure class="image">
                                            <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                                            <% if course.image.representable? %>
                                                <%= image_tag(course.image.representation(resize_to_fill: [840,600]), class:"course_image_thumbnail is-hidden") %>
                                            <% end %>
                                        </figure>
                                    </div>
                                    <div class="card-content is-flex-grow-1 p-0">
                                        <div class="content h-100 is-flex is-justify-content-space-between position-relative">
                                            <div class="is-flex is-flex-grow-1">
                                                <div class="card-title-holder pr-0">
                                                    <p class="card-title subtitle mb-1 is-5 has-text-weight-normal"><%= course.title %></p>
                                                    <div class="is-flex is-justify-content-space-between">
                                                        <div class="">
                                                            <p class="subtitle is-6 mb-1 color-dark-grey">Most recent lesson:</p>
                                                            <p class="subtitle is-6 mb-3">No recent lesson needed for completed courses</p>
                                                        </div>
                                                        <div class="dropdown is-right h-min-content">
                                                            <div class="dropdown-trigger h-min-content">
                                                                <div class="mt-auto course-cog-settings" aria-haspopup="true" aria-controls="dropdown-menu3">
                                                                    <i class="fas fa-cog"></i>
                                                                </div>
                                                            </div>
                                                            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                                                                <div class="dropdown-content">
                                                                    <span class="dropdown-item unenroll-course" 
                                                                    data-course-unenroll-url='<%= course_enroll_event_url(course_token: course.id_token) %>'>
                                                                        Unenroll course
                                                                    </span>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mr-4 course-options is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                                                    <%= link_to "Retake Course", learning_link(course.id_token, @first_lessons[index]), class: "button mb-2 resume-button w-100" %>
                                                    <!-- # if (@course_outlines[index].attached?) -->
                                                    <%= link_to "Show Results", show_course_results_my_notebook_path(course.id_token),
                                                        class: "button mb-2 course-outline w-100" %>
                                                </div>
                                            </div>
                                            <div class="card-progress">
                                                <progress class="progress is-primary" value="<%= @progress_events[index].progress_percent %>" max="100"></progress>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
</div>