<!-- render 'layouts/account_aside' -->
<div class="container is-flex is-flex-direction-column">
    <div class="title h3 mt-5 mb-3">My Notebook</div>
    <%= render 'layouts/my_notebook_tabs' %>
        <div class="columns m-0 is-flex-grow-1">
            <%= render 'layouts/course_aside' %>
            <div class="column h-100 pt-5 is-four-fifths" id="my-notebook-page-holder">
                <div class="columns bg-light-gray m-0 is-flex-direction-column h-100">
                    <div class="column bg-white">
                        <% if @liked_courses.empty? %> 
                            <div class="w-100 mt-5rem is-flex is-justify-content-center 
                                        is-flex-direction-column is-align-items-center">
                                <figure class="image is-128x128">
                                    <%= image_tag(image_path("books-stack-of-three.png"), class: "h-min-content opacity-50") %>
                                </figure>
                                <p class="mt-4">You have no courses in this list.</p>
                                <%= link_to "Explore courses", root_url(subdomain: false), class: "is-link button my-3" %>
                            </div>
                        <% else %>
                            <% @liked_courses.each do |course| %>
                                <div class="card m-4 is-flex">
                                    <div class="card-image w-12rem">
                                        <figure class="image">
                                            <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                                            <% if course.image.representable? %>
                                                <%= image_tag(course.image.representation(resize_to_fill: [840,600]), class:"course_image_thumbnail is-hidden") %>
                                            <% end %>
                                        </figure>
                                    </div>
                                    <div class="card-content is-flex-grow-1 py-4">
                                        <div class="content is-flex is-flex-direction-column h-100 is-justify-content-space-between">
                                            <div class="card-title-holder">
                                                <p class="subtitle mb-1 is-5 has-text-weight-normal"><%= course.title %></p>
                                                <p class="subtitle is-6 mb-0"><%= course.student.username %></p>
                                            </div>
                                            <div class="card-progress">
                                                <div class="mb-1">Progress: 85%</div>
                                                <progress class="progress is-primary" value="15" max="100">15%</progress>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mx-5 resume-box is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                                        <div>Module</div>
                                        <button class="button is-link">Resume</button>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
</div>