<!-- render 'layouts/account_aside' -->
<div class="container is-flex is-flex-direction-column">
    <div class="title h3 mt-5 mb-3">My Notebook</div>
    <%= render 'layouts/my_notebook_tabs' %>
    <div class="columns m-0 is-flex-grow-1">
        <div class="column pt-5" id="">
            <div id="faq-payment" class="mb-4 pt-3">
                <p>Prize winners will receive payments to their bank account via two options.</p>
                <p class="pt-4">1. If payment details are provided, the winner will receive a bank transfer between 1-3 days after results are announced.</p>
                <p class="">2. If payment details are not provided, a payment link will be sent to the email linked to the winner's account.</p>
            </div>
            <div class="columns bg-light-gray m-0 is-flex-direction-column h-100">
                <div class="column bg-white p-0">
                    <div class="dashboard-panel" id="payment_details_page">
                        <section class="section py-4 pb-2 payment_details_container">
                            <div class="columns">
                                <div class="column">
                                    <div class="subtitle mb-4 pt-3">
                                        Billing address
                                    </div>
                                    <div class="card basic-info-card mb-5">
                                        <div class="card-content p-0">
                                            <%= form_with(model: @billing_address, url: billing_address_student_url(subdomain: false, student_username: current_student.username), 
                                                local: false, class:"box p-0", id: "billing_address_form") do |f| %>
                                                <div class="container p-5">
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :address_line_one, 'Address line 1', class:"label py-2" %>
                                                        <div class="control is-flex-grow-1">
                                                            <%= f.text_field :address_line_one, class:"input is-flex-grow-1", data: { missing_error: "Please enter a username" } %>
                                                            <p class="help"></p>
                                                        </div>
                                                    </div>
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :address_line_two, class:"label" do %>
                                                            Address line 2 <span class="text-secondary">(Optional)</span>
                                                        <% end %>
                                                        <div class="control is-flex-grow-1">
                                                            <%= f.text_field :address_line_two, class:"input optional is-flex-grow-1" %>
                                                        </div>
                                                        <p class="help"></p>
                                                    </div>
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :suburb, class:"label py-2" %>
                                                        <div class="control">
                                                            <%= f.text_field :suburb, class:"input", data: { missing_error: "Please enter a username" } %>
                                                            <p class="help"></p>
                                                        </div>
                                                    </div>
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :state, class:"label" %>
                                                        <div class="control">
                                                            <%= f.text_field :state, class:"input optional mw-14rem" %>
                                                        </div>
                                                        <p class="help is-danger"></p>
                                                    </div>
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :postcode, class:"label is-align-items-center" %>
                                                        <div class="control">
                                                            <%= f.text_field :postcode, class:"input mw-10rem", data: { missing_error: "Please enter a username" } %>
                                                            <p class="help"></p>
                                                        </div>
                                                    </div>
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :country, class:"label" %>
                                                        <div class="control">
                                                            <%= f.text_field :country, class:"input optional" %>
                                                        </div>
                                                        <p class="help is-danger"></p>
                                                    </div>
                                                </div>
                                                <div class="container is-flex is-justify-content-end bg-dark-gray">
                                                    <%= f.submit "Update billing details", id:"billing_details_student_button", class: "w-min-content button is-link mx-5 my-3" %>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="subtitle mb-4 pt-3">
                                        Bank account details
                                    </div>
                                    <div class="card basic-info-card mb-5">
                                        <div class="card-content p-0">
                                            <%= form_with(model: @bank_account, url: bank_account_student_url(subdomain: false, student_username: current_student.username), 
                                                local: false, class:"box p-0", id: "bank_account_form") do |f| %>
                                                <div class="container p-5">
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :account_holder_name, class:"label py-2" %>
                                                        <div class="control is-flex-grow-1">
                                                            <%= f.text_field :account_holder_name, class:"input is-flex-grow-1", data: { missing_error: "Please enter a username" } %>
                                                            <p class="help"></p>
                                                        </div>
                                                    </div>
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :account_number, class:"label" %>
                                                        <div class="control is-flex-grow-1">
                                                            <%= f.text_field :account_number, class:"input optional is-flex-grow-1 mw-24rem" %>
                                                        </div>
                                                        <p class="help"></p>
                                                    </div>
                                                    <div class="field is-flex is-align-items-center">
                                                        <%= f.label :bsb, "BSB", class:"label py-2" %>
                                                        <div class="control">
                                                            <%= f.text_field :bsb, class:"input", data: { missing_error: "Please enter a username" } %>
                                                            <p class="help"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container is-flex is-justify-content-space-between bg-dark-gray">
                                                    <p class="text-secondary is-size-6 ml-5 is-flex is-align-items-center">I don't have an Australian bank account
                                                        <i class="fas fa-question-circle pl-1"></i>
                                                    </p>
                                                    <%= f.submit "Update bank account details", id:"bank_account_student_button", class: "w-min-content button is-link mx-5 my-3" %>
                                                </div>
                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>