var notebook_page = $("#my-notebook-page-holder");

var not_selected_courses = notebook_page.find(".card:not([data-course-id-token='<%= @course.id_token %>'])");
var selected_course = notebook_page.find(".card[data-course-id-token='<%= @course.id_token %>']");

not_selected_courses.addClass("is-hidden");

var results_holder = document.createElement("div");
results_holder.addClass("results-holder");

var ul_element = document.createElement("ul");
var li_element = document.createElement("li");

var ul_clone;
var li_clone;
<%= @module_quizzes.each.with_index do |module_quiz_array, index| %>
    ul_clone = ul_element.clone();
    ul_clone.text(<%= "Module #{@module_indexes[index]}: #{module_quiz_array[0].title}" %>)

    results_holder.append($(ul_clone));
    <%= module_quiz_array[1].each do |mc_quiz| %>
        li_clone = li_element.clone;
        li_clone.text(<%= "Quiz: #{mc_quiz.title} ---- #{@mcquiz_results[index.to_s][mc_quiz.to_s]}/#{mc_quiz.mc_quiz_questions_count}" %>);        
    <% end %>
<% end %>