var module = $(`#design_course_page .modules .module[data-module-id="<%= @module_id %>"]`);
var current_title;
var edit_lesson_urls = <%= raw @new_edit_lesson_urls %>;
var lesson_ids = <%= raw @lesson_ids %>;

module.find(".lesson[saved='false']").each( function(index) {
        $(this).attr("saved", "true");
        current_title = $(this).find(".lesson-title-content").text();
        $(this).find(".lesson-title-content").text(`${current_title}: Untitled`);
        $(this).find(".edit_lesson_modal").attr("href", edit_lesson_urls[index]);

        $(this).data("lesson-id", lesson_ids[index]);
});

// update course counters.
var counters = $("#design_course_page #course-counters");
counters.find(".lesson-size").text("<%= @course.lessons_count - 2 %>");
counters.find(".text-size").text("<%= @course.texts_count - 2 %>");
counters.find(".quiz-size").text("<%= @course.quizzes_count %>");
counters.find(".video-size").text("<%= @course.videos_count %>");

// update the lesson counter on the corresponding module bar
var module_bar = $("#design_course_page .modules .module[data-module-id='<%= @module_id %>']");
module_bar.find(".lesson-count").text('<%= "(#{@lessons_count} #{'lesson'.pluralize(@lessons_count)})" %>');

// show snackbar message
var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text('<%= "#{@new_lesson_counter} #{'lesson'.pluralize(@new_lesson_counter)} successfully saved!" %>');
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);