var deleted_lesson = $(`#design_course_page .modules .lesson[data-lesson-id="<%= @lesson_id %>"]`);
var delete_lesson_modal = $("#design_course_page #delete_lesson_modal");

// get the module id from the delete modal since the lesson itself is deleted and cannot be
// used as a reference.

var module_id = delete_lesson_modal.data("module-id");
var content = $(`#design_course_page .modules .module[data-module-id="${module_id}"] .content`)[0];

deleted_lesson.remove();
delete_lesson_modal.removeClass("is-active");

console.log(content);

// remove the average height length from content holder
var lesson_height = $("#design_course_page .lessons .lesson").first().outerHeight();

$(content).data("max", (content.dataset.max - lesson_height));

content.style.maxHeight = content.dataset.max + "px";
content.style.height = content.dataset.max + "px";

// update the course counters
var counters = $("#design_course_page #course-counters");
counters.find(".lesson-size").text("<%= @course.lessons_count - 2 %>");
counters.find(".text-size").text("<%= @course.texts_count - 2 %>");
counters.find(".quiz-size").text("<%= @course.quizzes_count %>");
counters.find(".video-size").text("<%= @course.videos_count %>");

// update the lesson counter on the corresponding module bar
var module_bar = $("#design_course_page .modules .module[data-module-id='<%= @module_part.id %>']");
module_bar.find(".lesson-count")
.text('<%= "(#{@module_part.lessons_count} #{'lesson'.pluralize(@module_part.lessons_count)})" %>');

// show snackbar message
var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("Lesson successfully deleted!");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);

