if ($("#edit-lesson-body .questions").length > 0) {
    var index = 0;
    var module_name;

    $("#edit-lesson-body .questions .question .question-title-content").each(function() {
        module_name = $(this).text().split(":");
        console.log(module_name);
        module_name.shift();
        module_name.unshift(`Question ${index}`);
        $(this).text(module_name.join(":"));
        index += 1;
    })
}

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);