<div class="comment-block-holder mb-4" data-comment-id="<%= comment.id %>">
    <div class="comment-block">
        <figure class="comment-author-image image is-64x64">
            <% if comment_author.image.attached? %>
                <%= image_tag comment_author.image, class:"border-radius-circle" %>
            <% else %>
                <img src="https://bulma.io/images/placeholders/256x256.png">
            <% end %>
        </figure>
        <div class="comment-heading mb-1">
            <span class="comment-author"><%= comment_author.username %></span>
            <% if (comment_author.id == competition_client.id) %>
                <span class="comment-author-status client">Client</span>
            <% else %>
                <% if array_of_contestant_ids.include?(comment_author.id) %>
                    <% if (comment_author.id == video_submission_poster&.id) %>
                        <span class="comment-author-status op">OP</span>
                    <% else %>
                        <span class="comment-author-status contestant">Contestant</span>
                    <% end %>
                <% end %>
            <% end %>      
            <span class="dot-seperator">&#8226</span>
            <span class="comment-time-ago">
                <%= time_ago_in_words(comment.updated_at).gsub(/about? /, "") %> ago
            </span>
            <div class="dropdown is-right">
                <div class="dropdown-trigger">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="dropdown-menu" id="comment-dropdown-menu" role="menu">
                    <div class="dropdown-content">
                        <% if (comment_author.id == current_student&.id) %>
                            <div class="dropdown-item edit">
                                <span>Edit</span>
                            </div>
                            <div class="dropdown-item">
                                <%= link_to "Delete", comment_url(subdomain: false, id: comment.id),
                                                    remote: true, method: :delete,  data: { confirm: "Are you sure you want to delete this comment?" }  %>
                            </div>
                        <% else %>
                            <a href="#" class="dropdown-item cursor-no">
                                Report
                            </a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-body" data-comment-id="<%= comment.id %>">
                <%= form_with(model: comment, class: "update_comment_form is-hidden", local: false) do |f| %>
                    <%= f.text_area :body, class: "textarea", value: comment.body %>
                    <div class="buttons">
                        <button class="cancel-edit button is-light" type="button">Cancel</button>
                        <%= f.submit "Update comment", class: "button is-info" %>
                    </div>
                <% end %>
                <div class="comment-full-text"><%= comment.body %></div>
        </div>
        <div class="comment-buttons mt-1">
                <button class="upvote-box button is-small">
                    <%= link_to login_url(subdomain: false), class:"button is-small" do %>
                        <i class="fas fa-lg fa-chevron-up"></i>  
                    <% end %>
                    <span class="upvote-counter"><%= comment.upvotes.count %></span>
                </button>
                <%= link_to login_url(subdomain: false) do %>
                    <span class="reply-button color-secondary" data-logged-in='<%= logged_in_as_student? %>'>
                            Reply
                    </span>
                <% end %>
        </div>
    </div>
</div>

