<div class="comment-reply-block">
    <div class="comment-heading mb-2">
        <span class="comment-author"><%= current_student.username %></span>
        <% if (comment_author.id == competition_client.id) %>
            <span class="comment-author-status client">Client</span>
        <% else %>
            <% if array_of_contestant_ids.include?(comment_author.id) %>
                <% if (comment_author.id == video_submission_poster&.id) %>
                    <span class="comment-author-status op">OP</span>
                <% else %>
                    <span class="comment-author-status contestant">Contestant</span>
                <% end %>
            <% end %>
        <% end %>   
        <span class="dot-seperator">&#8226</span>
        <span class="comment-time-ago">
            <%= time_ago_in_words(comment_reply.updated_at).gsub(/about? /, "") %> ago
        </span>
        <div class="dropdown is-right">
            <div class="dropdown-trigger">
                <i class="fas fa-ellipsis-v"></i>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item edit">
                        <span>Edit</span>
                    </div>
                    <div class="dropdown-item">
                        <%= link_to "Delete", comment_url(subdomain: false, id: comment_reply.id),
                            remote: true, method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-body" data-comment-id="<%= comment_reply.id %>">
        <div class="comment-full-text"><%= comment_reply.body %></div>
    </div>
</div>