var comment_block_holder = $("#comments_list").find(".comment-block-holder[data-comment-id='<%= @comment.id %>']"); 

comment_block_holder.find("textarea.comment_reply_body").val("");
comment_block_holder.find("form.new_reply_form").addClass("is-hidden");
var comment_replies_list = comment_block_holder.find(".comment-replies-list");

comment_replies_list.prepend("<%= j render('comment_reply', 
                              comment_reply: @comment_reply,
                              comment_author: @comment_author,
                              competition_client: @competition_client,
                              array_of_contestant_ids: @array_of_contestant_ids,
                              video_submission_poster: @video_submission_poster) %>");

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);