$("#comments_list .comments-placeholder").remove();

$("#comments_list").prepend("<%= j render('comment', 
                    comment: @new_comment, comment_author: @comment_author, 
                    competition_client: @competition_client,
                    array_of_contestant_ids: @array_of_contestant_ids,
                    video_submission_poster: @video_submission_poster) %>");
$("#new_comment_textarea").val("");

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);