$(`#comments_list > .comment-block-holder[data-comment-id='${<%= @comment.id %>}']`).remove();
var comment_count = $("#comment-counter").data("comment-counter");

if (comment_count == 2) {
    $("#comment-counter").text("1 Comment");
} else if (comment_count == 0) {
    // do nothing
} else {
    $("#comment-counter").text(`${comment_count - 1} Comments`);
}

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);