var comment_block_holder = $(`#comments_list > .comment-block-holder[data-comment-id='${<%= @comment.commentable_id %>}']`);
var reply_comment_block = comment_block_holder.find(`.comment-replies-list .comment-reply-block[data-comment-id='${<%= @comment.id %>}']`);
reply_comment_block.remove();

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);