var comment_block_holder = $(`#comments_list .comment-block-holder[data-comment-id='${<%= @comment.commentable_id %>}']`);

comment_block_holder.find(".comment-reply-block[data-comment-id='<%= @comment.id %>'] form.update_reply_form").addClass("is-hidden");

var comment_text_holder = comment_block_holder.find(".comment-body[data-comment-id='<%= @comment.id %>'] .comment-full-text");

var comment_time_holder = comment_block_holder.find(".comment-time-ago");

comment_text_holder.text("<%= @comment.body %>").removeClass("is-hidden");
comment_time_holder.text("<%= time_ago_in_words(@comment.updated_at).gsub(/about? /, "") %> ago (edited)");

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);