var block_holder = $("#comments_list").find(".comment-block-holder[data-comment-id='<%= @comment.id %>']");
block_holder.find(".comment-body form").addClass("is-hidden");

var comment_text_holder = block_holder.find(".comment-body .comment-full-text");
comment_text_holder.text("<%= @comment.body %>").removeClass("is-hidden");

block_holder.find(".comment-heading .comment-time-ago").text("<%= time_ago_in_words(comment.updated_at).gsub(/about? /, "") %> ago (edited)");

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);