var comment_box = $("#comments_list .comment-block-holder[data-comment-id='<%= @comment_id %>']");       
var update_box = comment_box.find(".comment-buttons button.upvote-box");

var update_icon = update_box.find("i");
var upvote_counter = update_box.find(".upvote-counter");

if (!update_icon.hasClass("upvoted")) { 
    update_icon.addClass("upvoted");
    upvote_counter.text(parseInt(upvote_counter.text()) + 1);
    update_icon.parent().attr("data-method", "delete");
}