
nav {
  .is-sea-blue {
      color: black;
      &:hover {
        background-color: #e8e8fd;
      }
  }
}

.dark-bg {
  background-color: #A7A6BA !important;
}

#dashboard_upload_modal_button, #upload_competition_button {
    color: white;
    background-color: #5858f0;

    &:hover {
        filter: brightness(1.2);
    }
}

#dashboard_sidebar {

    flex: 0 0 14rem !important; 
    background-color: #F2F2F2;
    max-width: 16rem;

    #aside_header {
        color: #4a4a4a;
        border-bottom: 1px solid lightgray;
    }

    #student-menu-list {
      li {
          width: 100%;
          
          a {
              padding-left: 1rem;
              color: #4a4a4a;
          }

          a:hover, a.is-active {
              background-color: #d6e0ea;
              color: black;
              padding-left: 12px;
              border-left: 4px solid navy;
          }
      }
    }
}

.underline_title {
  border-bottom-color: #dbdbdb;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
