
.bg-color-grey {
    background-color: #F2F2F2;
}

#design_course_page {
    // for drag and drop
     /* Style the button that is used to open and close the collapsible content */
    .drop-area {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(238, 238, 238);
    }

    .modules {
        border: 1px solid gainsboro;
        border-radius: 4px;
        flex-grow: 1;

        #module-top-drop-area {
            height: 2rem;
        }

        #module-bottom-drop-area {
            height: 6rem;
        }

        .module .lesson-button {
             padding: 0.25rem 0.5rem;
             color: rgb(68, 68, 68);
        }

        .module .lesson-button:hover {
            border-radius: 5rem;
            background-color: lightgray;
            cursor: pointer;
            color: #3273dc;
        }

        .module .collapsible {
             padding: 14px 18px;
             background-color: white;
             border-radius: 0;
             border-bottom: 1px solid gainsboro;
             color: #444;
             cursor: pointer;
             width: 100%;
             text-align: left;
             outline: none;
             font-size: 15px;

             &:hover {
                 border: none;
             }

             .module-align, .cross, .minus {
                 display: flex;
                 align-items: center;
             }

             svg[name='reorder-dots'] {
                 min-width: 1rem;
                 flex-shrink: 0;
                 &:hover {
                     cursor: move;
                 }
             }

             .module-title-content {
                 white-space: nowrap;
                 text-overflow: ellipsis;
                 overflow: hidden;
                 margin-left: 0.5rem;
             }

             .module-button {
                 padding: 0.25rem 0.5rem;
             }

             .module-button:hover {
                border-radius: 5rem;
                background-color: lightgray;
                cursor: pointer;
                color: #3273dc;
             }
              
        }
    }

    .lesson-dashed {
        border-style: dashed dashed dashed solid !important;
        border-width: 2px 2px 2px 1rem !important;
        border-top-color: black !important;
        border-bottom-color: black !important;
        border-right-color: black !important;
    }

    .module-dashed {
        border: 2px dashed black !important;   
    }

    .lessons, .modules {
        .lesson {
            background-color: white;
            border-radius: 0;
            border-left: 1rem solid black;
            border-right: 1px solid gainsboro;
            border-top: 1px solid gainsboro;
            border-bottom: 1px solid gainsboro;
            color: #444;    
            cursor: pointer;
            padding: 18px;
            width: 100%;
            text-align: left;
            outline: none;
            font-size: 15px;
            display: flex;
            justify-content: space-between;
        }
    }

    .lessons .lesson {
        margin-bottom: 0.5rem;
    }

    .lesson[data-lesson-type='lesson-text'], .lesson[data-lesson-type='lesson-video'] {
        border-left-color: #89cff0;
    }

    .lesson[data-lesson-type='mc-quiz'], .lesson[data-lesson-type='sa-quiz'], 
    .lesson[data-lesson-type='fa-quiz'], .lesson[data-lesson-type='ma-quiz'] {
        border-left-color: #8AF0CC;
    }

    .lesson[data-lesson-type='assignment-text'], .lesson[data-lesson-type='assignment-video'] {
        border-left-color: #8A8BF0;
    }

    .lesson[data-lesson-type='practical'] {
        border-left-color: #DA70D6;
    }
    
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .collapsible:hover, .lesson:hover {
        position: relative;
        z-index: 10;
        box-shadow: inset 1px 0 0 #dadce0,
                    inset -1px 0 0 #dadce0,
                    0 1px 2px 0 rgba(60,64,67,.3),
                    0 1px 3px 1px rgba(60,64,67,.5);
        border-top: none;
        border-right: none;
        border-bottom: none;

    }
    
    /* Style the collapsible content. Note: hidden by default */
    .content {
        margin-left: 1rem;
        background-color: #eee;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }

    .collapsible .cross, .collapsible .minus {
        font-size: 13px;
    }
    
    //.collapsible.active .cross {
    //    content: "\2796"; Unicode character for "minus" sign (-)
    //}

    .drag-and-drop-area {
        height: 3rem;    
    }

    #add_module_modal_body {
    
        .below-image-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            progress {
                width: 15rem;
            }
        }

        textarea {
            min-height: 4rem !important;
        }
    }

    form.card {
        .image-delete-bar {
            position: absolute;
            width: 100%;
            top: 0;
            z-index: 3;
            display: flex;
        
            .delete-image {
                background-color: #C70000;
                border-radius: 0 ;
            }
        }
    }
    
}