
#edit-lesson-body, #edit-intro-summary-body {

    .video-delete-bar {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 3;
        display: flex;
    
        .delete-video {
            background-color: #C70000;
            border-radius: 0 ;
        }
    }

    .below-video-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        progress {
            width: 15rem;
        }
    }

    #heading-fixed-bar {
        display: flex;
        position: sticky;
        top: 3.5rem;
        z-index: 4;
        background-color: white;
    }

    .question-dashed {
        border: 2px dashed black !important;   
    }

    .questions {
        border: 1px solid gainsboro;
        border-radius: 4px;
        flex-grow: 1;
    }

    .questions .question {
        background-color: white;
        border-radius: 0;
        border: 1px solid gainsboro;
        color: #444;    
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 0rem;

        &:hover {
            position: relative;
            z-index: 10;
            box-shadow: inset 1px 0 0 #dadce0,
                        inset -1px 0 0 #dadce0,
                        0 1px 2px 0 rgba(60,64,67,.3),
                        0 1px 3px 1px rgba(60,64,67,.5);
            border-top: none;
            border-right: none;
            border-bottom: none;
        }

        .question-button {
            padding: 0.25rem 0.5rem;
            color: rgb(68, 68, 68);
        }

        .question-button:hover {
            border-radius: 5rem;
            background-color: lightgray;
            cursor: pointer;
            color: #3273dc;
        }
    }

    nav#intro-summary-tabs {
        a {
            font-size: 18px;
            padding: 0.5rem 0.75rem;

            background-color: #F2F2F2;
            color: #4a4a4a;

            &:hover {
                background-color: #D6E0EA;
                color: black;
            }
        }

        li.is-active > a {
            background-color: #D6E0EA;
            color: black;
            cursor: unset;
        }
    }

}