// Place all the styles related to the dashboard/McQuizQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// white background for new mc-question form.
#edit-lesson-body {
    .tag {
      background-color: white;
    }
}

#new_mc_quiz_question_form {
  trix-editor, .trix-button-group {
    background-color: white;
  }
}