// Place all the styles related to the dashboard/PrivateNotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#upload_success_modal_body {
    width: 480px;

    .pdf_loading, .pdf_thumbnail_box  {
        width: 111.983px;
        height: 140px;
    }
}

.pdf_border {
    border-radius: 8px 8px 0px 0px;
    border-bottom: none !important;
    border: 1px solid lightgray;
}

figure.pdf_loading {
    background-color: white;
    display: flex;
    align-items: center;
}

.pdf_thumbnail_box {
    object-fit: cover;
    object-position: 0% 0%;
}

.button.pdf_controls_button {
    margin: 0;
    padding: 0 0.5rem;
    border-radius: 0px;
    height: 1.75rem;
    border: none;
    background-color: unset;

    &:hover {
        background-color: #d9d9d9;
    }
}

.overflow-text {
  display: block;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.opaque_overlay {
  position: absolute;
  background-color: black;
  opacity: 70%;
  color: white;
}

.opaque_bookmark {
  z-index: 4;
  top: 3%;
  left: 84%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

.pdf_pages {
  right: 0px;
  bottom: 0px;
  padding: 2px 6px;
  font-size: small;
}

.pdf_page_shadow {
    box-shadow: 0 3px 6px 0 rgba(32, 33, 36, 0.2);
    border-radius: 8px;
}

.success_container {
    background-color: #F2F2F2;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    border-radius: 8px;
}

figure.image {
    .image_loading_placeholder {
        position: absolute;
        top: 45%;
    }
}

.success_details {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
}
