

#photo_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

#upload_profile_photo {
  display: flex;
  padding: 1rem;

}

#hover_upload:hover {
  background-color: #3e56c4 !important;
  color: #fff !important;
  border-color: transparent !important;
}

#basic_info_section {
  .label {
      font-weight: 400 !important;
  }
}
