// Place all the styles related to the dashboard/StudentAdmins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.avatar-box {
  display: flex;
  height: inherit;
  justify-content: center;
}

figure.rounded {
  border-radius: 3rem;
}

// for the table CSS

thead th {
  font-weight: 400!important;
}
