#uploads_table_section {
    padding-top: 0px !important;
    padding-right: 0px !important;
    margin-top: 0.5rem;
    margin-right: 1rem;

    nav.pagination {
      justify-content: end;
      ul.pagination-list {
        display: block-ruby;
        flex-grow: 0;
      }
    }
}

#uploads_table, #competitions_table, #video_submissions_table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dbdbdb;

  thead {
    tr > th:first-of-type {
        width: 50%;
    }

    th {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 2;
    }
  }

  tbody {
    .pdf_loading, .pdf_thumbnail_box  {
        height: 100px;
    }

    .note-column {
        display: flex;
        flex-direction: column;

        .note_options {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    tr > td:first-child {
        height: 10rem;

        .note-column {
            justify-content: center;
        }
    }

    td {
        vertical-align: baseline;
    }

    form.submit-rating {
        .fa-chevron-down {
            border-right: 1px solid #DFE1E5;
        }

        input[type="submit"] {
            visibility: hidden;
        }

        .dropdown {
            .dropdown-item:hover {
                background-color: whitesmoke;
                color: #0a0a0a;

                padding-right: 3rem;
                text-align: inherit;
                white-space: nowrap;
                width: 100%;
            }
        }
    }

    tr:hover {
      background: #F4F4F4;

      form.submit-rating input[type="submit"] {
          visibility: visible;
      }
    }

    figure.image {
        flex-shrink: 1;
        min-width: 85px;
        display: flex;

        .course_image_thumbnail {
            object-fit: contain;
            height: 100%;
            width: auto;
        }
    }
  }
}

.text-secondary {
   color: #8f8f8f;
   font-size: 14px;
}

#delete_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
