<div class="container is-flex is-justify-content-center">
  <div id="form-title" class="title">Verify your email address</div>
</div>
<div class="container py-4">
  <figure class="image is-flex is-justify-content-center pr-5">
    <%= image_tag("email-sent-icon.png", class: "w-6rem") %>
  </figure>
</div>
<div class="container">
  <p class="has-text-centered">An email has just been sent to <span class="has-text-weight-semibold"><%= @new_email %><span>.</p>
  <p class="py-4  ">Please confirm your email address by either entering the 6-digit code attached inside
     or by clicking the link provided in the email.</p>
</div>
<div class="container">
  <%= form_with url: api_v1_pin_verify_email_url(@student_id, subdomain: false), id: "verify_email_form",
      method: 'post', local: false, html: {"data-type": "json"} do |f| %>
        <div class="notification py-3 mb-2 mt-1 error-border is-hidden"></div>
        <div class="field">
          <%= f.label :pin, "6-digit PIN", class: "label" %>
            <div class="control has-icons-left has-icons-right">
              <%= f.number_field :pin, class:"input", id: "verify_email_pin" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check is-success-green is-hidden"></i>
                </span>
            </div>
          <p class="help is-danger"></p>
        </div>
        <div class="is-flex is-justify-content-end">
          <%= f.submit "Sign Up", class: "button green-button" %>
        </div>
  <% end %>
</div>
