<%= form_with model: new_student, id:"signup-modal", class: "container tabs-body" do |f| %>
      <div class="field">
          <%= f.label :username, class: "label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.text_field :username, class: "input is-success" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </div>
          <p class="help is-success">This username is available</p>
      </div>
      <div class="field">
        <%= f.label :password, class: "label" %>
        <p class="control has-icons-left">
          <%= f.password_field :password, class: "input is-success" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <p class="control has-icons-left">
          <%= f.password_field :password, class: "input is-success" %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <%= f.label :email, class: "label" %>
          <div class="control has-icons-left has-icons-right">
              <%= f.email_field :email, class: "input is-danger" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-exclamation-triangle"></i>
              </span>
          </div>
        <p class="help is-danger">This email is invalid</p>
      </div>
      <%= f.hidden_field :time_zone, value: Time.now.strftime("%:z") %>
      <%= f.submit "Sign Up", class: "button green-button is-fullwidth" %>
<% end %>
