<div id="account_recovery" class="box form-box medium-modal">
  <div class="container is-flex is-justify-content-center">
    <%= image_tag image_path("bootstrap_logo.jpg"), size: "36x36", class:"mr-3" %>
    <div id="form-title" class="title fw-500">Recover your account</div>
  </div>
  <div class="container mt-5 mb-2">
    <div class="subtitle" id="account_recovery_subtitle">
        Please enter the email address linked to your account.
    </div>
  </div>
  <%= form_with(url: api_v1_recover_username_url(subdomain: false), method: "post", local: false, format: :json,
      namespace: "recovery", scope: "student", id: 'account_recovery_form', class: 'container') do |f| %>
        <div class="form-box" data-subtitle="Next, recover your username or reset your password by entering the username linked to your account.">
            <div class="field mt-5 mb-3">
              <%= f.label :email, "Email", class: "label" %>
              <div class="control has-icons-left has-icons-right">
                <%= f.email_field :email, class: "input email" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check is-success-green is-hidden"></i>
                  </span>
              </div>
              <p class="help is-danger"></p>
            </div>
            <div class="buttons is-justify-content-flex-end">
              <button id="continue_account_recovery" type="button" class="button green-button">Continue</button>
            </div>
        </div>
        <div class="form-box is-hidden" data-subtitle="Please enter the email address linked to your account.">
            <div class="field mt-5 mb-3">
              <%= f.label :email, "Email", class: "label" %>
              <div>
                <span class="subtitle" id="recovery_email_holder"></span>
                <span class=""><i class="fas fa-pencil-alt p-2" id="edit_recovery_email"></i></span>
              </div>
              <p class="help is-danger"></p>
            </div>
            <div class="field mt-5 mb-3">
              <%= f.label :username, "Username", class: "label" %>
              <div class="control has-icons-left has-icons-right">
                <%= f.text_field :username, class: "input student_username" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check is-success-green is-hidden"></i>
                  </span>
              </div>
              <p class="help is-danger"></p>
            </div>
            <div class="buttons is-justify-content-flex-end">
                <%= f.submit "Reset my password", id: "reset_password", class: "button green-button" %>
                <%= f.submit "Recover my username", class: "button green-button" %>
            </div>
        </div>
  <% end %>
  <div class="container is-hidden" id="username_recovery_complete">
      <figure class="image is-flex is-justify-content-center pr-5 my-5">
        <%= image_tag("email-sent-icon.png", class: "w-6rem") %>
      </figure>
      <p>Please check your email <span class="recovery_email_copy has-text-weight-medium"></span> in the next few minutes to retreive your username.</p>
      <div class="buttons is-justify-content-flex-end mt-3">
          <%= link_to "Back to Notebank", root_url(subdomain: false), class: "button green-button" %>
          <%= link_to "Start over", account_recovery_url(subdomain: false), class: "button is-light" %>
      </div>
  </div>
  <div class="container is-hidden" id="password_recovery_complete">
      <figure class="image is-flex is-justify-content-center pr-5 my-5">
        <%= image_tag("email-sent-icon.png", class: "w-6rem") %>
      </figure>
      <p class="mb-2">Check your email (<span class="recovery_email_copy has-text-weight-medium"></span>) in the next
        few minutes to access the password reset link for your <span class="recovery_username_copy has-text-weight-medium"></span> Notebook account.</p>
      <p>The password reset link will only be valid for up to two hours after the original email has been sent.</p>
      <div class="buttons is-justify-content-flex-end mt-5">
          <%= link_to "Back to Notebank", root_url(subdomain: false), class: "button green-button" %>
          <%= link_to "Start over", account_recovery_url(subdomain: false), class: "button is-light" %>
      </div>
  </div>
</div>
