
if ($("#sign_in_or_register_box")) {
    $("#sign_in_or_register_box").html("<%= j render('email_pin_form', new_email: @new_email) %>");
} else { // on the signup page where no #sign_in_or_register_box exists
    $("#sign_in_or_register_box_2").html("<%= j render('email_pin_form', new_email: @new_email) %>");
}
// for the email_pin_form
$("form#verify_email_form").on("ajax:success", function(response) {
      var json = response.detail[0];
      if (json.status == "ok") {
        sessionStorage.setItem("message", json.message);
        sessionStorage.setItem("message_type", "is-success"); // indicate success class
        window.location.replace(`${json.redirect}`);
      } else { // must be "error"
        addStatus($("#verify_email_pin"), "error");
        $(this).closest("form").find(".notification").removeClass("is-hidden").text(`${json.message}`);
      }
});

$("form#verify_email_form").on("input", "#verify_email_pin", function() {
    if ($(this).hasClass("is-danger")) {
        addStatus($(this), "neutral");
        $(this).closest("form").find(".notification").addClass("is-hidden").text("");
    }
});


function addStatus(div, status, message = "") {
    if (status == "error") {
        div.removeClass("completed-field");
        div.addClass("is-danger");
        div.parent().find(".fa-exclamation-triangle").removeClass("is-hidden");
        div.parent().find(".fa-check").addClass("is-hidden");
        div.parent().next().text(message);
    } else {
        div.removeClass("is-danger");
        div.parent().next().text("");

        if (status == "success") {
             div.parent().find(".fa-exclamation-triangle").addClass("is-hidden");
             div.parent().find(".fa-check").removeClass("is-hidden");
             div.addClass("completed-field");
         } else if (status == "neutral") {
             div.parent().find(".fa-exclamation-triangle").addClass("is-hidden");
             div.parent().find(".fa-check").addClass("is-hidden");
         } else {

         }
    }
}
