//console.log("<%= @new_student %>");
/*
if ($("#signup-modal").length == 0) {
  $("#sign_in_or_register_box").append("<%= j render('sign_up_form', new_student: @new_student) %>");
}
//console.log($("#sign_in_or_register_box tabs tab.is-active").data("linked-body"));

modal = $("#sign_in_or_register_modal");
modal.removeClass("is-invisible");
*/
