<div id="" class="box form-box medium-modal">
  <div class="container is-flex is-justify-content-center">
    <%= image_tag image_path("bootstrap_logo.jpg"), size: "36x36", class:"mr-3 brand_icon is-align-self-center" %>
    <div id="not-me-title" class="title fw-500">Password reset</div>
  </div>
  <div class="container mt-5 mb-2" id="complete_report_confirmation">
    <div class="subtitle" id="not_me_subtitle">
        Set a new password for your account.
    </div>
    <%= form_with(model: @student, url: api_v1_create_reset_password_url(subdomain: false), remote: true,
        html: {id: 'reset_password_form', class: 'completed-form'}) do |f| %>
        <div class="field">
          <%= f.label :password, "New password", class: "label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.password_field :password, class: "input password" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check is-success-green is-hidden"></i>
              </span>
          </div>
          <p class="help is-danger"></p>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirm your new password", class: "label" %>
          <div class="control has-icons-left has-icons-right">
            <%= f.password_field :password_confirmation, class: "input password_confirmation" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check is-success-green is-hidden"></i>
              </span>
          </div>
          <p class="help is-danger"></p>
        </div>
        <%= f.hidden_field :email_code, value: @email_code %>
        <div class="buttons is-justify-content-flex-end mt-5">
            <%= f.submit "Set new password", class:"button green-button" %>
        </div>
    <% end %>
  </div>
</div>
