<div id="" class="box form-box medium-modal">
  <div class="container is-flex is-justify-content-center">
    <%= image_tag image_path("bootstrap_logo.jpg"), size: "36x36", class:"mr-3 brand_icon is-align-self-center" %>
    <div id="not-me-title" class="title fw-500">Didn't create this account?</div>
  </div>
  <div class="container mt-5 mb-2" id="complete_report_confirmation">
    <div class="subtitle" id="not_me_subtitle">
        If you didn't create the account linked to <span class="has-text-weight-semibold"><%= @email %></span>,
        please let us know so that we can disable this account.
    </div>
    <%= form_for(:report_imposter, url: api_v1_not_me_confirmation_url(subdomain: false), remote: true,
        html: {id: 'report_not_me_form', class: 'buttons is-justify-content-flex-end'}) do |f| %>
        <%= f.hidden_field :encrypted_string, value: @encrypted_string %>
        <%= f.hidden_field :confirmation, value: true %>
        <%= f.submit "Report this account.", class:"button green-button" %>
        <%= link_to "This is my account.", root_url(subdomain: false), class:"button is-light" %>
    <% end %>
  </div>
  <div class="container mt-5 mb-2 is-hidden" id="completed_report" data-title="Account reported">
        <div class="subtitle mb-2">
            <p>Thank you for reporting this issue.</p>
            <p>The account linked to your email has now been disabled.</p>
        </div>
        <div class="buttons is-justify-content-flex-end">
          <%= link_to "Back to Notebank", root_url(subdomain: false), class: "button is-light" %>
        </div>
  </div>
</div>
