<div class="is-flex">
    <aside class="menu" id="sidebar">
        <figure class="image is-128x128 mx-auto">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </figure>
        <p class="has-text-centered my-4"><%= current_student.username %></p>
        <p class="menu-label">
        </p>
        <ul class="menu-list">
          <li><a class="is-active">Home</a></li>
          <li><a>HSC Notes</a></li>
          <li><a>Comments</a></li>
          <li><a>Payment History</a></li>
          <li><a>Payment methods</a></li>
          <li><a>Profile</a></li>
        </ul>
    </aside>
    <div id="main_panel" class="flex-grow">
      <section class="section py-5">
          <div class="container">
            <h1 class="title is-3">English</h1>
          </div>
      </section>
      <section class="section py-2 subject-categories">
          <div class="container">
            <div class="columns is-variable is-1">
              <div class="column">
                <a href="#" class="subtitle is-3">Standard</a>
              </div>
              <div class="column">
                <a href="#" class="subtitle is-3">Advanced</a>
              </div>
              <div class="column">
                <a href="#" class="subtitle is-3">Extension 1</a>
              </div>
              <div class="column">
                <a href="#" class="subtitle is-3">Extension 2</a>
              </div>
            </div>
          </div>
      </section>
      <section class="section pt-4 pb-2">
        <div class="container">
          <div class="tabs">
            <ul>
              <li class="is-active"><a>Notes</a></li>
              <li><a>Tests</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="section py-2">
        <div class="container is-flex is-justify-content-space-between">
              <div class="left-side is-flex is-align-items-center">
                <div class="h-min-content pr-2">Filter by:</div>
                <div class="field has-addons">
                  <div class="control">
                    <input class="input" type="text" placeholder="Find a repository">
                  </div>
                  <div class="control">
                    <a class="button is-info">
                      Search
                    </a>
                  </div>
                </div>
              </div>
              <div class="right-side is-flex is-align-items-center">
                <div class="h-min-content pr-2">Sort by:</div>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>Price</option>
                      <option>Atar</option>
                      <option>Popularity</option>
                      <option>Rating</option>
                      <option>Upload date</option>
                    </select>
                  </div>
                </div>
              </div>
        </div>
      </section>
      <section class="section pt-4 pb-2">
        <div class="container">
          <div class="columns">
            <% 4.times do %>
                <div class="column">
                  <div class="my-card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content p-0">
                      <div class="content">
                        <p class="content-title mb-0 py-1">Hey Trial papers for James Ruse</p>
                        <div class="is-flex is-justify-content-space-between is-align-items-center pb-1">
                          <div class="content-subtitle h-min-content c-dim-grey pt-0 mb-0">Timothy Wu
                          </div>
                          <div class="tags has-addons mb-0">
                            <span class="tag dark-grey-border mb-0">Mark</span>
                            <span class="tag mark mb-0">95</span>
                          </div>
                        </div>
                        <div class="tags topics mb-1 pt-1">
                            <span class="tag">One</span>
                            <span class="tag">Two</span>
                            <span class="tag">Three</span>
                        </div>
                        <div class="is-flex is-justify-content-space-between"><span>$19.99</span>
                          <span class="is-flex is-align-items-center">
                              <% 5.times do %>
                                <i class="far fa-star fa-xs"></i>
                              <% end %>
                                <p class="content-subtitle pl-1">(1538)</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
</div>
