
var clone = $("#photo_modal #preview_profile_photo").clone();
$("#photo_modal").removeClass("is-active");
$("#edit_avatar_box").empty();
$("#edit_avatar_box").append(clone);

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);