
form#edit_competition_form {
    trix-toolbar > .trix-button-row {
        span[data-trix-button-group="history-tools"] {
            display: none;
        }
    }

    trix-editor#competition_requirements.textarea {
        height: 15rem;
    }
}
