#new_competition_modal_body {
    .video-delete-bar {
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 3;
        display: flex;
        right: 0;

        .delete-video {
            background-color: #C70000;
            border-radius: 0 ;
        }
    }
}
