.rating-bars {
    display: flex;
    column-gap: 0.25rem;
    align-items: center;

    option {
        width: 1rem;
        height: 3rem;
        background-color: gainsboro;

        &.selected {
            background-color: royalblue;
        }

        &:hover {
            background-color: darkgrey;
        }
    }

    .rating-holder {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: gainsboro;
        margin-left: 1rem;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
}

#confirm_competition_winners_button {
    height: 2.15rem;
}

