$("#my-notebook-page-holder #unenroll_course_modal").removeClass("is-active");

var course_card = $("#my-notebook-page-holder .card[data-course-id-token='<%= @course.id_token %>']");

course_card.remove();