<div class="columns is-flex-wrap-wrap is-flex m-0 p-0">
  <% if competitions.present? %>
      <% competitions.each_with_index do |competition, index| %>
        <div class="column mb-5 p-0 is-flex-grow-0 card-holder">
            <%= link_to competition_url(subdomain: false, id: competition.id), class: "" do %>
                  <div class="card-image">
                    <figure class="image w-100">
                        <% if (videos.present? && videos[index].previewable?) %>
                            <%= image_tag videos[index].preview(resize_to_limit: [210, 150]),  class:"course_image_thumbnail border-radius-none" %>
                        <% else %>
                            <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail obj-cover border-radius-none") %>
                        <% end %>
                    </figure>
                  </div>
                  <div class="card-content p-0">
                      <div class="content p-2">
                        <div class="content-title mb-0"><%= competition.title %></div>
                        <div class="is-flex is-align-items-center mt-1">
                            <i class="far fa-user pr-1"></i>
                            <span class="content-subtitle">Justin</span>
                        </div>
                      </div>
                  </div>
            <% end %>
        </div>
      <% end %>
  <% else %>
        <div class="column bg-white">
            <div class="w-100 mt-5rem is-flex is-justify-content-center 
                        is-flex-direction-column is-align-items-center">
                <figure class="image is-192x192">
                    <%= image_tag(image_path("video-editing.png"), class: "h-min-content opacity-50") %>
                </figure>
                <p class="mb-2 is-size-5">This section has no competitions running.</p>
            </div>
        </div>
  <% end %>
</div>
