<div id="main_panel" class="flex-grow">
  <section class="section pt-4 pb-2 h-100" id="index_competitions_container">
    <div class="container">
      <p class="title is-2 pt-4">Online video editing competitions</p>
      <div class="secondary_header">
          Current competitions
      </div>
      <div class="competition-videos-holder">
          <%= render "index_competitions", competitions: @current_competitions, videos: @current_videos %>
      </div>
      <div class="secondary_header">
          Past competitions
      </div>
      <div class="competition-videos-holder">
          <%= render "index_competitions", competitions: @past_competitions, videos: @past_videos %>
      </div>
    </div>
  </section>
</div>

  <!--
           <div class="mx-0 pb-2" id="subject_tag_bar">
              <div class="tabs">
                <ul>  
                    <li class="is-active">
                        <%= link_to "Paid Competitions", paid_competitions_url(subdomain: false), remote: true %>
                    </li>
                    <li class="">
                        <%= link_to "Volunteer Competitions", volunteer_competitions_url(subdomain: false), remote: true %>
                    </li>
                    <li class="is-hidden">
                        <%= link_to "Learning projects", courses_url(subdomain: false), remote: true %>
                    </li>
                </ul>
             </div>
           </div>
      -->
