var joined = <%= @joined %>;
var competition_header_box = $("section#header_box");

if (joined) {
    competition_header_box.find("#join_competition_link").addClass("is-hidden");
    competition_header_box.find("#upload_video_submission_button").removeClass("is-hidden");
}

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);