<div id="main_panel" class="flex-grow">
  <div class="columns m-0 p-4" id="show_competition_container">
        <div class="column is-two-thirds">
            <section class="columns mx-0" id="header_box">
                <div class="column is-flex is-flex-direction-column">
                    <div class="p-0 card-content is-flex-grow-1 is-flex ">
                        <div class="content-header ">
                            <p class="title mb-3"><%= @competition.title %></p> 
                            <div class="is-flex is-align-items-center is-justify-content-space-between">
                                <p class="subtitle is-size-6 mb-2">
                                    <span><%= @client.username %></span>
                                    <span class="px-2">&middot;</span>
                                    <% if (Time.current < @utc_deadline) %>
                                        <span><%= distance_of_time_in_words(Time.current, @utc_deadline).gsub(/about? /, "")%> to go</span>
                                    <% else # deadline for submission has passed %>
                                        <% if (Time.current > @utc_results_date) # results announcement date has passed %>
                                              <span>Competition ended</span>
                                        <% else #results to be released later %>
                                              <span><%= distance_of_time_in_words(Time.current, @utc_results_date).gsub(/about? /, "")%> until results announced</span>
                                        <% end %>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                        <div class="prize-header is-flex-direction-column is-flex">
                            <p class="title mb-3"><%= @competition.has_prize ? "$#{@competition.prize_amount}" : "Volunteer"  %></p>
                        </div>
                    </div>
                    <div class="tag-bar mt-2 pr-3">
                        <div class="tabs">
                            <ul>  
                                <li class="is-active h-100" data-content-link="requirements-comments">
                                    <a class="mb-0 h-100">Requirements</a>
                                </li>
                                <li class="h-100" data-content-link="video-submissions">
                                    <a class="mb-0 h-100">Video submissions</a>
                                </li>
                                <li class="h-100 <%= 'is-hidden' unless @video_submission.present? %>" 
                                    data-content-link="my-submission">
                                    <a class="mb-0 h-100">My submission</a>
                                </li>
                            </ul>
                            <% if (Time.current < @utc_deadline) %>
                                <% if @competition_event.present? # joined comp %>
                                    <% if !@video_submission.present? %>
                                        <button class="is-link has-text-white w-min-content button has-text-weight-bold my-1 is-rounded" 
                                                id="upload_video_submission_button">Make Submission</button>
                                    <% else %>
                                        <button class="is-hidden is-success has-text-white w-min-content button has-text-weight-bold my-1 is-rounded" 
                                                id="submission_notification">Submission uploaded</button>
                                    <% end %>
                                <% else %>
                                    <button class="is-hidden is-link has-text-white w-min-content button has-text-weight-bold my-1 is-rounded" 
                                                id="upload_video_submission_button">Make Submission</button>
                                    <%= button_to "Join Competition", join_competition_url(subdomain: false, id: @competition.id), 
                                                class: "is-link has-text-white w-100 button has-text-weight-bold is-rounded my-1", 
                                                id: "join_competition_link", remote: :true, method: :post %>
                                <% end %>
                            <% end %>
                            <%= button_to competition_save_event_url(subdomain: false, competition_id: @competition.id), method: :delete, remote: :true, 
                                class: "button is-info my-1 is-rounded #{'is-hidden' unless (@save_event.present?)} ml-2", 
                                id: "remove_save_competition_button" do %>
                                <i class="fas fa-bookmark"></i>
                            <% end %>
                            <%= button_to competition_save_event_url(subdomain: false, competition_id: @competition.id), method: :post, remote: :true, 
                                class: "button is-light my-1 is-rounded #{'is-hidden' if (@save_event.present?)} ml-2", 
                                id: "save_competition_button" do %>
                                <i class="fas fa-bookmark"></i>
                            <% end %>
                            <!--  root_url(subdomain: false), index_by_subject_url(subdomain: false, subject: subject) -->
                        </div>  
                        
                    </div>
                </div>
            </section>
            <section class="columns m-0" id="content-tab-box">
                <div class="modal new_video_submission">
                    <div class="modal_background_light"></div>
                    <div class="modal-content video-submission" id="new_video_submission_modal_body">
                        <%= render 'video_submissions/new', competition: @competition %>
                    </div>
                </div>
                <div class="w-100" data-content="requirements-comments">
                    <!--
                        <p><i class="fas fa-angle-left"></i><span class="ml-2 read-link" data-read-less="description">Read more</span></p>
                    -->
                    <div id="requirements_section" class="light-border">
                        <div class="mb-2 subtitle has-text-weight-medium is-size-5 is-flex bg-whitesmoke p-3">
                            <span class="">Requirements:</span>
                        </div>
                        <div id="requirements_text" class="content my-2 h-auto">
                            <%= @requirements %>
                        </div>
                        <!--
                        <div class="read-link" data-read-more="false">
                            <i class="fas fa-angle-left"></i>
                            <span class="ml-1">SHOW MORE</span>
                        </div>
                        -->
                    </div>
                    <div id="comments_section" class="">
                        <div class="subtitle has-text-weight-medium is-size-5" id="comments_section_header"> 
                            <span id="comment-counter" data-comment-counter="<%= @comments.count %>">  
                                <%= "#{@comments.present? ? pluralize(@comments.count, "Comment") : 'O Comments' }" %>
                            </span>
                            <!--
                            <span id="comment-dropdown-sort">  
                                <span class="sort-text">Sort by:</span>
                                <div class="dropdown is-right">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                        <span>New</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content">
                                            <a href="#" class="dropdown-item">
                                                Newest
                                            </a>
                                            <a href="#" class="dropdown-item">
                                                Most upvotes
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            -->
                        </div>
                        <% if logged_in_as_student? %>
                            <%= form_with(scope: :comment, url: competition_comments_url(subdomain: false, competition_id: @competition.id), 
                                local: false, id: "new_comment_form") do |f| %>
                                <figure class="comment-author-image image is-64x64">
                                    <% if current_student.image.attached? %>
                                        <%= image_tag current_student.image, class:"border-radius-circle" %>
                                    <% else %>
                                        <img src="https://bulma.io/images/placeholders/256x256.png">
                                    <% end %>
                                </figure>
                                <%= f.text_area :body, rows: 1, class: "textarea", id: "new_comment_textarea", 
                                    placeholder: "Add a comment" %>
                                <div class="buttons mt-2" id="new_comment_buttons">
                                    <%= f.submit "Post comment", class: "button is-info" %>
                                </div>
                            <% end %>
                        <% else %>
                            <%= link_to login_url(subdomain: false) do %>
                                <div id="new_comment_form" class="pb-4">
                                    <figure class="comment-author-image image is-64x64">
                                        <img src="https://bulma.io/images/placeholders/256x256.png">
                                    </figure>
                                    <textarea rows="1" class="textarea" id="new_comment_textarea" 
                                              placeholder="Add a comment" readonly> 
                                    </textarea>
                                </div>
                            <% end %>
                        <% end %>
                        <div id="comments_list" class="content my-2 pt-3">
                                <% if @comments.present? %>
                                    <% @comments.each_with_index do |comment, index| %>
                                        <div class="comment-block-holder mb-4" data-comment-id="<%= comment.id %>">
                                            <div class="comment-block">
                                                <figure class="comment-author-image image is-64x64">
                                                    <% if @comment_authors[index].image.attached? %>
                                                        <%= image_tag @comment_authors[index].image, class:"border-radius-circle" %>
                                                    <% else %>
                                                        <img src="https://bulma.io/images/placeholders/256x256.png">
                                                    <% end %>
                                                </figure>
                                                <div class="comment-heading mb-1">
                                                    <span class="comment-author"><%= @comment_authors[index].username %></span>
                                                    <% if (@comment_authors[index].id == @competition.student_id) %>
                                                        <span class="comment-author-status client">Client</span>
                                                    <% else %>
                                                        <% if @array_of_contestant_ids.include?(@comment_authors[index].id) %>
                                                            <span class="comment-author-status contestant">Contestant</span>
                                                        <% end %>
                                                    <% end %>                                             
                                                    <span class="dot-seperator">&#8226</span>
                                                    <span class="comment-time-ago">
                                                        <%= time_ago_in_words(comment.updated_at).gsub(/about? /, "") %> ago
                                                        <%= '(edited)' unless (comment.created_at == comment.updated_at) %>
                                                    </span>
                                                    <div class="dropdown is-right">
                                                        <div class="dropdown-trigger">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </div>
                                                        <div class="dropdown-menu" id="comment-dropdown-menu" role="menu">
                                                            <div class="dropdown-content">
                                                                <% if (@comment_authors[index].id == current_student&.id) %>
                                                                    <div class="dropdown-item edit">
                                                                        <span>Edit</span>
                                                                    </div>
                                                                    <div class="dropdown-item">
                                                                        <%= link_to "Delete", comment_url(subdomain: false, id: comment.id),
                                                                                            remote: true, method: :delete,  data: { confirm: "Are you sure you want to delete this comment?" }  %>
                                                                    </div>
                                                                <% else %>
                                                                    <a href="#" class="dropdown-item cursor-no">
                                                                        Report
                                                                    </a>
                                                                <% end %>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="comment-body" data-comment-id="<%= comment.id %>">
                                                        <%= form_with(model: comment, class: "update_comment_form is-hidden", local: false) do |f| %>
                                                            <%= f.text_area :body, class: "textarea", value: comment.body %>
                                                            <div class="buttons">
                                                                <button class="cancel-edit button is-light" type="button">Cancel</button>
                                                                <%= f.submit "Update comment", class: "button is-info" %>
                                                            </div>
                                                        <% end %>
                                                        <div class="comment-full-text"><%= comment.body %></div>
                                                </div>
                                                <div class="comment-buttons mt-1">
                                                    <% if logged_in_as_student? %>
                                                        <button class="upvote-box button is-small">
                                                            <% if @student_upvoted_comment_ids.include?(comment.id) %>
                                                                <%= link_to upvote_comment_url(subdomain: false, id: comment.id), method: :delete, remote: true, class:"button is-small" do %>
                                                                    <i class="fas fa-lg fa-chevron-up upvoted"></i>  
                                                                <% end %>
                                                            <% else %>
                                                                <%= link_to upvote_comment_url(subdomain: false, id: comment.id), method: :post, remote: true, class:"button is-small" do %>
                                                                    <i class="fas fa-lg fa-chevron-up"></i>  
                                                                <% end %>
                                                            <% end %>
                                                            <span class="upvote-counter"><%= comment.upvotes.count %></span>
                                                        </button>
                                                        <span class="reply-button" data-logged-in='<%= logged_in_as_student? %>'>
                                                                Reply
                                                        </span>
                                                    <% else %>
                                                            <button class="upvote-box button is-small">
                                                                <%= link_to login_url(subdomain: false) do %>
                                                                     <i class="fas fa-lg fa-chevron-up"></i>   
                                                                <% end %>
                                                                <span class="upvote-counter"><%= comment.upvotes.count %></span>
                                                            </button>
                                                            <span class="reply-button" data-logged-in='<%= logged_in_as_student? %>'>
                                                                    Reply
                                                            </span>
                                                    <% end %>
                                                </div>   
                                            </div>
                                            <%= form_with(scope: :comment, url: create_reply_comment_url(subdomain: false, id: comment.id), 
                                                class: "is-hidden new_reply_form", local: false) do |f| %>
                                                <%= f.text_area :body, class: "textarea comment_reply_body", id: "", value: "" %>
                                                <div class="buttons">
                                                    <button class="cancel-edit button is-light" type="button">Cancel</button>
                                                    <%= f.submit "Post reply", class: "button is-info" %>
                                                </div>
                                            <% end %>        
                                            <div class="comment-replies-list">
                                                <% if (@comment_replies[index].present?) %>
                                                    <% @comment_replies[index].each_with_index do |comment_reply, second_index| %>
                                                        <div class="comment-reply-block" data-comment-id="<%= comment_reply.id %>">
                                                            <div class="comment-heading mb-2">
                                                                <span class="comment-author"><%= @comment_reply_authors[index][second_index].username %></span>
                                                                <% if (@comment_reply_authors[index][second_index].id == @competition.student_id) %>
                                                                    <span class="comment-author-status client">Client</span>
                                                                <% else %>
                                                                    <% if @array_of_contestant_ids.include?(@comment_authors[index].id) %>
                                                                        <span class="comment-author-status contestant">Contestant</span>
                                                                    <% end %>
                                                                <% end %>         
                                                                <span class="dot-seperator">&#8226</span>
                                                                <span class="comment-time-ago">
                                                                    <%= time_ago_in_words(comment_reply.updated_at).gsub(/about? /, "") %> ago
                                                                    <%= '(edited)' unless (comment_reply.created_at == comment_reply.updated_at) %>
                                                                </span>
                                                                <div class="dropdown is-right">
                                                                    <div class="dropdown-trigger">
                                                                        <i class="fas fa-ellipsis-v"></i>
                                                                    </div>
                                                                    <div class="dropdown-menu" role="menu">
                                                                        <div class="dropdown-content">
                                                                            <% if (@comment_reply_authors[index][second_index].id == current_student&.id) %>
                                                                                <div class="dropdown-item edit">
                                                                                    <span>Edit</spam>
                                                                                </div>
                                                                                <div class="dropdown-item">
                                                                                    <%= link_to "Delete", comment_url(subdomain: false, id: comment_reply.id),
                                                                                        remote: true, method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
                                                                                </div>
                                                                            <% else %>
                                                                                <a href="#" class="dropdown-item">
                                                                                    Report
                                                                                </a>
                                                                            <% end %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="comment-body" data-comment-id="<%= comment_reply.id %>">
                                                                <%= form_with(model: comment_reply, class: "update_reply_form is-hidden", local: false) do |f| %>
                                                                    <%= f.text_area :body, id: "", class: "textarea", value: comment_reply.body %>
                                                                    <div class="buttons">
                                                                        <button class="cancel-edit button is-light" type="button">Cancel</button>
                                                                        <%= f.submit "Update comment", class: "button is-info" %>
                                                                    </div>
                                                                <% end %>
                                                                <div class="comment-full-text"><%= comment_reply.body %></div>
                                                            </div>
                                                        </div>
                                                    <% end %>
                                                <% end %>
                                            </div>                                 
                                        </div>
                                    <% end %>
                                <% end %>
                        </div>
                        <% if (@comments.present?) %>
                            <% if (@comments.length > 10) %>
                                <div class="mt-4 button" id="load_more_comments_button">
                                    <span class="ml-1">More comments</span>
                                </div>
                            <% end %>
                        <% else %>
                            <div class="pt-4 has-text-centered comments-placeholder">Be the first to comment.</div>                            
                        <% end %>
                    </div>
                </div>
                <div class="w-100 is-hidden" id="video_submissions" data-content="video-submissions">
                    <div class="mb-0 subtitle has-text-weight-medium is-size-5 light-border bg-whitesmoke">
                        <span class="p-3">Video Submissions:</span>
                    </div>
                    <div class="columns is-flex-wrap-wrap is-flex m-0 py-4">
                        <% @competition_video_submissions.each_with_index do |video_submission, index| %>
                            <div class="column mb-5 p-0 card-holder">
                                <%= link_to video_submission_url(subdomain: false, id: video_submission.id), class: "" do %>
                                    <div class="card-image">
                                        <figure class="image w-100">
                                            <% if @competition_submission_videos[index].previewable? %>
                                                <%= image_tag @competition_submission_videos[index].preview(resize_to_limit: [300, 200]),  
                                                    class:"course_image_thumbnail border-radius-none" %>
                                            <% else %>
                                                <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail obj-cover border-radius-none") %>
                                            <% end %>
                                        </figure>
                                    </div>
                                    <div class="card-content p-0">
                                        <div class="content p-2">
                                            <div class="content-title mb-0"><%= video_submission.title %></div>
                                            <div class="is-flex is-align-items-center mt-1">
                                                <i class="far fa-user pr-1"></i>
                                                <span class="content-subtitle"><%= @video_submission_submitters[index].username %></span>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                        <% @submission_placeholders.each do |placeholder_number| %>
                            <div class="column mb-5 p-0 card-holder is-invisible">
                                <div class="card-image">
                                    <figure class="image w-100">
                                        <%= image_tag(image_path("image_placeholder.png"), 
                                            class:"course_image_thumbnail obj-cover border-radius-none placeholder") %>
                                    </figure>
                                </div>
                                <div class="card-content p-0">
                                    <div class="content p-2">
                                        <div class="content-title mb-0">Placeholder</div>
                                        <div class="is-flex is-align-items-center mt-1">
                                            <i class="far fa-user pr-1"></i>
                                            <span class="content-subtitle">Placeholder</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <% if @competition_video_submissions.empty? %>
                               <div class="column bg-white">
                                    <div class="w-100 mt-5rem is-flex is-justify-content-center 
                                                is-flex-direction-column is-align-items-center">
                                        <figure class="image is-128x128 my-4">
                                            <%= image_tag(image_path("no_videos.png"), class: "h-min-content opacity-50") %>
                                        </figure>
                                        <p class="my-2 is-size-5">No videos have been submitted.</p>
                                        <%= link_to "Make a submission", root_url(subdomain: false), class: "is-link button my-3" %>
                                    </div>
                                </div>
                        <% end %>
                    </div>
                </div>
                <div class="w-100 light-border is-hidden" id="my_submission" data-content="my-submission">
                    <div class="modal">
                        <div class="modal_background_light"></div>
                        <div class="modal-content video-submission" id="update_video_submission_modal_body">
                        </div>
                    </div>
                    <div class="mb-0 subtitle has-text-weight-medium is-size-5 is-flex is-justify-content-space-between is-align-items-center bg-whitesmoke py-0">
                        <span class="p-3">My Submission:</span>
                        <% if @video_submission.present? %>
                            <%= link_to "Edit submission", edit_video_submission_url(subdomain: false, id: @video_submission.id), 
                                remote: true, class:"button is-link is-rounded mr-3 w-min-content", 
                                id: "edit_submission_button" %>
                        <% else %>
                            <%= link_to "Edit submission", "#", remote: true,
                                class:"button is-hidden is-link is-rounded mr-3 w-min-content", 
                                id: "edit_submission_button" %>
                        <% end %>
                    </div>
                    <div class="columns is-flex-wrap-wrap is-flex m-0 p-4">
                        <div class="column mb-5 p-0 card-holder is-flex">
                            <% if @video_submission.present? %>
                                <%= link_to video_submission_url(subdomain: false, id: @video_submission.id),
                                        class: "show-submission-link w-100 is-flex" do %>
                                        <div class="card-image">
                                            <figure class="image w-100">
                                                <% if @video_submission_video.previewable? %>
                                                    <%= image_tag @video_submission_video.preview(resize_to_limit: [300, 200]),  
                                                        class:"course_image_thumbnail border-radius-none" %>
                                                <% else %>
                                                    <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail obj-cover border-radius-none") %>
                                                <% end %>
                                            </figure>
                                        </div>
                                        <div class="card-content py-2 pl-4 pr-0 is-flex-grow-1">
                                            <div class="field">
                                                <label class="label">Title:</label>
                                                <div class="control">
                                                    <span id="my_submission_title"><%= @video_submission.title %></span>
                                                </div>
                                            </div>
                                            <div class="field h-100 is-flex is-flex-direction-column">
                                                <label class="label">Description:</label>
                                                <div class="control is-flex-grow-1">
                                                    <span id="my_submission_description"><%= @video_submission.description %></span>
                                                </div>
                                            </div>
                                        </div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="column is-flex-grow-0 is-one-third" id="right_column_note_info">
            <div class="download-box">
                <% if @video.attached? %>
                    <%= video_tag rails_blob_path(@video), controls: true, class: "video-player mb-1" %>
                    <!-- <div class="content-title"></div> -->
                    <% if (Time.current < @utc_deadline) %>
                        <% if logged_in_as_student? %>
                            <!-- <button class="button w-min-content is-link mr-3" id="upload_video_submission_button">Submit a video</button> -->
                            <%= link_to "Download Video", rails_blob_path(@video, disposition: 'attachment'), 
                                class: "is-link has-text-white w-100 button", id: "download_video_link" %>
                        <% else %>
                            <%= link_to "Download Video", login_url(subdomain: false), 
                                class: "is-link has-text-white w-100 button", id: "download_video_link" %>
                        <% end %>
                    <% end %>
                <% else %>
                    <div class="" id="video-missing-placeholder">
                        <figure class="image is-4by3">
                            <%= image_tag(image_path("video-missing-2.png"), class: "") %>
                        </figure>
                    </div>
                    <button>Video missing</button>
                <% end %>
            </div>
            <div class="note-basic-details">
                <div class="columns m-0 w-100 px-4 py-2 is-flex-direction-row border-bottom-gb">
                    <div class="column is-half">
                        <div class="">Start date:</div>
                    </div>
                    <div class="column is-half">
                        <div class=""><%= local_time(@competition.start_date).strftime("%d %B %Y") %></div>
                    </div>
                </div>
                <div class="columns m-0 w-100 px-4 py-2 is-flex-direction-row border-bottom-gb">
                    <div class="column is-half">
                        <div class="">Deadline:</div>
                    </div>
                    <div class="column is-half">
                        <div class=""><%= local_time(@competition.deadline_date).strftime("%d %B %Y") %></div>
                    </div>
                </div>
                <div class="columns m-0 w-100 px-4 py-2 is-flex-direction-row border-bottom-gb">
                    <div class="column is-half">
                        <div class="">Results date:</div>
                    </div>
                    <div class="column is-half">
                        <div class=""><%= local_time(@competition.results_date).strftime("%d %B %Y") %></div>
                    </div>
                </div>
            </div>
            <div id="client-box" class="p-3 mt-4">
                <div class="is-flex w-100 is-justify-content-space-between">
                    <div class="author-header">
                        <p class="subtitle py-0 is-size-5 mb-1"><%= @client.username %></p>
                        <p class="py-0 is-size-6 mb-0 color-dark-grey"><%= @client.occupation %></p>
                    </div>
                    <% if @client.image.attached? %>
                        <figure class="image">
                            <%= image_tag(@client.image) %>
                        </figure>
                    <% else %>
                        <i class="fas fa-user-circle fa-3x ml-2"></i>
                    <% end %>
                </div>
                <hr class="w-100 my-2">
                <div class="mb-1">
                    <span class="has-text-grey is-size-6"><%= @client.background_info %></span>
                </div>
                <p><i class="fas fa-angle-left"></i><span class="ml-2 read-link" data-read-less="bio">Read more</span></p>
            </div>
        </div>
  </div>
</div>
