// Place all the styles related to the learning/Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* #list-background {
    z-index: 7;
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% - 3.25rem);
    height: 100%;
    overflow: auto;
} */

#main_learning_panel {
    max-width: calc(100vw - 3.25rem);
    height: 100vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    #topLearningNavbar {
        display: flex;
        justify-content: space-between;

        .navbar-start {
            flex-basis: 30%;
            font-size: 14px;
        }
        
        .navbar-end {
            flex-basis: 30%;
            font-size: 14px;
        }

        .navbar-middle {
            flex-basis: 40%;
            text-align: center;
            display: flex;
            align-items: center;
            position: relative;
            flex-direction: column;

            #module-progress, progress.progress {
                height: 0.5rem;
            }

            #module-progress {
                background-color: #E6E6E6;
                width: 100%;
            }

            progress.progress {
                border-radius: 0px;
                transition : width .6s cubic-bezier(0.16, 1, 0.3, 1);
            }
        }
    }

    #show_learning_container {
        flex-grow: 1;

        #learning_left_column_filler {
            flex: 0 1 auto;
            width: 12.5%;
            padding: 0;

            nav.quiz_questions_content {
                padding-left: 1rem;
                background-color: #F2F2F2;
                height: 100%;

                ul {
                    padding-top: 1.2rem;

                    li.completed {
                        border-left: 4px solid #525289;
                    }

                    li.selected {
                        color: white;
                        background-color: #c8c8de;
                        display: flex;

                        & > span {
                            color: black;
                            padding-left: 1rem;
                        }

                        &.completed {
                            border-left: 4px solid #525289;
                            & > span {
                                padding-left: 0.75rem;
                            }
                        }
                    }

                    li > a, li > span {
                        padding: 0.5rem 0.5rem 0.5rem 0.75rem;    
                        width: 100%;
                    }

                    li:not(.selected) {
                        display: flex;

                        & > a {
                            color: #6c757d;
                            &:hover { 
                                color: black;
                                background-color: #c8c8de;
                            }
                        }
                    }

                    li:not(.selected):not(.completed) {
                        & > a {
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }

        #middle_column_learning {
            figure.attachment {
                margin-left: 0;
                margin-bottom: 1rem;
            }

            .content video {
                width: 100%;
                height: auto;
            }

            #video-missing-placeholder {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: rgb(106, 106, 106);
                height: 40vh;
            }
        }

        #learning_right_column_filler {
            flex: 1 1 0;
            max-width: 4rem;
        }

        #right_column_learning_continue {
            border-left: 1px solid gainsboro;
            flex: none;
            width: 38%;

            #course-index-list-holder {
                //opacity: 0;
                //visibility: hidden;
                //transition: visibility 0s, opacity 0.75s linear;
                background-color: white;
                border: 10px solid #ddd;
                height: calc(100vh - 60px);

                #course-index-header {
                    padding: 10px;
                    background-color: whitesmoke;
                    border-bottom: 1px solid gainsboro;
                    height: 6rem;

                    .course-details {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        svg {
                            height: 1.25rem;
                            position: relative;
                            bottom: -4px;
                        }
                    }
                }

                #course-index-list {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    max-height: calc(100% - 6rem);
                    overflow-y: scroll;
                    padding-top: 1rem;
                    padding-bottom: 1rem;

                    ul {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        align-items: baseline;
                        list-style: inside;

                        a {
                            padding-left: 0.25rem;
                        }
                    }

                    ul.module-list {
                        padding-left: 2rem;
                        padding-bottom: 0.5rem;

                        & > li {
                            font-size: 1.1rem;
                            padding-bottom: 0.25rem;
                            padding-left: 2ch;
                            list-style: none;
                            display: flex;
                            align-items: center;

                            svg {
                                height: 1rem;
                            }
                        }

                        &.current {
                            & > li {
                                font-weight: bold;
                            }
                        }
                    }

                    ul.lesson-list {
                        width: -moz-available;

                        a {
                            padding-left: 1.5rem;
                            color: rgb(74, 74, 74);
                            padding-bottom: 0.25rem;
                            padding-top: 0.25rem;
                            width: inherit;
                        }

                        & > li {
                            padding: 0;
                            display: flex;
                            align-items: center;
                            padding-left: 1.5rem;
                            width: 100%;

                            & > a:hover {
                                color: black;
                                background-color: #D6E0EA;
                                cursor: pointer;
                            }
                        }

                        & > li.current {
                            //color: black;
                            //background-color: #D6E0EA;
                            cursor: auto;
                            padding-left: 0rem;
                            
                            & > a[data-completed="true"] {
                                margin-left: 0px;
                            }

                            & > a {
                                background-color: #D6E0EA;
                                color: black;
                            }

                            /*
                            &:before {
                                content: "►";
                                display: block;
                                float: left;
                                width: 1.2em;
                            } */
                        }

                        & > li > a[data-completed="true"] {
                            border-left: 4px solid navy;
                            padding-left: 1.25rem;
                        }

                        span.right-arrow {
                            margin-right: 0.5rem;
                            min-width: 1rem;
                        }
                    }

                    .italic-light {
                        font-style: italic;
                        color:rgb(106, 106, 106);
                    }
                }
            }
            // give up on fade-in for now
            //#course-index-list-holder.fade-in {
            //    opacity: 1;
            //    visibility: visible;
            //}

            .module-progress-box {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                align-items: center;
                flex-grow: 1;

                #lesson-triad {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    #contents-button {
                        border: 1px solid darkgray;
                        border-radius: 4rem;
                        padding: 0.25rem 0.75rem;
                        width: fit-content;
                    }

                    .lesson-tracker {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            margin-left: 0.5rem;
                            height: 20px;
                            width: 20px;
                        }
                    }

                    .flex-bar-controls {
                        width: 100%;
                        position: relative;
                        align-items: center;
                        min-height: 3rem;

                        img.arrow-button {
                            position: absolute;
                            height: 2rem;
                            padding: 0.25rem;
                            border-radius: 4px;

                            &:hover {
                                border: 1px solid darkgray;
                                cursor: pointer;
                            }
                        }

                        .arrow-button.left {
                            left: -2.5rem;
                        }

                        .arrow-button.right {
                            right: -2.5rem;
                        }
                    }

                    .flex-bars {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: center;

                        .flex-bar {
                            height: 2.5rem;
                            background-color: white;
                            border: 1px solid #a8a8cb;
                            flex-grow: 1;
                            margin-right: 0.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            max-width: 33.333%;

                            svg {
                                max-width: 2rem;
                                height: 1.5rem;
                            }
                        }

                        .flex-bar:not(.selected):hover {
                            background-color: #ccc;
                            cursor: pointer;
                        }

                        .flex-bar.selected, .flex-bar.selected.user-completed {
                            background-color: #525289;
                            border: 1px solid #525289;
                        }

                        .flex-bar.selected.is-incomplete {
                            background: repeating-linear-gradient(-45deg, 
                                        #c8c8de, white 7.5px, 
                                        #a8a8cb 7.5px, #a8a8cb 15px);
                            border: 1px solid #525289;
                        }

                        .flex-bar.user-completed {
                            background-color: #a8a8cb;
                        }

                        .flex-bar.is-incomplete:not(.selected) {
                            background: repeating-linear-gradient(-45deg, 
                                        transparent, transparent 7.5px, 
                                        #c8c8de 7.5px, #c8c8de 15px);
                                        border: 1px solid #c8c8de;

                            &:hover {
                                background: repeating-linear-gradient(-45deg, 
                                transparent, transparent 7.5px, 
                                #a8a8cb 7.5px, #a8a8cb 15px);
                            }
                        }

                        .flex-bar:last-child {
                            margin-right: 0rem;
                        }
                    }
                }

                #lesson-inputs {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    #completed-course-box {
                        i.fa-check {
                            color: #48c78e;
                            margin-bottom: 2px;
                        }
                    }

                    .options-holder {
                        width: 100%;

                        label.radio {
                            display: flex;
                            align-items: center;
                            margin-left: 0;
                            padding: 1rem;
                            margin-bottom: 0.5rem;
                            border-radius: 4px;

                            input[type='radio'] {
                                height: 1.5rem;
                                width: 1.5rem;
                            }

                            span.option-text {
                                font-size: 1rem;
                                margin-left: 1rem;
                            }

                            &:hover {
                                background-color: #f0f0f0;
                            }
                            
                            &.success-border, &.error-border {
                                border: 1px solid #d8d8d8;
                                box-shadow: 0 1px 8px -4px #333;
                            }

                            &.success-border {
                                i.fa-check {
                                    color: #48c78e;
                                }
                            }

                            &.is-opaque {
                                opacity: 0.5;
                            }
                        }
                    }

                    #answer-box, #completed-course-box {
                        width: 100%;
                        font-size: 1.25rem;
                        margin-bottom: 0.75rem;
                        margin-top: 0.75rem;
                    }

                    #answer-box {
                        padding-left: 1rem;
                    }

                    #completed-course-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}