<div class="card">
  <div class="card-content pb-3">
    <div class="subtitle mb-4 is-flex is-justify-content-space-between">
      <span>Permanently delete this upload?</span>
      <span>
        <i class="fas fa-times fa-lg m-close blue-close"></i>
      </span>
    </div>
    <div class="container" id="delete_container">
      <div class="columns mb-0 mt-2">
          <div class="column is-one-third py-0">
              <figure class="column image pdf_loading pdf_border is-justify-content-center is-flex-direction-column .pdf_dimensions">
                  <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                  <%= image_tag(@upload.pdf.preview(resize_to_fill: (@upload.is_horizontal? ?
                      [840, (840/@upload.paper_size_ratio).to_i] : [(840/@upload.paper_size_ratio).to_i, 840]),
                      gravity: "NorthEast"), class:"pdf_thumbnail_box pdf_border is-hidden h-100px") %>
                  <div class="pdf_pages opaque_overlay">
                      <%= single_case(upload.number_of_pages, "pages") %>
                  </div>
              </figure>
          </div>
          <div class="column is-two-thirds" id="delete_details">
              <div>
                 <p class=""><%= @upload.title %></p>
                 <p class="color-secondary">Uploaded <%= @upload.created_at.strftime("%d %b, %Y") %></p>
              </div>
              <div class="price">
                 <span>Sold 15 copies.</span>
              </div>
          </div>
      </div>
    </div>
  </div>
  <footer class="card-footer is-justify-content-end">
        <%= button_to dashboard_upload_url(@upload.id_token, subdomain: "dashboard"),
            id: "upload_again_modal_button", class: "button is-link my-2",
            method: :delete, remote: :true do %>
            <span>Delete forever</span>
        <% end %>
      <button type="button" class="button is-light mr-5 ml-2 my-2 m-close">Close</button>
  </footer>
</div>
