<div class="card">
  <div class="card-content pb-3">
    <div class="subtitle mb-4 is-flex is-justify-content-space-between">
      <span>Course created</span>
      <span>
        <i class="fas fa-times fa-lg m-close blue-close"></i>
      </span>
    </div>
    <div class="container success_container">
      <div class="columns mb-0">
          <div class="column is-one-third pb-0">
              <figure class="image pdf_loading pdf_border">
                  <span class="is-text-align-center" id="image_loading_placeholder">Image loading...</span>
                  <% if course.image.representable? %>
                      <%= image_tag(course.image.representation(resize_to_fill: [840,600]), id:"pdf_thumbnail_success", class:"pdf_thumbnail_box pdf_border is-hidden") %>
                  <% end %>
                  <!-- image_tag(course.image.preview(resize_to_fill: (course.is_horizontal? ?
                                [840, (840/course.paper_size_ratio).to_i] : [(840/course.paper_size_ratio).to_i, 840]),
                                gravity: "NorthEast"), id:"pdf_thumbnail_success", class:"pdf_thumbnail_box pdf_border is-hidden") -->
                  <!-- <div class="pdf_pages opaque_overlay">
                      <% single_case(course.videos_count,"pages") %>
                  </div> -->
              </figure>
          </div>
          <div class="column is-two-thirds success_details">
              <div>
                 <p><%= course.title %></p>
                 <p class="color-secondary">Uploaded <%= course.created_at.strftime("%d %b, %Y") %></p>
              </div>
              <div class="price">
                 <span><%= course.is_premium ? "Free" : "Premium" %></span>
              </div>
          </div>
      </div>
    </div>
  </div>
  <footer class="card-footer is-justify-content-end pb-2">
        <button id="upload_again_modal_button" class="button is-link my-2 ml-5" do %>
            <span>Upload Another</span>
        </button>
      <button type="button" class="button is-light mr-5 ml-2 my-2 m-close">Close</button>
  </footer>
</div>
