  <table id="uploads_table" class="table w-100">
    <thead>
      <tr>
        <th>
          <input type="checkbox" class="outline_none mr-2 w-min-content" id="selectnote_page_notes">
          <span>Course</span>
        </th>
        <th>Date</th>
        <th class="has-text-right">Enrolments</th>
        <th class="has-text-right">Saves</th>
        <!-- <th class="has-text-right">Comments</th> -->
      </tr>
    </thead>
    <tbody>
      <% @created_courses.each do |course| %>
        <tr data-upload-id-token="<%= course.id_token %>">
              <td class="is-flex">
                <label class="checkbox w-min-content is-align-self-center">
                    <input type="checkbox" class="outline_none w-min-content">
                </label>
                <figure class="column image is-justify-content-center is-flex-direction-column">
                    <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                    <% if course.image.representable? %>
                      <%= image_tag(course.image.representation(resize_to_limit: [840,600]), class:"course_image_thumbnail is-hidden") %>
                    <% end %>
                    <!-- image_tag(upload.pdf.preview(resize_to_fill: (upload.is_horizontal? ?
                                  [840, (840/upload.paper_size_ratio).to_i] : [(840/upload.paper_size_ratio).to_i, 840]),
                                  gravity: "NorthEast"), class:"pdf_thumbnail_box pdf_border is-hidden") %>
                    <div class="pdf_pages opaque_overlay">
                        < single_case(upload.number_of_pages, "pages") >
                    </div> -->
                </figure>
                <div class="column note-column">
                    <p><%= course.title %></p>
                    <p class="text-secondary is-clipped"><%= course.description %></p>
                    <div class="note_options is-hidden">
                      <%= link_to edit_dashboard_course_url(course.id_token, subdomain: "dashboard") do %>
                          <i class="fas fa-pencil-alt"></i>
                      <% end %>
                      <%= link_to "#" do %>
                          <i class="far fa-comment-alt"></i>
                      <% end %>
                      <%= link_to "#" do %>
                          <i class="far fa-file"></i>
                      <% end %>
                      <%= link_to delete_dashboard_course_url(course.id_token, subdomain: "dashboard"), remote: true do %>
                          <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                </div>
              </td>
              <!-- <td><span>< "$%.2f" % course.price unless course.price.nil? ></span></td> -->
              <td><span><%= course.created_at.strftime("%d %b, %Y") %></span></td>
              <td><p class="has-text-right">13</p></td>
              <td><p class="has-text-right">60</p></td>
              <!-- <td><p class="has-text-right">N/A</p></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bulma_nav(@pagy).html_safe %>
