<aside class="menu pt-0 px-4" id="dashboard_sidebar">
    <div id="aside_header" class="py-4">
        <span>Instructor dashboard</span>
    </div>
    <ul class="menu-list" id="student-menu-list">
        <li><%= link_to "Competitions", dashboard_student_competitions_url(current_student.username) %></li>
        <li><%= link_to "Courses", content_dashboard_student_courses_url(current_student.username), 
          class: "is-active"%></li>
    </ul>
</aside>
<div id="index-dashboard-body" class="flex-grow w-100 is-flex is-flex-direction-column">
    <div class="dashboard-panel is-flex-grow-1">
      <section class="section pt-4 pb-2">
          <div class="container is-flex is-justify-content-space-between">
            <h1 class="title is-4 mb-0">Courses</h1>
            <div class="left-side is-flex h-min-content">
                <div class="field has-addons">
                  <div class="control">
                    <input class="input is-sl-small" type="text" placeholder="Search uploads, notes...">
                  </div>
                  <div class="control">
                    <a class="button is-info is-sl-small">
                      <i class="fas fa-search"></i>
                    </a>
                  </div>
                </div>
              </div>
          </div>
      </section>
    <!--  <section class="section py-2">
        <div class="container">
          <div class="tabs">
            <ul>
              <li class="is-active"><a>Purchases</a></li>
              <li><a>Bookmarked</a></li>
            </ul>
          </div>
        </div>
      </section> -->
      <section class="section py-0">
        <div class="container">
              <div id="note_result_holder" class="is-flex is-align-items-center" data-selected-counter="0" data-total-uploads=<%= @created_courses.count.to_s %>>
                  <span class="number_results"><%= @created_courses.count %> courses uploaded</span>
                  <span class="px-2 is-hidden" id="select_all_notes_link">
                    (<span class="has-text-link cursor_pointer">
                      Select All
                    </span>)
                  </span>
                  <span class="is-hidden is-flex" id="results_selected_actions">
                      <span class="mx-2">&#124;</span>
                      <button type="button" class="button is-small">Download</button>
                      <button type="button" class="button is-small">Delete</button>
                  </span>
              </div>    
        </div>
      </section>
      <section class="section py-2" id="uploads_table_section">
        <%= render "uploads_table_section" %>
      </section>
    </div>
</div>
