$("#delete_modal_body")
		.html("<%= escape_javascript(render partial: 'dashboard/private_notes/delete', locals: { upload: @upload } ) %>");

$("#delete_upload_modal").addClass("is-active");

$("#delete_container .pdf_thumbnail_box").on("load", function() {
      console.log("loading...");
      $(this).parent().removeClass("pdf_loading").removeClass("pdf_border");
      $(this).parent().find(".pdf_placeholder").remove();
      $(this).removeClass("is-hidden");
});
