<div id="design-dashboard-body" class="flex-grow w-100">
  <div class="dashboard-panel h-100">
    <section class="section p-0 h-100 is-flex is-flex-direction-column">
      <div class="is-flex-grow-1" id="design_course_page">
          <div class="columns h-100 m-0">
              <div class="column is-three-fifths is-flex is-flex-direction-column px-0">
                 <div class="mx-0 is-flex is-justify-content-space-between pl-3 pb-2 is-align-items-center is-sticky border-bottom-gb">
                    <h1 class="title is-4 mb-0">Course design</h1>
                </div>
                <div id="column-content" class="px-5">
                    <div id="course-counter-block" class="">
                        <div class="subtitle mb-0 py-3"><%= @course.title %></div>
                        <div class="is-flex" id="course-counters">
                            <div class="py-2 mr-2 box is-flex is-flex-direction-column is-align-items-center smoke-border">
                                <div class="is-size-5 has-text-weight-medium">Lessons</div>
                                <div class="is-size-5 lesson-size"><%= @course.lessons_count - 2 %></div>
                            </div>
                            <div class="py-2 mr-2 box is-flex is-flex-direction-column is-align-items-center smoke-border">
                                <div class="is-size-5 has-text-weight-medium">Texts</div>
                                <div class="is-size-5 text-size"><%= @course.texts_count - 2 %></div>
                            </div>
                            <div class="py-2 mr-2 box is-flex is-flex-direction-column is-align-items-center smoke-border">
                                <div class="is-size-5 has-text-weight-medium">Quizzes</div>
                                <div class="is-size-5 quiz-size"><%= @course.quizzes_count %></div>
                            </div>
                            <div class="py-2 mr-2 mb-5 box is-flex is-flex-direction-column is-align-items-center smoke-border">
                                <div class="is-size-5 has-text-weight-medium">Videos</div>
                                <div class="is-size-5 video-size"><%= @course.videos_count %></div>
                            </div>
                        </div>
                    </div>
                    <div class="is-flex is-align-items-center mb-3 is-justify-content-space-between">
                        <div class="subtitle mb-0">Modules
                            <span id="module-count">(<%= @course.module_order.size - 2 %>)</span>
                        </div>
                        <div class="buttons">
                            <button id="add_module_button" type="button" class="button w-min-content is-link">Add module</button>
                            <button class="button is-link w-min-content" id="update_module_positions">Save module order</button>
                        </div>
                    </div>
                    <div class="modules">
                        <div class="drop-area p-4" id="module-top-drop-area">
                        </div>
                        <div id="delete_module_modal" class="modal">
                            <div class="modal_background_light"></div>
                            <div class="modal-content" id="delete_module_modal_body">
                                <%= form_for(:module_part, method: :delete, remote: true, html: { class: "card" }) do |f| %>
                                    <div class="card-content pb-3">
                                        <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                                            <span class="module-number">Delete Module 5</span>
                                            <span>
                                                <i class="fas fa-times fa-lg m-close blue-close"></i>
                                            </span>
                                        </div>
                                        <div class="container success_container p-5">
                                            <div>If you choose to delete this module, 
                                                all the lessons contained within this 
                                                module will also be permanently deleted.</div>
                                        </div>
                                    </div>
                                    <footer class="card-footer is-justify-content-end">
                                        <%= f.submit "Delete", id: "module_deletion_button", class: "button my-2 is-link w-min-content" %>
                                        <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                                    </footer>
                                <% end %>
                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                        </div>
                        <div id="add_module_modal" class="modal">
                            <div class="modal_background_light"></div>
                            <div class="modal-content" id="add_module_modal_body">
                                <%= form_with(model: @new_module, url: dashboard_course_module_parts_url(subdomain: "dashboard", course_id_token: @course.id_token), 
                                            local: false, class: "card") do |f| %>
                                    <div class="card-content pb-3">
                                        <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                                            <span>Create a new Module:</span>
                                            <span>
                                                <i class="fas fa-times fa-lg m-close blue-close"></i>
                                            </span>
                                        </div>
                                        <div class="container success_container p-5">
                                            <div class="field">
                                                <%= f.label :image, "Upload an image:", class: "label" %>
                                                <div class="control">
                                                    <div class="file is-boxed h-100">
                                                        <div class="image-delete-bar is-hidden is-justify-content-end opacity-25">
                                                            <button type="button" class="delete delete-image"></button>
                                                        </div>
                                                        <label class="file-label">
                                                            <%= f.file_field :image, class:"file-input image-upload", 
                                                                type: "file", accept:"image/*" %>
                                                            <span class="file-cta h-100 is-flex is-justify-content-center">
                                                                <span class="file-icon h-min-content py-4">
                                                                    <i class="fas fa-3x fa-upload"></i>
                                                                </span>
                                                                <span class="file-label is-size-4 mb-4">
                                                                    Upload an image
                                                                </span>
                                                                <figure class="module-image image is-hidden">
                                                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                                                </figure>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="pb-1 pt-2 below-image-info w-100">
                                                        <span class="image-title is-size-6"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <%= f.label :title, "Module title:", class: "label" %>
                                                <div class="control">
                                                    <%= f.text_field :title, class: "input" %>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <%= f.label :title, "Module subtitle:", class: "label" %>
                                                <div class="control">
                                                    <%= f.text_area :subtitle, class: "textarea" %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer is-justify-content-end">
                                        <%= f.submit "Create", class: "button my-2 is-link w-min-content" %>
                                        <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                                    </footer>
                                <% end %>
                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                        </div>
                        <div id="edit_module_modal" class="modal">
                            <div class="modal_background_light"></div>
                            <div class="modal-content" id="edit_module_modal_body">
                                <%= form_for(:module_part, method: :patch, remote: :true, html: { class: "card" } ) do |f| %>
                                    <div class="card-content pb-3">
                                        <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                                            <span>Update Module:</span>
                                            <span>
                                                <i class="fas fa-times fa-lg m-close blue-close"></i>
                                            </span>
                                        </div>
                                        <div class="container success_container p-5">
                                            <div class="field">
                                                <%= f.label :image, "Upload an image:", class: "label" %>
                                                <div class="control">
                                                    <div class="file is-boxed h-100">
                                                        <div class="image-delete-bar is-hidden is-justify-content-end opacity-25">
                                                            <button type="button" class="delete delete-image"></button>
                                                        </div>
                                                        <label class="file-label">
                                                            <%= f.file_field :image, class:"file-input image-upload", 
                                                                type: "file", accept:"image/*" %>
                                                            <span class="file-cta h-100 is-flex is-justify-content-center">
                                                                <span class="file-icon h-min-content py-4">
                                                                    <i class="fas fa-3x fa-upload"></i>
                                                                </span>
                                                                <span class="file-label is-size-4 mb-4">
                                                                    Upload an image
                                                                </span>
                                                                <figure class="module-image image is-hidden">
                                                                    <img src="https://bulma.io/images/placeholders/128x128.png">
                                                                </figure>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="pb-1 pt-2 below-image-info w-100">
                                                        <span class="image-title is-size-6"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <%= f.label :title, "Module title:", class: "label" %>
                                                <div class="control">
                                                    <%= f.text_field :title, class: "input" %>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <%= f.label :title, "Module subtitle:", class: "label" %>
                                                <div class="control">
                                                    <%= f.text_area :subtitle, class: "textarea" %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <footer class="card-footer is-justify-content-end">
                                        <%= f.submit "Update", class: "button my-2 is-link w-min-content" %>
                                        <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                                    </footer>
                                <% end %>
                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                        </div>
                        <div id="delete_lesson_modal" class="modal">
                            <div class="modal_background_light"></div>
                            <div class="modal-content" id="delete_lesson_modal_body">
                                <%= form_for(:lesson, method: :delete, remote: :true, html: { class: "card" } ) do |f| %>
                                    <div class="card-content pb-3">
                                        <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                                            <span>Delete lesson?</span>
                                            <span>
                                                <i class="fas fa-times fa-lg m-close blue-close"></i>
                                            </span>
                                        </div>
                                        <div class="container success_container p-5">
                                            <div>If you choose to delete 
                                                <span class="has-text-weight-bold lesson-title-content"></span>, 
                                                all information contained within will be permanently lost.</div>
                                        </div>
                                    </div>
                                    <footer class="card-footer is-justify-content-end">
                                        <%= f.submit "Delete", class: "button my-2 is-link w-min-content" %>
                                        <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                                    </footer>
                                <% end %>
                                <button class="modal-close is-large" aria-label="close"></button>
                            </div>
                        </div>
                        <%= form_for :course, url: update_module_order_dashboard_course_url(subdomain: "dashboard", 
                            course_id_token: @course.id_token), remote: :true, method: :patch, 
                            html: { class: "is-hidden", id: "save_module_order_form" } do |f| %>
                            <%= f.hidden_field :module_order, multiple: :true, value: [] %>
                        <% end %>
                        <!-- route does not use module params because multiple modules will be updated -->
                        <%= form_for :module_part, url: update_lesson_order_dashboard_course_url(subdomain: "dashboard", 
                            course_id_token: @course.id_token), remote: :true, method: :patch,
                            html: { class: "is-hidden", id: "save_lesson_order_form" } do |f| %>
                            <div id="block_module_ids">
                                <%= f.hidden_field :id, multiple: :true, value: [] %>
                            </div>
                            <div id="block_lesson_order">
                                <%= f.hidden_field :lesson_order, multiple: :true, value: [] %>
                            </div>
                            <!-- later combine both to create a hash with array values -->
                        <% end %>
                        <div class="module is-hidden" data-module-id="">
                            <%= form_for :module_part, remote: :true, method: :post, 
                                data: { course_id_token: @course.id_token }, 
                                html: { class: "is-hidden module_new_lessons_form" } do |f| %>
                                <!-- each will contain its index and the lesson type -->
                                <%= f.hidden_field :lesson_type_order, class: "lesson_type_input", multiple: :true, value: [] %>
                            <% end %>
                            <div type="button" class="collapsible is-flex">
                                <span class="module-align svg-holder">
                                    <%= show_svg("reorder-dots.svg") %>
                                </span>
                                <div class="is-align-items-center is-flex is-justify-content-space-between is-flex-grow-1">
                                    <div class="module-title-content">
                                        <span class="order-title"></span>
                                        <span class="lesson-count"></span>
                                    </div>
                                    <span class="is-flex module-buttons">
                                        <span class="save_module_lessons module-button is-hidden">
                                            <i class="far fa-save fa-lg"></i>
                                        </span>
                                        <span class="trigger_edit_module_modal module-button is-hidden">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                        <span class="trigger_delete_module_modal module-button is-hidden">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>                              
                                        <span class="cross ml-3">&#10133;</span>
                                        <span class="minus is-hidden ml-3">&#10134;</span>
                                    </span>
                                </div>
                            </div>                        
                            <div class="content is-flex-direction-column is-flex is-align-items-center" data-max="80">
                                <div class="drop-area"><p class="p-4">Drag and drop lessons to this module.</p></div>
                            </div>
                        </div>
                        <% @course_modules.each.with_index do |module_part, index| %>
                            <div class="module" data-module-id="<%= module_part.id %>" data-module-title="<%= module_part.title %>"
                                data-module-subtitle="<%= module_part.subtitle %>" data-module-image-src="<%= url_for(module_part.image) if module_part.image.attached? %>"
                                data-module-image-filename="<%= module_part.image.filename.to_s %>">
                                <%= form_for :module_part, remote: :true, method: :post, 
                                    url: dashboard_module_lessons_url(subdomain: 'dashboard', module_id: module_part.id), 
                                    html: { class: "is-hidden module_new_lessons_form" } do |f| %>
                                    <!-- each will contain its index and the lesson type -->
                                    <%= f.hidden_field :lesson_type_order, class: "lesson_type_input", multiple: :true, value: [] %>
                                <% end %>
                                <div type="button" class="collapsible is-flex">
                                    <span class="module-align svg-holder">
                                        <%= show_svg("reorder-dots.svg") %>
                                    </span>
                                    <div class="is-align-items-center is-flex is-justify-content-space-between is-flex-grow-1">
                                        <div class="module-title-content">
                                            <span class="order-title"><%= "#{index + 1}. #{module_part.title}" %></span>
                                            <span class="lesson-count">
                                                <%= "(#{module_part.lessons_count} #{'lesson'.pluralize(module_part.lessons_count)})" %>
                                            </span>
                                        </div>
                                    </div>
                                    <span class="is-flex module-buttons">
                                        <span class="save_module_lessons module-button is-hidden">
                                            <i class="far fa-save fa-lg"></i>
                                        </span>
                                        <span class="trigger_edit_module_modal module-button is-hidden">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                        <span class="trigger_delete_module_modal module-button is-hidden">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>                              
                                        <span class="cross ml-3 collapse-button">&#10133;</span>
                                        <span class="minus is-hidden ml-3 collapse-button">&#10134;</span>
                                    </span>
                                </div>                        
                                <div class="content is-flex-direction-column is-flex is-align-items-center" data-max="80">
                                    <% @array_of_module_lessons[index].each do |module_lesson| %>
                                            <div class="lesson" draggable="true" saved="true" data-lesson-id="<%= module_lesson.id %>" 
                                            data-lesson-type=<%= module_lesson.learnable_type.underscore.gsub("_", "-") %>>
                                                <span class="lesson-title-content">
                                                    <%= hash_of_lesson_elements[module_lesson.learnable_type.underscore.to_sym] +
                                                        ": " + ((module_lesson.title.present?) ? module_lesson.title : "Untitled") %>
                                                </span>
                                                <div class="is-flex lesson-buttons">
                                                    <%= link_to edit_dashboard_lesson_url(module_lesson.id, subdomain: "dashboard"), 
                                                        class: "edit_lesson_modal lesson-button is-hidden" do %>
                                                        <i class="fas fa-pencil-alt"></i>
                                                    <% end %>
                                                    <span class="delete_lesson_modal lesson-button is-hidden">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </span>                              
                                                </div>
                                            </div>
                                    <% end %>
                                    <div class="drop-area"><p class="p-4">Drag and drop lessons to this module.</p></div>
                                </div>
                            </div>
                        <% end %>
                        <div class="drop-area" id="module-bottom-drop-area">
                            <p class="p-4">Drag and drop modules to the bottom.</p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="column is-two-fifths p-0" id="sticky-lesson-elements">
                    <div class="bg-color-grey">
                        <div class="subtitle is-size-5 p-3 has-text-weight-semibold">Lesson elements:</div>
                    </div>
                    <div class="lessons p-4">
                        <% hash_of_lesson_elements.each do |key, value| %>
                            <div class="lesson" draggable="true" saved="false" data-lesson-type=<%= key.to_s.gsub("_", "-") %>>
                                <span class="lesson-title-content"><%= value %></span>
                                <div class="is-flex lesson-buttons">
                                    <a href="#" class="edit_lesson_modal lesson-button is-hidden">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <span class="delete_lesson_modal lesson-button is-hidden">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>                              
                                </div>
                            </div>
                        <% end %>
                    </div>
              </div>
          </div>
      </div>
    </section>
  </div>
</div>