// display a popup indicating update success.
$("table#uploads_table tr[data-upload-id-token='<%= @upload_id_token %>'").remove();
$("#delete_upload_modal").removeClass("is-active");

var x = $("#snackbar");
x.text("<%= @message %>")
x.addClass("show");
setTimeout(
  function(){
    x.removeClass("show");
  }, 4000);
