<div id="edit-dashboard-body" class="flex-grow w-100">
  <div class="dashboard-panel">
    <section class="section p-0" id="edit_upload_section">
      <div class="container is-flex is-justify-content-space-between px-4 py-2 is-align-items-center is-sticky border-bottom-gb">
        <h1 class="title is-4 mb-0">Upload details</h1>
        <div>
          <button class="button is-link w-min-content mr-2" id="update_course_details">Update</button>
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="course-dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="course-dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <%= link_to rails_blob_path(@course.image, disposition: "attachment"), class:"dropdown-item" do %>
                    <span class="icon">
                      <i class="fas fa-file-download"></i>
                    </span>
                    <span>Download</span>
                  <% end %>
                  <%= link_to delete_dashboard_course_url(@course.id_token, subdomain: "dashboard"),
                      class: "dropdown-item", remote: true do %>
                      <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                      <span>Delete</span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= form_with(model: @course, url: "/courses/#{@course.id_token}", method: :patch, local: false,
                    class:"container py-4 px-5", id: "edit_course_form") do |f| %>
          <div class="columns px-3">
              <div class="column is-three-fifths pr-5">
                      <div class="field" id="subject_field">
                          <%= f.label :subject, class: "label" %>
                          <div class="control">
                            <div class="is-flex is-hidden">
                              <% array_of_subjects.each do |subject| %>                                  
                                    <%= f.radio_button :subject, subject, data: { subject: subject }, 
                                        checked: ((@course.subject == subject) ? true: false) %>
                              <% end %>
                            </div>
                            <div class="tags">
                              <% array_of_subjects.each do |subject| %>                                  
                                  <div class="tag is-medium is-light <%= 'selected' if (@course.subject == subject) %>"
                                    data-subject="<%= subject %>">
                                    <%= subject.gsub("_", " ") %>
                                  </div>
                              <% end %>
                            </div>
                          </div>
                          <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                              <%= f.text_field :title, value: @course.title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                            <%= f.label :description, "About the course", class:"label" %>
                            <div class="control">
                              <%= f.text_area :description, value: @course.description, class:"textarea optional" %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <!--
                      <div class="field" id="subtitle_field">
                        <%= f.label :subtitle, class:"label" %>
                        <div class="control">
                          <%= f.text_area :subtitle, class:"input", data: { missing_error: "Please enter a subtitle" } %>
                        </div>
                        <p class="help is-danger"></p>
                      </div> 
                      -->
                      <div class="field" id="objective_fields">
                        <div class="mb-2 is-flex is-justify-content-space-between is-align-items-center">
                          <%= f.label :objectives, "Learning objectives", class:"label mb-0" %>
                          <button id="add_objective" class="button is-link w-min-content is-small" type="button">
                            <i class="fas fa-plus"></i><span class="pl-2">Add</span></button>
                          </button>
                        </div>
                        <div class="control is-flex mb-3 is-align-items-center is-hidden" id="model_objective">
                                  <i class="fas fa-circle fa-xs pr-4"></i>
                                  <input class="input" type="text">
                                  <i class="fas fa-times p-2 ml-2 hover-red"></i>
                        </div>
                        <% @course.objectives.each do |objective| %>
                            <div class="control is-flex mb-3 is-align-items-center">
                                  <i class="fas fa-circle fa-xs pr-4"></i>
                                  <%= f.text_field :objectives, value: objective, name: "course[objectives][]" %>
                                  <i class="fas fa-times p-2 ml-2 hover-red"></i>
                            </div>
                        <% end %>
                        <p class="help is-danger"></p>
                      </div>
              </div>
              <div class="column is-two-fifths pr-5">
                <div class="container">
                  <figure class="is-flex image pdf_loading pdf_border is-justify-content-center is-flex-direction-column">
                      <% if @course.image.representable? %>
                        <%= image_tag(@course.image.representation(resize_to_limit: [840,600]), class:"course_image_thumbnail is-hidden") %>
                      <% end %>
                  </figure>
                  <div class="bg-color-whitesmoke">
                      <div class="container pl-3 pt-3 pb-2">
                          <p>Course link:</p>
                          <p><%= link_to course_url(course_token: @course.id_token).to_s, course_url(course_token: @course.id_token) %></p>
                      </div>
                      <div class="container pl-3 pt-3 pb-2">
                          <p>Filename:</p>
                          <p><%= @course.image.filename.to_s %></p>
                      </div>
                  </div>
                  <div class="field popup_field px-4 py-2 mt-4 mb-0">
                    <div class="radio_box">
                        <div class="secondary-label mb-0">Difficulty level</div>
                        <div class="control is-flex is-justify-content-space-between">
                            <span class="is-size-5 display_value"><%= @course.difficulty_level %></span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="box hidden_box_form p-2 is-hidden" data-field-type="difficulty-level" data-initial-value=<%= @course.difficulty_level %>>
                        <div class="is-flex is-align-items-center">
                          <%= f.label :difficulty_level, class:"label mb-0 pb-0" %>
                          <i class="fas fa-times p-2 blue-close"></i>
                        </div>
                        <div class="control pl-5 ml-5 pt-2">
                            <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                              <%= f.radio_button :difficulty_level, "Beginner", data: { "display-value": "Beginner" } %>
                              <%= f.label :difficulty_level, "Beginner", class: "radio" %>
                            </div>
                            <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                              <%= f.radio_button :difficulty_level, "Intermediate", data: { "display-value": "Intermediate" } %>
                              <%= f.label :difficulty_level, "Intermediate", class: "radio" %>
                            </div>
                            <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                              <%= f.radio_button :difficulty_level, "Advanced", data: { "display-value": "Advanced" } %>
                              <%= f.label :difficulty_level, "Advanced", class: "radio" %>
                            </div>
                        </div>
                        <div class="is-flex is-justify-content-flex-end mr-2">
                          <button class="w-min-content button is-link update_box_form" type="button">Update</button>
                        </div>
                    </div>
                  </div>
                  <div class="field popup_field mt-4 mb-0">
                    <div class="radio_box px-4 py-2">
                        <div class="secondary-label mb-0">Tier level</div>
                        <div class="control is-flex is-justify-content-space-between">
                            <span class="is-size-5 display_value"><%= (@course.is_premium) ? "Premium" : "Free" %></span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="box hidden_box_form p-2 is-hidden" data-field-type="is_premium" 
                         data-initial-value=<%= @course.is_premium ? "Premium" : "Free" %>>
                          <div class="is-flex is-align-items-center">
                            <%= f.label :is_premium, "Tier level", class:"label mb-0 pb-0" %>
                            <i class="fas fa-times p-2 blue-close"></i>
                          </div>
                          <div class="control pl-5 ml-5 pt-2">
                              <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                                <%= f.radio_button :is_premium, "Free", data: { "display-value": "Free" } %>
                                <%= f.label :is_premium, "Free", class: "radio" %>
                              </div>
                              <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                                <%= f.radio_button :is_premium, "Premium", data: { "display-value": "Premium" } %>
                                <%= f.label :is_premium, "Premium", class: "radio" %>
                              </div>
                          </div>
                          <div class="is-flex is-justify-content-flex-end mr-2">
                            <button class="w-min-content button is-link update_box_form" type="button">Update</button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      <% end %>
    </section>
  </div>
</div>
