<div id="edit-intro-summary-body" class="flex-grow w-100">
  <div class="lesson-panel h-100">
    <section class="section p-0 h-100 is-flex is-flex-direction-column" id="edit_lesson_section">
      <div id="heading-fixed-bar" class="is-flex-grow-0 container is-justify-content-space-between px-4 py-2 is-align-items-center border-bottom-gb mx-0">
        <h1 class="title is-4 mb-0">Intro and summary</h1>
        <div>
          <button class="button is-link w-min-content mr-2" id="update_intro_summary_details">Update</button>
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="course-dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="course-dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <%= link_to dashboard_lesson_url(@intro_lesson.id, subdomain: "dashboard"),
                      class: "dropdown-item", method: :delete, remote: true do %>
                      <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                      <span>Delete</span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-0 container py-2 px-5 mx-0">
          <nav class="tabs" id="intro-summary-tabs">
            <ul>
                <li class="is-active" data-type="intro"><a>Introduction</a></li>
                <li data-type="summary"><a>Summary</a></li>
            </ul>
          </nav>
      </div>
      <%= form_with(model: @intro_lesson, url: dashboard_update_intro_summary_url(lesson_id: @intro_lesson.id, subdomain: "dashboard"), 
                    method: :patch, local: false, class:"container pt-2 pb-4 px-5 mx-0", id: "edit_intro_lesson_form") do |f| %>
          <div class="columns px-3 h-100">
              <div class="column pr-5 is-flex is-flex-direction-column" data-type="intro">
                      <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                              <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <%= f.hidden_field :type, value: "intro" %>
                      <%= f.fields_for(@intro_learnable) do |ff| %>
                        <div class="field is-flex-grow-1 is-flex is-flex-direction-column">
                            <%= ff.label :content, class:"label" %>
                            <div class="control is-flex-grow-1 is-flex is-flex-direction-column">
                            <%= ff.rich_text_area :content, value: @intro_learnable.content ,class:"optional" %>
                            </div>
                            <p class="help is-danger"></p>
                        </div>
                      <% end %>
              </div>
          </div>
      <% end %>
      <%= form_with(model: @summary_lesson, url: dashboard_update_intro_summary_url(lesson_id: @summary_lesson.id, subdomain: "dashboard"), 
                    method: :patch, local: false, class:"container pt-2 pb-4 px-5 mx-0 is-hidden", id: "edit_summary_lesson_form") do |f| %>
          <div class="columns px-3 h-100">
              <div class="column pr-5 is-flex is-flex-direction-column" data-type="intro">
                      <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                              <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <%= f.hidden_field :type, value: "summary" %>
                      <%= f.fields_for(@summary_learnable) do |ff| %>
                        <div class="field is-flex-grow-1 is-flex is-flex-direction-column">
                            <%= ff.label :content, class:"label" %>
                            <div class="control is-flex-grow-1 is-flex is-flex-direction-column">
                            <%= ff.rich_text_area :content, value: @summary_learnable.content ,class:"optional" %>
                            </div>
                            <p class="help is-danger"></p>
                        </div>
                      <% end %>
              </div>
          </div>
      <% end %>
    </section>
  </div>
</div>