
//if ($("#upload_modal_button").data("clicked-once") === false) {
  // if upload new notes button has already been clicked.
  // render a completely new form.
  $("#general_modal_body").html("<%=
        escape_javascript(render partial: 'dashboard/private_notes/new',
            locals: { current_student: current_student } ) %>");

//  $("#upload_modal_button").data("clicked-once", true);
//}; // else {
//  do nothing since form already exists and this way can keep any pre-entered data.
//}

$("#upload_success_modal").removeClass("is-active");
$(".upload_modal.general").addClass("is-active");

// check all fields completed on form submit
// then display a loading button if validated.
var btn;
var submit_button = document.querySelector("#notes_upload_button");

/*
$("body").on("submit", ".upload_modal.is-active form", function(event) {
     if( checkFormFilled(this) ) {
        // Create a <button> element
       btn = document.createElement("BUTTON");
       btn.innerHTML = "Uploading";
       $(btn).addClass("is-loading is-link button mx-5 my-2");
       submit_button.parentNode.replaceChild(btn, submit_button);

       console.log("testing from new.js.erb");
       return;
     } else {
       return false;
     }
});

function checkFormFilled(form) {
    var formFilled = true;
    var inputNodes = form.querySelectorAll(".field .control");
    var inputNode;
    var choices;
    for (let i = 0; i < inputNodes.length; i++) {
        inputNode = inputNodes[i].querySelector("input[type='text']:not(.optional),\
                                                    input[type='number']:not(.optional),\
                                                    input[type='file']:not(.optional),\
                                                    textarea:not(.optional)");
        console.log(inputNode);
        if (inputNode !== null) {// meaning that an input tag exists
            if (inputNode.value.length === 0) { // meaning that a compulsory input field has not been filled out.
                inputNode.classList.add("is-danger");
                inputNode.parentElement.nextElementSibling.textContent = inputNode.dataset.missingError
                formFilled = false;
            }
        } else { // check other field types which contain multiple options and require at least one choice.
            var one_choice_picked = false;
            choices = inputNodes[i].querySelectorAll("input[type='radio']");
            if (choices.length > 1) {
                for (let j = 0; j < choices.length; j++) {
                    if (choices[j].checked) {
                      one_choice_picked = true;
                    }
                }
                if (one_choice_picked === false) {  // no option picked
                    console.log("no option picked!");
                    formFilled = false;
                }
            }
        }
    }

    // check that all mandatory files have been attached.
    var fileNodes = form.querySelectorAll("input[type='file']:not(.optional)");
    for (let k = 0; k < fileNodes.length; k++) {
        if (fileNodes[k].files.length === 0) {
          formFilled = false;
          $("#general_modal_body form .alert").html('<%= j render partial: "dashboard/private_notes/new_notes_error",
                locals: { alert: "Please upload a file" } %>');
        }
    }

    return formFilled;
}

// validation client-side on form for modal uploads.

// check length of title is between 6 and 150 characters.
$("body").on("input", ".upload_modal.is-active form input#note_title", function() {
    if (this.value.length < 6 || this.value.length > 150) {
      $(this).addClass("is-danger");
      $(this).parent().next().text("Titles must be between than 6 and 150 characters.");
    } else { // length of value is greater than 6 or more characters.
      $(this).removeClass("is-danger");
      $(this).parent().next().empty();
    }
});

// for restricting the input to only numbers only
$("body").on("keypress", ".upload_modal.is-active form input#note_price", function(event) {
    return isNumberKey(event);
});

$("body").on("input", ".upload_modal.is-active form input#note_price", function() {
    if ($(this).val().length > 0) {
        $(this).removeClass("is-danger");
        $(this).parent().next().empty();
    } else {
        $(this).addClass("is-danger");
        $(this).parent().next().text("Please enter a price.");
    }
});

function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode != 46 &&(charCode < 48 || charCode > 57))) {
        return false;
    }
    return true;
}

// Check category entered matches one of the options.
var subject_options_array = [];

$("datalist#subjects option").each(function() {
    subject_options_array.push($(this).attr("value"));
});

var datalist_courses = $("datalist#courses");

$("body").on("input", ".upload_modal.is-active form input#note_subject", function() {
    if (!subject_options_hash.keys.includes(this.value)) { // if value does not match with one of the options
        $(this).parent().next().text("Subjects must match one of the options provided.");
        $(this).addClass("is-danger");
        datalist_courses.empty();
    } else {
        $(this).removeClass("is-danger");
        $(this).parent().next().empty();
        JSON.parse($(`datalist#subjects option[value=${this.value}]`).data("courses")).each( function() {
              datalist_courses.append(`<option value="${this}"></option>`)
        });
    }
});

// on upload of file, display the pdf.

$('form').on("change", ".file_upload input[type=file]", function() {

    if (this.files.length > 0) {

        $(this).closest('.file_upload').addClass("is-hidden");
      // get url of local pdf file uploaded
      // instead of replacing name, we replace with a preview of the pdf
        //var url = 'https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/examples/learning/helloworld.pdf';
        // Loads the actual pdf
        // Asynchronous download of PDF
        readURL(this, this.closest("form"));
        $("#general_modal_body form .alert").empty();
    }
});
*/

function readURL(input, form) {
      if (input.files && input.files[0]) {
        // use this later for file name
        var pdf_name = input.files[0].name;
        var readerBlob = new FileReader();

          readerBlob.onload = function(e) {
            var blob = new Blob([e.target.result], {type: 'application/pdf'});
            //$('#blah').attr('src', e.target.result);
            url = window.URL.createObjectURL(blob);
            console.log(url);

            var loadingTask = pdfjsLib.getDocument(url);

            // implement functions for next/prev pages in pdf.
            var pdfDoc = null,
                pageNum = 1,
                pageRendering = false,
                pageNumPending = null,
                scale = 1,
                canvas = form.querySelector('canvas.pdf_container'),
                ctx = canvas.getContext('2d'),
                //canvas_full = document.getElementById("full_hidden_canvas"),
                //ctx_full = canvas_full.getContext('2d'),
                viewport,
                new_scale,
                new_viewport;


            function renderPage(num, pdfDoc) {
                pageRendering = true;
                // Using promise to fetch the page
                pdfDoc.getPage(num).then(function(page) {
                  viewport = page.getViewport({scale: scale});
                  //scale = canvas.width/viewport.width;
                  // for the first render new_scale is undefined
                  if (new_scale == undefined) {
                      new_scale = canvas.width / viewport.width;
                      //console.log(`first render ${canvas.width}, ${viewport.width}, ${new_scale}`);
                      new_viewport = page.getViewport({scale: new_scale});
                  }
                  //redefine the viewport based on the new scale
                  canvas.height = 420;//new_viewport.height;
                  canvas.width = 300;//new_viewport.width;

                  // Render PDF page into canvas context
                  var renderContext = {
                    canvasContext: ctx,
                    viewport: new_viewport
                  };

                  var renderTask = page.render(renderContext);

                  //canvas_full.height = viewport.height;
                  //canvas_full.width = parseFloat((viewport.height / 1.4).toFixed(2));

                  //var renderContext_full = {
                  //  canvasContext: ctx_full,
                  //  viewport: viewport
                  //};

                  //var renderTask_full = page.render(renderContext_full);

                  // Wait for rendering to finish
                  renderTask.promise.then(function() {
                    pageRendering = false;
                    $(form).find(".canvas_holder").removeClass("absolute-behind");
                    $(form).find(".pdf_title_holder").text(pdf_name);
                    // get image of first page
                    if (first_page_to_image === false) {
                        //$("input#note_pdf_thumbnail").val(canvas.toDataURL('image/webp'))
                        first_page_to_image === true;
                    }
                    if (pageNumPending !== null) {
                      // New page rendering is pending
                      renderPage(pageNumPending, pdfDoc, true);
                      pageNumPending = null;
                    }
                  });

                  // Wait for rendering to finish
                  //renderTask_full.promise.then(function() {
                    // get image of first page - make sure it is full page to ensure good resolution
                    /* if (first_page_to_image === false) {
                        $("input#note_pdf_thumbnail").val(canvas_full.toDataURL('image/webp'))
                        first_page_to_image === true;
                    } */
                  //});
                });

                // Update page counters
                $('#page_num').text(num);
            }

            function queueRenderPage(num, pdfDoc) {
                if (pageRendering) {
                  console.log(`current page still rendering. Wait`)
                  pageNumPending = num;
                } else {
                  console.log(`rendering page ${num}`)
                  renderPage(num, pdfDoc, true);
                }
            }

            loadingTask.promise.then(function(pdf) {
              $('#page_count').text(pdf.numPages);
              $('#note_number_of_pages').val(pdf.numPages);
              // Initial/first page rendering
              //console.log(pageNum);
              renderPage(pageNum, pdf, false);
              $('#prev').on('click', function() {
                  //onPrevPage(pageNum, pdf);
                  // directly insert function so have access to outer variables
                  if (pageNum > 1) {
                    pageNum--;
                    queueRenderPage(pageNum, pdf);
                  } else {
                    return;
                  }
              });
              $('#next').on('click', function(){
                  //onNextPage(pageNum, pdf);
                  // same as above
                  if (pageNum < pdf.numPages) {
                    pageNum++;
                    queueRenderPage(pageNum, pdf);
                  } else {
                    return;
                  }
              });
              window.URL.revokeObjectURL(url);
            }, function (reason) {
              // PDF loading error
              console.error(reason);
            });
          }

        readerBlob.readAsArrayBuffer(input.files[0]); // convert to base64 string
      }
}
