$(".upload_modal.is-active").removeClass("is-active");
$("#upload_modal_progress progress").removeClass("is-hidden");
$("#upload_modal_progress .css-loader").addClass("is-hidden");
//$("#dashboard_upload_modal_button").data("clicked-once", false);

$("#upload_success_modal_body").html('<%= j render partial: "dashboard/private_courses/new_notes_success",
                                            locals: {course: @new_course} %>')

$("#upload_success_modal").addClass("is-active");