$("#upload_modal_progress .css-loader").addClass("is-hidden");
$("#upload_updates").empty();


$("#general_modal_body form .alert").html('<%= j render partial: "dashboard/private_notes/new_notes_error",
      locals: { alert: @error_message } %>');

$("#general_modal_body form .alert").removeClass("is-hidden");

$(".notification").on("click", ".delete", function() {
        $(this).parent().remove();
});
