var index = 1;
var module_name;
$("#design_course_page .modules .module:not(.is-hidden) .module-title-content .order-title").each(function(){
    module_name = $(this).text().split(".");
    console.log(module_name);
    module_name.shift();
    module_name.unshift(`${index}`);
    $(this).text(module_name.join("."));
    index += 1;
})

if ($("#snackbar").length == 0) {
    var snackbar = document.createElement("div");
    $(snackbar).attr("id", "snackbar");
    $(snackbar).text("<%= @message %>");
    $("body").append($(snackbar));
} else {
    var snackbar = $("#snackbar")[0];
}

$(snackbar).addClass("show");
setTimeout(
      function(){
        $(snackbar).removeClass("show");
      }, 4000);

