<% if @next_lesson.present? %>
    <% if (@next_lesson.has_content && (@next_lesson.learnable_type == "McQuiz")) %>
        <%= link_to learning_course_quiz_question_url(@course.id_token, "mc-quiz", 
                @next_lesson.learnable_id, 1, continue: true, subdomain: "learning"), # learnable is actually the mc_quiz
            data: { remote: !@last_lesson_of_module }, class: "mt-2 w-100 button is-link border-gray continue-button" do %>
            <span>Continue</span>
        <% end %>
    <% else %>
        <%= link_to learning_link(@course.id_token, @next_lesson, true), 
            class: "mt-2 w-100 button is-link border-gray continue-button",
             data: { remote: !@last_lesson_of_module } do %>
            <span>Continue</span>
        <% end %>
    <% end %>
<% else %>
    <% if (@progress_event.is_completed) %>
        <div id="completed-course-box">
            <i class='fas fa-check fa-lg'></i>
            <span class='ml-4'>Course Completed</span>
        </div>
    <% else %>
        <%= form_for(:course, method: 'PATCH', remote: true, html: { class: "w-100", id: "complete-course-form" },
            url: learning_course_update_completed_url(course_id_token: @course.id_token, subdomain: "learning")) do |f| %>
            <%= f.submit "Mark as completed", class: "mt-2 button is-link border continue-button" %>
        <% end %>
    <% end %>
    <%= link_to courses_in_progress_my_notebook_url(subdomain: false), 
        class:"mt-2 w-100 button is-light border-gray" do %>
        <span>Return to My Courses</span>
    <% end %>
<% end %>