<div id="course-index-list-holder" class="is-hidden">
    <div id="course-index-header" class="is-flex">
        <figure class="image">
            <%= image_tag(@course.image.representation(resize_to_fit: [140, nil]), class:"") %>
        </figure>
        <div class="course-details pl-3">
            <span class="has-text-left title is-size-5 mb-1">
                <%= @course.title %>
                <%= show_svg("green_tick.svg") if @progress_event.is_completed %>    
            </span>
            <span>by <%= @course_designer.display_name %></span>
        </div>
        <div class="is-flex-grow-1 is-flex is-justify-content-flex-end">
            <i class="fas fa-times fa-lg h-min-content p-1 blue-close"></i>
        </div>
    </div>
    <div id="course-index-list">
        <% @index_list_of_course.each.with_index(1) do | (module_part_id, module_part_title, lesson_array), index | %>
            <ul class="module-list <%= 'current' if (module_part_id == @module.id) %>">
                <li>
                    <%= "Module #{index}: #{module_part_title}" %>
                    <%= show_svg("green_tick.svg") if @progress_event.modules_completed.include?(module_part_id) %>    
                </li>
                <ul class="lesson-list">
                    <% lesson_array.each do |lesson| %>
                        <% if (lesson.id == @lesson.id) %>
                            <li class="current">
                                <span class="right-arrow">&#10148;</span>
                                <% if ((lesson.learnable_type == "McQuiz") && lesson.has_content) %>
                                    <%= link_to learning_course_quiz_question_url(@course.id_token, "mc-quiz", lesson.learnable_id, 
                                                (@progress_event.most_recent_quiz_question_index.has_key?(lesson.learnable_id.to_s) ? 
                                                @progress_event.most_recent_quiz_question_index[lesson.learnable_id.to_s] : 1),
                                                subdomain: "learning"), 
                                                data: { "learnable-id": lesson.learnable_id, "learnable-type": lesson.learnable_type,
                                                        "completed": (@progress_event.lessons_completed.include?(lesson.id)), 
                                                        "is-incomplete": "false" }, 
                                                class: "" do %>
                                        <span><%= lesson.title %></span>
                                        <span class="pl-1 italic-light"></span>
                                    <% end %>
                                <% else %>
                                    <%= link_to learning_link(@course.id_token, lesson),    
                                                data: { "learnable-id": lesson.learnable_id, "learnable-type": lesson.learnable_type,
                                                        "completed": (@progress_event.lessons_completed.include?(lesson.id)),
                                                        "is-incomplete": !lesson.has_content }, 
                                                class: "" do %>
                                        <span><%= lesson.title %></span>
                                        <span class="pl-1 italic-light"><%= '(Incomplete)' if !lesson.has_content %></span>
                                    <% end %>
                                <% end %>
                            </li>
                        <% else %>
                            <li>
                                <% if ((lesson.learnable_type == "McQuiz") && lesson.has_content) %>
                                    <%= link_to learning_course_quiz_question_url(@course.id_token, "mc-quiz", lesson.learnable_id, 
                                                (@progress_event.most_recent_quiz_question_index.has_key?(lesson.learnable_id.to_s) ? 
                                                 @progress_event.most_recent_quiz_question_index[lesson.learnable_id.to_s] : 1), subdomain: "learning"),
                                                data: { "learnable-id": lesson.learnable_id, "learnable-type": lesson.learnable_type,
                                                        "completed": (@progress_event.lessons_completed.include?(lesson.id)),
                                                        "is-incomplete": "false" },  
                                                class: "" do %>
                                        <span><%= lesson.title %></span>
                                        <span class="pl-1 italic-light"></span>
                                    <% end %>
                                <% else %>
                                    <%= link_to learning_link(@course.id_token, lesson),
                                                data: { "learnable-id": lesson.learnable_id, "learnable-type": lesson.learnable_type,
                                                        "completed": (@progress_event.lessons_completed.include?(lesson.id)), 
                                                        "is-incomplete": !lesson.has_content },
                                                class: "" do %>
                                        <span><%= lesson.title %></span>
                                        <span class="pl-1 italic-light"><%= '(Incomplete)' if !lesson.has_content %></span>
                                    <% end %>
                                <% end %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </ul>
        <% end %>
    </div>
</div>