<div id="contents-button" class="is-flex is-justify-content-space-between is-size-6 color-dark-grey mb-2">
    <figure class="image is-24x24 mr-2">
        <%= image_tag(image_path("index-list-2.png"), class: "has-text-black") %>
    </figure>
    <span>Table of contents</span>
</div>
<div class="subtitle mb-0 lesson-tracker">
    <span class="current-lesson-index"><%= "Lesson #{@lesson_index + 1} of" %>&nbsp;</span>
    <span class="current-module-lesson-count"><%= "#{@module.lessons_count}" %></span>
    <figure class="is-flex <%= 'is-hidden' unless @progress_event.lessons_completed.include?(@lesson.id) %>">
        <%= show_svg("green_tick.svg") %>
    </figure>
</div>
<div class="flex-bar-controls is-flex">
    <!-- Previous lesson exists and still belongs to the current module -->
    <% if (!(@prev_lesson.nil?) && (@prev_lesson.module_part_id == @module.id)) %>
        <% if (@prev_lesson.has_content && (@prev_lesson.learnable_type == "McQuiz")) %>
            <%= link_to learning_course_quiz_question_url(@course.id_token, "mc-quiz", @prev_lesson.learnable_id, 
                (@progress_event.most_recent_quiz_question_index.has_key?(@prev_lesson.learnable_id.to_s) ? 
                    @progress_event.most_recent_quiz_question_index[@prev_lesson.learnable_id.to_s] : 1), 
                subdomain: "learning"), class: "is-flex is-align-items-center", remote: true do %>
                <%= image_tag(image_path("left-chevron.png"), class: "arrow-button left") %>
            <% end %>
        <% else %>
            <%= link_to learning_link(@course.id_token, @prev_lesson), 
                class: "is-flex is-align-items-center", remote: true do %>
                <%= image_tag(image_path("left-chevron.png"), class: "arrow-button left") %>
            <% end %>
        <% end %>
    <% else %>
        <!-- Display nothing since no more prev lessons for the current module -->
        <a class="is-flex is-align-items-center is-hidden" data-remote="true" href="#">
            <%= image_tag(image_path("left-chevron.png"), class: "arrow-button left") %>
        </a>
    <% end %>
    <ul class="flex-bars my-4">
        <% @current_lesson_triad.each do |lesson| %>
            <% if (@lesson.id == lesson.id)  %>
                <% if !lesson.has_content %>
                    <li class="flex-bar selected is-incomplete">
                        <%= show_svg("#{lesson.learnable_type}.svg") %>
                    </li>
                <% else %>
                    <li class="flex-bar selected user-completed">
                        <%= show_svg("#{lesson.learnable_type}.svg") %>                                    
                    </li>
                <% end %>
            <% else %>
                <% if !lesson.has_content %>
                    <%= link_to learning_link(@course.id_token, lesson),
                        class: "flex-bar is-incomplete", remote: true do %>
                        <%= show_svg("#{lesson.learnable_type}.svg") %>                                    
                    <% end %>
                <% else %>
                    <% if ((lesson.learnable_type == "McQuiz") && lesson.has_content) %>
                        <%= link_to learning_course_quiz_question_url(@course.id_token, "mc-quiz", lesson.learnable_id, 
                            (@progress_event.most_recent_quiz_question_index.has_key?(lesson.learnable_id.to_s) ? 
                            @progress_event.most_recent_quiz_question_index[lesson.learnable_id.to_s] : 1), subdomain: "learning"),
                            class: ((@progress_event.lessons_completed.include?(lesson.id)) ? 
                            "flex-bar user-completed" : "flex-bar"), remote: true do %>
                            <%= show_svg("#{lesson.learnable_type}.svg") %>                                    
                        <% end %>
                    <% else %>
                        <%= link_to learning_link(@course.id_token, lesson),
                            class: ((@progress_event.lessons_completed.include?(lesson.id)) ? 
                            "flex-bar user-completed" : "flex-bar"), remote: true do %>
                            <%= show_svg("#{lesson.learnable_type}.svg") %>                                    
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    </ul>
    <% if (!(@next_lesson.nil?) && (@next_lesson.module_part_id == @module.id)) %>
        <% if (@next_lesson.has_content && (@next_lesson.learnable_type == "McQuiz")) %>
            <%= link_to learning_course_quiz_question_url(@course.id_token, "mc-quiz", @next_lesson.learnable_id,
                (@progress_event.most_recent_quiz_question_index.has_key?(@next_lesson.learnable_id.to_s) ? 
                    @progress_event.most_recent_quiz_question_index[@next_lesson.learnable_id.to_s] : 1), subdomain: "learning"), 
                class: "is-flex is-align-items-center", remote: true do %>
                <%= image_tag(image_path("right-chevron.png"), class: "arrow-button right") %>
            <% end %>
        <% else %>
            <%= link_to learning_link(@course.id_token, @next_lesson), 
                class: "is-flex is-align-items-center", remote: true do %>
                <%= image_tag(image_path("right-chevron.png"), class: "arrow-button right") %>
            <% end %>
        <% end %>
    <% else %>
        <!-- Display nothing since no more next lessons for the current module -->
        <a class="is-flex is-align-items-center is-hidden" data-remote="true" href="#">
            <%= image_tag(image_path("right-chevron.png"), class: "arrow-button right") %>
        </a>
    <% end %>
</div>