var complete_course_button = $("#right_column_learning_continue #complete-course-form");
var completed_course_box = document.createElement("div");

$(completed_course_box).attr("id", "completed-course-box")
    .html(`<i class='fas fa-check fa-lg'></i>
           <span class='ml-4'>Course Completed</span>`);

$(completed_course_box).insertBefore(complete_course_button);
complete_course_button.remove();

// increment the progress bar manually since common layout does not run.

var progress_bar = $("#topLearningNavbar").find("#module-progress progress");
progress_bar.css("width", "100%");
var current_lesson = $("#course-index-list li.current > a");
current_lesson.data("completed", true);

var current_module_li = $("#course-index-list ul.module-list.current > li");
current_module_li.append(`<%= show_svg("green_tick.svg") %>`);