
if ($("#my-notebook-page-holder").length == 1) {
    var card = $("#my-notebook-page-holder #show_competition_container").find(".card[data-competition-id='<%= @competition.id %>']");
    card.remove();
} else {
    $("#show_competition_container #save_competition_button").removeClass("is-hidden");
    $("#show_competition_container #remove_save_competition_button").addClass("is-hidden"); 
}

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);