
var new_question_modal = $("#edit-lesson-body #new_mc_quiz_question_modal");

var questions_column = $("#edit_lesson_form .questions");
var question_template = questions_column.find(".question").first();

var question_clone = question_template.clone();
question_clone.data("mc-question-id", <%= @mc_quiz_question.id %>);

var question_title = "<%= @mc_quiz_question.title %>";
var question_index = questions_column.find(".question:not(.is-hidden)").length;

question_clone.find(".question-title-content").text(`Question ${question_index + 1}: ${question_title}`);
question_clone.removeClass("is-hidden");

questions_column.append(question_clone);
new_question_modal.removeClass("is-active");
