<div id="edit-question-body" class="flex-grow w-100">
  <div class="question-panel h-100">
    <section class="section p-0 h-100 is-flex is-flex-direction-column" id="edit_question_section">
      <div id="heading-fixed-bar" class="is-flex is-flex-grow-0 container is-justify-content-space-between px-4 py-2 is-align-items-center border-bottom-gb mx-0">
        <h1 class="title is-4 mb-0">Quiz question details</h1>
        <div>
          <button class="button is-link w-min-content mr-2" id="update_question_details">Update</button>
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="course-dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="course-dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <%= link_to dashboard_lesson_url(@lesson.id, subdomain: "dashboard"),
                      class: "dropdown-item", method: :delete, remote: true do %>
                      <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                      <span>Delete</span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-0 container py-4 px-5 mx-0">
          <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
              <li>
                  <span class="question-title">
                    <%= "Module #{@module_position}: #{@module.title}" %>
                  </span>
              </li>
              <li>  
                  <span class="px-3 breadcrumb-link lesson-title">
                     <%= "Lesson #{@lesson_position}: #{@lesson.title}" %>
                  </span>
              </li>
              <li>
                  <span class="question-title">
                    <%= "Question #{@question_position}: #{@mc_quiz_question.title}" %>
                  </span>
              </li>
            </ul>
          </nav>
      </div>
      <%= form_with(model: @mc_quiz_question, url: dashboard_mc_quiz_question_url(@mc_quiz_question.id, subdomain: "dashboard"), 
                    method: :patch, local: false, html: { class: "container pt-2 pb-4 px-5 mx-0", id: "edit_quiz_question_form" } ) do |f| %>
            <div class="columns px-3 h-100">
              <div class="column pr-5 is-flex is-flex-direction-column question">
                    <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                            <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                    </div>
                    <div class="field">
                        <%= f.label :question, class:"label" %>
                        <div class="control">
                        <%= f.rich_text_area :question, class:"optional" %>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="field">
                        <%= f.label :explanation, class:"label" %>
                        <div class="control">
                        <%= f.rich_text_area :explanation, class:"optional" %>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
              </div>
              <div class="column pl-5 is-flex is-flex-direction-column question-options">
                    <div class="field number_of_options_field">
                        <%= f.label :number_of_choices, class: "pt-1 label has-text-centered" %>
                        <div class="control">
                            <div class="tags justify-center pt-1">
                                <% {:Three => 3, :Four => 4, :Five => 5}.each do |key, number| %>
                                    <div class="tag is-medium is-light <%= 'selected' if (number == @mc_quiz_question.number_of_choices) %>">
                                        <%= f.radio_button :number_of_choices, number.to_s, class: "radio is-hidden" %>
                                        <span><%= key.to_s %></span>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="field correct_option_index_fields">
                        <%= f.label :correct_answer_index, "Correct option", class:"pt-1 label has-text-centered" %>
                        <div class="control">
                            <div class="tags justify-center">
                                <% (0...@mc_quiz_question.number_of_choices).to_a.each do |number| %>
                                    <% if (number == @mc_quiz_question.correct_answer_index) %> 
                                        <div class="tag is-medium is-light selected">
                                            <%= f.radio_button :correct_answer_index, "#{number}", class: "radio is-hidden", checked: true %>
                                            <span>Option <%= "#{number + 1}" %></span>
                                        </div>
                                    <% else %>
                                        <div class="tag is-medium is-light">
                                            <%= f.radio_button :correct_answer_index, "#{number}", class: "radio is-hidden" %>
                                            <span>Option <%= "#{number + 1}" %></span>
                                        </div>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="field mb-0 mcq_options_fields">
                        <%= f.label :options, class: "label has-text-centered" %>
                        <% @mc_quiz_question.options.each.with_index(1) do |element, index| %>
                            <% if (index == (@mc_quiz_question.correct_answer_index + 1)) %> 
                                <div class="control is-flex mb-3 is-align-items-center">
                                    <span class="pr-4 number-bullet-points"><%= index %>.</span>
                                    <label class="radio pr-4 w-min-content">
                                        <input type="radio" name="answer" checked="checked">
                                    </label>
                                    <%= f.text_field :options, class: "input is-success", multiple: :true, value: [element] %>
                                </div>
                            <% else %>
                                <div class="control is-flex mb-3 is-align-items-center">
                                    <span class="pr-4 number-bullet-points"><%= index %>.</span>
                                    <label class="radio pr-4 w-min-content">
                                        <input type="radio" name="answer" disabled="true">
                                    </label>
                                    <%= f.text_field :options, class: "input", multiple: :true, value: [element] %>
                                </div>
                            <% end %>
                        <% end %>
                    </div>
              </div>
            </div>
      <% end %>
      <div id="delete_question_modal" class="modal">
            <div class="modal_background_light"></div>
            <div class="modal-content" id="delete_question_modal_body">
                <%= form_for(:question, method: :delete, remote: true, html: { class: "card" }) do |f| %>
                    <div class="card-content pb-3">
                        <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                            <span class="question-number">Delete Question 5</span>
                            <span>
                                <i class="fas fa-times fa-lg m-close blue-close"></i>
                            </span>
                        </div>
                        <div class="container success_container p-5">
                            <div>If you choose to delete this question, 
                                    all the details of this question will be permanently lost.</div>
                        </div>
                    </div>
                    <footer class="card-footer is-justify-content-end">
                        <%= f.submit "Delete", id: "question_deletion_button", class: "button my-2 is-link w-min-content" %>
                        <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                    </footer>
                <% end %>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
      </div>
    </section>
  </div>
</div>