<div class="section pt-5 w-100" id="checkout_container">
   <div class="container px-5">
      <h2 class="title mx-5">Checkout</h2>
      <hr class="darker-divider mx-5">
   </div>
   <div class="container px-5">
      <div class="columns my-0 pt-3 mx-3">
        <section class="column is-flex-grow-1">
            <article class="message is-danger mb-0">
                <div class="message-body py-2 px-4">
                  <span class="has-text-black"><%= @checkout_session_message %></span>
                </div>
            </article>
        </section>
      </div>
   </div>
</div>
