<div class="section pt-5 w-100" id="checkout_container">
   <div class="container px-5">
      <h2 class="title mx-5">Checkout</h2>
      <hr class="darker-divider mx-5">
   </div>
   <div class="container px-5">
      <div class="columns my-0 pt-3 mx-3">
        <section class="column is-flex-grow-1">
            <!-- 
               <div class="card basic-info-card mb-5">
                    <div class="card-content p-0">
                      <div class="px-4 py-2 is-flex is-justify-content-space-between">
                        <span class="has-text-weight-bold">Basic info</span>
                      </div>
                      <div class="px-4 py-2 container border-top-gainsboro">
                        <p>50 Corea street, Sylvania 2224, NSW</p>
                      </div>
                    </div>
               </div> -->
               <!--
               <div class="card payment-card mb-5">
                    <div class="card-content p-0">
                      <div class="px-4 py-2 is-flex is-justify-content-space-between">
                        <span class="has-text-weight-bold">Card payment details</span>
                        <span class="has-text-link is-clickable is-hidden" id="change_card_details">Change</span>
                      </div>
                      <div class="px-4 py-3 container border-top-gainsboro">
                          <div id="card_detail_holder" class="is-hidden is-flex is-align-items-center">
                              <img alt="Visa" title="Visa" data-card="visa" class="is-hidden" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/visa-75b463620dc6ff97f4a2e44bdbed46ce45822fb161f7beeebe9ffecf3c8b1a01.svg" width="48px" height="30px">
                              <img alt="MasterCard" title="MasterCard" data-card="mastercard" class="is-hidden" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/mastercard-914fbf5aa6aa3a3cb192fde73953ce4e3cfcbf8bc568fb498c01da0de267e30b.svg" width="48px" height="30px">
                              <%= image_tag(image_path("american-express.png"), class: "is-hidden height-30px", data: { card: "american_express" }) %>
                              <span class="ml-5 last_digits"></span>
                          </div>
                         <div id="form-container" class="is-flex is-flex-wrap-wrap is-justify-content-end">
                             <div id="card-error-notification" class="w-100 py-2 mb-4 notification is-danger is-light is-hidden">
                             </div>
                             <div id="sq-card-number" class="mb-4"></div>
                             <div class="third is-flex-grow-1" id="sq-expiration-date"></div>
                             <div class="third" id="sq-cvv"></div>
                             <div class="third is-hidden" id="sq-postal-code"></div>
                             <div class="is-flex is-justify-content-space-between w-100 form-container">
                               <div class="card_icons_holder is-flex is-align-items-center">
                                   <img alt="Visa" title="Visa" class="mr-2" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/visa-75b463620dc6ff97f4a2e44bdbed46ce45822fb161f7beeebe9ffecf3c8b1a01.svg" width="48px" height="30px">
                                    <img alt="MasterCard" title="MasterCard" class="mr-2" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/mastercard-914fbf5aa6aa3a3cb192fde73953ce4e3cfcbf8bc568fb498c01da0de267e30b.svg" width="48px" height="30px">
                                    <%= image_tag(image_path("american-express.png"), class: "mr-2", size: "48x30") %>
                               </div>
                               <div class="buttons">
                                  <button id="sq-creditcard" type="button" 
                                  class="w-min-content button is-link">
                                  Done</button>
                                  <button id="cancel_card_change" 
                                  class="w-min-content button is-light is-hidden">Cancel</button>
                               </div>
                             </div>
                         </div>
                      </div>
                    </div>
               </div> -->
              <% @cart_sellers_and_notes.each do |seller_username, note_array| %>
                  <div class="card mb-5">
                    <div class="card-content p-0">
                      <div class="panel-heading has-text-weight-normal">
                        <span>Seller: <%= seller_username %></span>
                      </div>
                      <% note_array.each do |note| %>
                          <div class="container border-top-gainsboro">
                            <div class="columns m-0 p-2">
                                <div class="column is-one-third pb-0">
                                    <figure class="image pdf_loading pdf_border is-4by3 is-flex is-justify-content-center pt-50">
                                        <span class="is-text-align-center image_loading_placeholder">Image loading...</span>
                                        <%= image_tag(note.pdf.preview(resize_to_fill: (note.is_horizontal? ?
                                                      [840, (840/note.paper_size_ratio).to_i] : [(840/note.paper_size_ratio).to_i, 840]),
                                                      gravity: "NorthEast"), id:"pdf_thumbnail_success", class:"pdf_thumbnail_box pdf_border is-hidden") %>
                                        <div class="pdf_pages opaque_overlay">
                                            <%= single_case(note.number_of_pages,"pages")  %>
                                        </div>
                                    </figure>
                                </div>
                                <div class="column is-flex-grow-1 success_details">
                                    <div>
                                       <p><%= note.title %></p>
                                       <p class="color-secondary">Uploaded <%= note.created_at.strftime("%d %b, %Y") %></p>
                                    </div>
                                </div>
                                <div class="price column is-flex-grow-0 pb-0 is-flex is-flex-direction-column is-justify-content-space-between">
                                       <span class="is-size-4">$<%= "%.2f" % note.price %></span>
                                       <span class="has-text-right"><%= link_to "Remove", "#", class: "is-link" %></span>
                                </div>
                            </div>
                          </div>
                      <% end %>
                    </div>
                  </div>
              <% end %>
        </section>
        <section class="column is-flex-grow-0">
            <%= form_with scope: :transaction, url: transaction_create_url(subdomain: false), class: "checkout-box card p-3" do |f| %>
              <div class="is-flex is-justify-content-space-between is-size-5 pb-3">
                  <span><%= "Item".pluralize(@number_of_notes) + "(#{@number_of_notes})" %>
                  </span>
                  <span class="has-text-weight-bold">$<%= '%.2f' % @subtotal_price %></span>
              </div>
              <div class="total is-flex is-justify-content-space-between is-size-5 pb-3">
                  <span>Total
                  </span>
                  <span class="has-text-weight-bold">AU $<%= '%.2f' % @subtotal_price %></span>
              </div>              
              <%= f.hidden_field :card_nonce %>
              <%= f.submit "Confirm Payment", class: "button is-link is-fullwidth" %>
            <% end %>
        </section>
      </div>
   </div>
</div>
<%= javascript_pack_tag "sqPaymentForm" %>