// for all elements that use position: fixed, absolute or sticky.
// can be navbars, menus fixed at the bottom, top or side edges.

// the side menu for dashboard lesson elements
#sticky-lesson-elements {
    border-left: 1px solid gainsboro;
    position: sticky;
    top: 3.5rem;
    max-height: calc(100vh - 3.5rem);
    overflow-y: scroll;
    .lessons {
        background-color: white;
    }
}

nav.navbar.is-sticky-left {
    left: 0;
    position: fixed;
    z-index: 11;
    border-right: 1px solid gainsboro;
    height: 100vh;
    width: 3.25rem;  
    display: flex;
    flex-direction: column;
    background-color: #280137;
    transition: width 0.2s;
    transition-timing-function: ease-in-out;

    .vertbar-brand a.navbar-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
    }

    img.learning_logo {
        width: auto;
        border-radius: 100%;
        max-height: none;
        height: 2.25rem;
        object-fit: cover;
        object-position: left;
    }

    #vertical-navbar-menu {
        padding-top: 6.25vh;
        display: flex;
        justify-content: center;

        .vertical-holder {
            width: 100%;
        }

        a.navbar-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding-top: 1rem;
            padding-bottom: 1rem;
            background-color: #B9B9B7;
            margin-bottom: 2px;
            i.fas, .img-size {
                min-width: 1.2rem;
                max-width: 1.2rem;
                margin-left: 0.25rem;
                margin-right: 0.5rem;
            }

            .ruby-block {
                display: ruby;
                overflow: hidden;
            }

            &:hover {
                background-color: #c8c8de;
                color: black;
            }
        }
    }
}

nav.navbar.is-sticky-left:hover {
    width: 14rem;   
    img.learning_logo {
        width: 9rem;
        border-radius: 0%;   
    }
}

nav.navbar.is-sticky-left:hover ~ .body-learning-width { 
    opacity: 0.5;
}

.body-learning-width {
    width: calc(100vw - 3.25rem);
    margin-left: 3.25rem;
}

// write code for the current top nav.
#topLearningNavbar {
    .module-link {
        cursor: pointer;
    }
    
    .module-link-title {
        font-weight: 450;
        color: #654C8A;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 14rem;

        &:hover {
            color: #230059;
        }
    }
}
