
#index_notes_container {
    background-color: #fafafb;

    #home-index-holder {
        & > .columns {
            column-gap: 1rem;

            & > .column.card-holder {
                max-width: 20%;
                min-width: 13rem;
            }
        }
    }

    img.course_image_thumbnail {
        height: 7rem;
        object-fit: contain;

        &.obj-cover {
            object-fit: cover;
        }
    }
}

nav.navbar.is-sticky-top {
    .navbar-brand img {
        max-height: unset;
        width: 7rem;
    }
}