<div class="section py-0 w-100" id="checkout_container">
    <div class="mw-60rem has-background-white p-5">
        <div class="container">
            <h2 class="title">Checkout</h2>
            <hr class="darker-divider">
        </div>
        <div class="container">
            <div class="columns my-0 pt-3">
                <section class="column is-flex-grow-1">
                        <div class="card basic-info-card mb-5">
                            <div class="card-content p-0">
                                <div class="checkout-card-heading px-4 py-2 is-flex is-justify-content-space-between">
                                    <span class="is-size-5">Basic info</span>
                                </div>
                                <div class="px-4 pt-3 pb-0 container border-top-gainsboro is-flex is-flex-wrap-wrap">
                                    <div class="field half is-flex-grow-1">
                                        <label class="label">First name</label>
                                        <div class="control">
                                            <input id="first_name_input" type="text">
                                        </div>
                                    </div>
                                    <div class="field half is-flex-grow-1">
                                        <label class="label">Last name</label>
                                        <div class="control">
                                            <input id="last_name_input" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="card payment-card mb-5">
                            <div class="card-content p-0">
                            <div class="checkout-card-heading px-4 py-2 is-flex is-justify-content-space-between">
                                <span class="is-size-5">Card payment details</span>
                                <!-- <span class="has-text-link is-clickable is-hidden" id="change_card_details">Change</span> -->
                            </div>
                            <div class="px-4 py-3 container border-top-gainsboro">
                                <div id="card_detail_holder" class="is-hidden is-flex is-align-items-center">
                                    <img alt="Visa" title="Visa" data-card="visa" class="is-hidden" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/visa-75b463620dc6ff97f4a2e44bdbed46ce45822fb161f7beeebe9ffecf3c8b1a01.svg" width="48px" height="30px">
                                    <img alt="MasterCard" title="MasterCard" data-card="mastercard" class="is-hidden" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/mastercard-914fbf5aa6aa3a3cb192fde73953ce4e3cfcbf8bc568fb498c01da0de267e30b.svg" width="48px" height="30px">
                                    <%= image_tag(image_path("american-express.png"), class: "is-hidden height-30px", data: { card: "american_express" }) %>
                                    <span class="ml-5 last_digits"></span>
                                </div>
                                <div id="form-container" class="is-flex is-flex-wrap-wrap is-justify-content-end">
                                    <div id="card-error-notification" class="w-100 py-2 mb-4 notification is-danger is-light is-hidden">
                                    </div>
                                    <div class="field w-100">
                                        <label class="label">Cardholder Name</label>
                                        <div class="control">
                                            <input id="cardholder_name_input" type="text">
                                        </div>
                                    </div>
                                    <div class="field w-100">
                                        <label class="label">Card Number</label>
                                        <div class="control">
                                            <div id="sq-card-number" class=""></div>
                                        </div>
                                    </div>
                                    <div class="fields">
                                        <div class="field third">
                                            <label class="label">Expiry</label>
                                            <div class="control">
                                                <div class="" id="sq-expiration-date"></div>
                                            </div>
                                        </div>
                                        <div class="field third">
                                            <label class="label">CVV</label>
                                            <div class="control">
                                                <div class="" id="sq-cvv"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="third is-hidden" id="sq-postal-code"></div>
                                    <div class="is-flex is-justify-content-space-between w-100 form-container">
                                        <div class="card_icons_holder is-flex is-align-items-center">
                                            <img alt="Visa" title="Visa" class="mr-2" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/visa-75b463620dc6ff97f4a2e44bdbed46ce45822fb161f7beeebe9ffecf3c8b1a01.svg" width="48px" height="30px">
                                                <img alt="MasterCard" title="MasterCard" class="mr-2" src="https://public-assets.envato-static.com/assets/buying/financial-institutes/mastercard-914fbf5aa6aa3a3cb192fde73953ce4e3cfcbf8bc568fb498c01da0de267e30b.svg" width="48px" height="30px">
                                                <%= image_tag(image_path("american-express.png"), class: "mr-2", size: "48x30") %>
                                        </div>
                                    <div class="buttons">
                                        <button id="sq-creditcard" type="button" 
                                        class="w-min-content button is-link">
                                        Confirm Payment</button> <!-- sq-credit-card -->
                                    </div>
                                    </div>
                                </div>
                                <%= form_with scope: :subscription, url: subscription_url(subdomain: false), id: "create-subscription-form" do |f| %>           
                                        <%= f.hidden_field :first_name %>
                                        <%= f.hidden_field :last_name %>
                                        <%= f.hidden_field :cardholder_name %>
                                        <%= f.hidden_field :card_nonce %>
                                <% end %>
                            </div>
                            </div>
                    </div>
                </section>
                <section class="column is-two-fifths is-flex-grow-0">
                    <div class="card mb-5">
                        <div class="card-content p-0">
                            <div class="checkout-card-heading px-4 py-2">
                                <span class="is-size-5">Notebank Premium Subscription</span>
                            </div>
                            <div class="container border-top-gainsboro">
                                <div class="columns m-0 p-4">
                                    <div class="column is-one-third p-0" id="premium-logo-holder">
                                        <span class="logo is-size-5">Premium</span>
                                    </div>
                                    <div class="column is-flex-grow-1 success_details py-0">
                                        <p>Unlimited access to all videos on video production</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="darker-divider mx-4">
                            <div class="container p-4">
                                <div class="is-flex is-justify-content-space-between mb-4">
                                    <span>No commitment. Cancel anytime.</span>
                                </div>
                                <div class="is-flex is-justify-content-space-between">
                                    <span>Monthly subscription:</span>
                                    <div class="is-flex has-text-weight-bold"> 
                                        <span>$9.99</span>
                                        <span class="text-secondary">/per month</span>
                                    </div>
                                </div>
                                <div class="is-flex is-justify-content-space-between">
                                    <span>Total due:</span>
                                    <div class="is-flex has-text-weight-bold"> 
                                        <span>AU $9.99</span>
                                    </div>
                                </div>
                            </div>
                            <hr class="darker-divider mx-4">
                            <div class="container p-4">
                                <div class="is-flex is-justify-content-space-between">
                                    <p class="text-secondary">
                                        Payments are charged on a monthly, recurring basis. 
                                        If you choose to end your subscription, that means your card
                                        will not be charged afterwards for the upcoming month.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<%= javascript_pack_tag "sqPaymentForm" %>