<section id="premium-plan-section" class="hero is-medium">
    <div class="hero-body is-flex is-flex-direction-column is-align-items-center">        
        <figure class="<%= @premium_course ? 'image mb-4' : 'image' %>">
            <%= image_tag(image_path("notebank_premium_logo.png"), class: "") %>
        </figure>
        <% if @premium_course %>
                <div class="card m-4 is-flex" data-course-id-token="<%= @premium_course.id_token %>">
                    <div class="card-image w-12rem">
                        <figure class="image">
                            <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                            <% if @premium_course.image.representable? %>
                                <%= image_tag(@premium_course.image.representation(resize_to_fill: [840,600]), class:"course_image_thumbnail is-hidden") %>
                            <% end %>
                        </figure>
                    </div>
                    <div class="card-content is-flex-grow-1 p-0">
                        <div class="content h-100 is-flex is-justify-content-space-between position-relative">
                            <div class="is-flex is-flex-grow-1">
                                <div class="card-title-holder px-4 py-2 is-flex is-flex-direction-column is-justify-content-space-between">
                                    <div class="">
                                        <p class="subject-header is-6 mb-0 color-dark-grey"><%= @premium_course.subject.gsub("_", " ") %></p>
                                        <p class="card-title subtitle mb-1 is-5 has-text-weight-normal"><%= @premium_course.title %></p>
                                        <div class="is-flex is-align-items-center is-justify-content-space-between">
                                            <p class="subtitle is-6 mb-2 color-dark-grey">
                                                <span>by <%= @course_designer.display_name %></span>
                                                <span class="px-1">&middot;</span>
                                                <span><%= @premium_course.created_at.strftime("%Y") %></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="is-flex m-0 w-100">
                                        <div class="is-flex is-align-items-baseline pr-5">
                                            <div class="is-size-5 pr-1"><%= @premium_course.quizzes_count %></div>
                                            <div class="color-dark-grey mt-minus-2">quizzes</div>
                                        </div>
                                        <div class="is-flex is-align-items-baseline ">
                                            <div class="is-size-5 pr-1"><%= @premium_course.videos_count %></div>
                                            <div class="color-dark-grey mt-minus-2">videos</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <% end %>
        <% if @premium_course %>
            <p class="subtitle my-3 py-2">
                Get unlimited access to <span class="has-text-weight-semibold"><%= @premium_course.title %></span> and other premium courses.  
            </p>
        <% else %>
            <p class="subtitle my-5 py-2">
                Get unlimited access to all videography, video editing and sound production courses.  
            </p>
        <% end %>
        <% if logged_in_as_student? %>
            <%= link_to "Subscribe now", checkout_url(subdomain: false), class: "button is-link hero-button"%>
        <% else %>
            <%= link_to "Subscribe now", premium_url(subdomain: false, nbp: "guest"), class: "button is-link hero-button"%>
        <% end %>            
        <div class="is-flex-wrap-wrap is-justify-content-center is-flex my-5 is-size-5 has-text-weight-light">
            <span>$9.99/per month</span>
            <span class="px-3">&#183;</span>
            <span>Cancel Anytime</span>
            <span class="px-3">&#183;</span>
            <span>Recurring billing</span>
        </div>
    </div>
</section>