<div class="section pt-0 w-100" id="checkout_success_container">
   <div class="mw-60rem has-background-white p-5 my-5">
      <div class="container">
         <div class="is-flex is-align-items-center is-justify-content-space-between mb-5">
            <h2 class="title">Thanks for subscribing</h2>
         </div>
         <hr class="darker-divider">
      </div>
      <div class="container">
         <div class="columns my-0 pt-1">
         <section class="column is-flex-grow-1">
                  <div class="is-size-5">
                        <div class="">You now have access to all premium modules and courses on Notebank.</div>
                        <div>You will also receive an email confirmation receipt shortly at <%= current_student.email %>.</div>
                  </div>
                  <div class="buttons mt-4">
                     <%= link_to "Browse courses", root_url(subdomain: false), class: "button is-link" %>
                     <%= link_to "Resume last course", "#", class: "button is-light" %>
                  </div>
         </section>
         </div>
      </div>
   </div>
</div>

    <!--
               <span>Account Information:</span>
               <div class="account_fields">
                     <div class="account-field">
                        <div class="label">
                              Email:
                        </div>
                        <div class="text-input">
                              <%%= current_student.email %>
                        </div>
                     </div>
                     <div class="account-field">
                        <div class="label">
                              Service provider:
                        </div>
                        <div class="text-input">
                              Notebank
                        </div>
                     </div>
                     <div class="account-field">
                        <div class="label">
                              Plan:
                        </div>
                        <div class="text-input">
                              Premium
                        </div>
                     </div>
                     <div class="account-field">
                        <div class="label">
                              Price:
                        </div>
                        <div class="text-input">
                              AU $9.99/month
                        </div>
                     </div>
                     <div class="account-field">
                        <div class="label">
                              Next payment date:
                        </div>
                        <div class="text-input">
                              charge_date
                        </div>
                  </div>
               </div>
            </div> -->
            <!-- <article class="message is-danger mb-0">
                <div class="message-body py-2 px-4">
                  <span class="has-text-black">Some text</span>
                </div>
            </article> -->