
section#index_competitions_container {
    background-color: #fafafb;

    .competition-videos-holder {
        & > .columns {
            column-gap: 1rem;

            & > .column.card-holder {
                max-width: 20%;
                min-width: 13rem;
            }
        }
    }

    img.course_image_thumbnail {
        height: 7rem;
        object-fit: contain;

        &.obj-cover {
            object-fit: cover;
        }
    }
}

.secondary_header {
    font-size: 1.5rem;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}