
// this file is for code belong to all public pages showing the details of a competition.

#show_competition_container {
    section#header_box {
        & > .column {
            margin: 1rem 0rem 1rem 0;
            border-radius: 4px;
            padding: 0;
            border: 1px solid #DFE1E5;

            & > .card-content {
                justify-content: space-between;

                .content-header {
                    padding: 0.75rem 0.75rem 0 0.75rem;
                    .title {
                        font-weight: 500;
                        font-size: 1.5rem;
                    }
                }
    
                .prize-header {
                    padding: 0.75rem 0.75rem 0 0.75rem;
                    align-items: end;
    
                    .title {
                        font-weight: 500;
                        font-size: 1.5rem;
                    }
                }
            }

            & > .tag-bar {
                .tabs {
                    overflow-x: unset;
                    padding-right: 0.5rem;
                }
            }
        }
    }

    section#content-tab-box {


        #requirements_section {

            #requirements_text {
                min-height: 4rem;
                height: 7rem;
                overflow: hidden;
                padding: 0.75rem;

                &.h-auto {
                    height: auto;
                }
            }

            .read-link {
                color: #8f8f8f;
                font-weight: 450;
                cursor: pointer;
                text-decoration: none;
                padding: 0.75rem;
                &:hover {
                  color: #363636;
                }
            }
        }

        #video_submissions {
            .subtitle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
            }

            & > .columns {
                column-gap: 1rem;
    
                & > .column.card-holder {
                    max-width: 25%;
                    min-width: 10rem;

                    img.placeholder {
                        height: 6.7rem;
                    }
                }
            }
        }

        #new_video_submission_modal_body, #new_competition_submission_modal_body, 
        #update_video_submission_modal_body {
            .video-delete-bar {
                position: absolute;
                width: 100%;
                top: 1rem;
                z-index: 3;
                display: flex;
                right: 1rem;
        
                .delete-video {
                    background-color: #C70000;
                    border-radius: 0 ;
                }
            }

            .card-content {
                form {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                }
            }

            #upload_submission_modal {
                height: 60vh;
        
                .control.file_upload {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        
            .field.subtitle {
                margin-top: 1.4rem;
            }
        }

        #my_submission {
            .card-image {
                max-width: 33.33%;
                min-width: 13rem;
            }

            .show-submission-link {
                color: #4A4A4A;
            }
        }
    }

    #right_column_note_info {
        #client-box {
            border: 1px solid #DFE1E5;
            border-radius: 4px;
        }
    }
}