
#my-notebook-page-holder {
    div.card {
        .card-image {
            .image {
                display: flex;
                img {
                    border-top-right-radius: 0;
                }
            }
        }

        .card-content {
            .card-title-holder {
                .competition-basics {
                    align-items: flex-end;
                    justify-content: space-between;
                    display: flex;

                    .your-rating, .your-rank {
                        width: 50%;
                    }
                }
            }
        }

        #new_competition_submission_modal_body {
            .video-delete-bar {
                position: absolute;
                width: 100%;
                top: 1rem;
                z-index: 3;
                display: flex;
                right: 1rem;
        
                .delete-video {
                    background-color: #C70000;
                    border-radius: 0 ;
                }
            }

            #upload_submission_modal {
                height: 60vh;
        
                .control.file_upload {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        
            .field.subtitle {
                margin-top: 1.4rem;
            }
        }
    }
}

#update_profile_page {
    #profile_photo_file {
        label.file-label:hover {
            .file-cta {
                color: #fff;
                background-color: #485fc7;
            }
        }
    }


}
#payment_details_page {
    #billing_address_form, #bank_account_form {

        .label {
            flex-basis: 20rem;
            min-width: 9rem;
            flex-shrink: 1;
            font-weight: 400;
        }
        .mw-10rem {
            max-width: 10rem;
        }

        .mw-14rem {
            max-width: 14rem;
        }

        .mw-24rem {
            max-width: 24rem;
        }
    }
}

#faq-payment {
    font-size: 1.1rem;
    padding: 1rem 3rem;
}