<div class="columns is-flex-wrap-wrap is-flex m-0 p-0">
  <% if courses.present? %>
      <% courses.each do |course| %>
        <div class="column maxw-25 mb-5 p-0 mr-4 is-flex-grow-0 card-holder">
              <%= link_to course_url(subdomain: false, course_token: course.id_token), class: "" do %>
                <div class="my-card card">
                  <div class="card-image">
                    <figure class="image w-100">
                        <%= image_tag(course.image.representation(resize_to_limit: [840, 600]), class:"course_image_thumbnail") %>
                    </figure>
                  </div>
                  <div class="card-content p-0">
                      <div class="content p-2">
                        <div class="content-title mb-0"><%= course.title %></div>
                        <div class="is-flex is-align-items-center mt-1">
                            <i class="far fa-user pr-1"></i>
                            <span class="content-subtitle">Justin</span>
                        </div>
                      </div>
                  </div>
                </div>
            <% end %>
        </div>
      <% end %>
  <% end %>
</div>
