
<section class="note_slider_container" id="other_notes_slider">
            <div class="py-4 is-flex is-justify-content-space-between">
                <div class="subtitle is-size-5 mb-0">Other <%= @course.subject.gsub("_", " ") %> notes</div>
                <div>
                  <p>Page <span class="other_notes_page_counter">1</span> of  <span class="slider_max_pages"><%= @other_course_notes_id.count/3 + 1 %></span></p>
                  <span class="is-hidden"><%= link_to("Return to Page 1", "#") %></span>
                </div>
            </div>
            <div class="is-flex is-align-items-center">
                <button class="left_slider_button button is-rounded" disabled="true">
                    <span class="icon">
                      <i class="fas fa-angle-left"></i>
                    </span>
                </button>
                <div class="columns note_slider m-0 px-4" data-current_slider_index="1" data-notes_id_array="<%= @other_course_notes_id %>" data-slider_max_pages="<%= @other_notes_length/3 %>">
                  <% @other_course_notes_first_row.each_with_index do |note, index| %>
                      <div class="column mw-33" data-card-index=<%= index %>>
                          <%= link_to note_url(subdomain: false, note_token: note.id_token), class: "my-card" do %>
                              <div class="card-image is-flex">
                                  <figure class="image w-100 pdf_loading pdf_border is-justify-content-center is-flex-direction-column pdf_dimensions is-4by3 pt-50">
                                    <div class="opaque_overlay opaque_bookmark is-hidden"><i class="fas fa-bookmark fa-lg"></i></div>
                                    <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                                    <% if !note.is_horizontal? %>
                                        <%= image_tag(note.pdf.preview(resize_to_fill: [600, 840], gravity: "NorthEast"), class:"pdf_thumbnail_box pdf_border is-hidden") %>
                                    <% else %>
                                        <%= image_tag(note.pdf.preview(resize_to_fill: [840, 600], gravity: "NorthEast"), class:"pdf_thumbnail_box pdf_border is-hidden") %>
                                    <% end %>
                                    <div class="pdf_pages opaque_overlay">
                                        <%= single_case(note.number_of_pages,"pages")  %>
                                    </div>
                                  </figure>
                              </div>
                              <div class="card-content p-0">
                                <div class="content">
                                  <p class="content-title mb-0 py-1"><%= note.title %></p>
                                  <div class="is-flex is-align-items-center pb-1">
                                    <!-- <div class="content-subtitle h-min-content c-dim-grey pt-0 mb-0">
                                    </div> -->
                                    <span class="is-flex is-align-items-center">
                                          <span class="is-flex"><%= note.download_count %> downloads</span>
                                    </span>
                                    <span class="px-2">&bullet;</span>
                                    <i class="far fa-user pr-2 font-size-14px"></i>
                                    <span class="font-size-14px">95 Mark</span>
                                  </div>
                                </div>
                              </div>
                          <% end %>
                      </div>
                  <% end %>
                  <% @remaining_notes_indices.each do |index| %>
                      <div class="column mw-33" data-card-index=<%= index %>>
                      </div>
                  <% end %>
                </div>
                <%= button_to @request_location, method: :post, remote: :true, class: "button is-rounded right_slider_button" do %>
                    <span class="icon">
                      <i class="fas fa-angle-right"></i>
                    </span>
                <% end %>
            </div>
        </section>
        <hr class="darker-divider">