<%= link_to note_url(subdomain: false, note_token: note.id_token), class: "my-card" do %>
        <div class="card-image is-flex">
        <figure class="image w-100 pdf_loading pdf_border is-justify-content-center is-flex-direction-column pdf_dimensions is-4by3 pt-50p">
          <div class="opaque_overlay opaque_bookmark is-hidden"><i class="fas fa-bookmark fa-lg"></i></div>
          <%= image_tag(note.pdf.preview(resize_to_fill: (note.is_horizontal? ?
                        [840, (840/note.paper_size_ratio).to_i] : [(840/note.paper_size_ratio).to_i, 840]),
                        gravity: "NorthEast"), class:"pdf_thumbnail_box pdf_border") %>
          <div class="pdf_pages opaque_overlay">
              <%= single_case(note.number_of_pages,"pages")  %>
          </div>
        </figure>
        </div>
        <div class="card-content p-0">
          <div class="content">
            <p class="content-title mb-0 py-1"><%= note.title %></p>
            <div class="is-flex is-align-items-center pb-1">
              <!-- <div class="content-subtitle h-min-content c-dim-grey pt-0 mb-0">
              </div> -->
              <span class="is-flex is-align-items-center">
                    <span class="is-flex"><%= note.download_count %> downloads</span>
              </span>
              <span class="px-2">&bullet;</span>
              <i class="far fa-user pr-2 font-size-14px"></i>
              <span class="font-size-14px">95 Mark</span>
            </div>
          </div>
        </div>
<% end %>
