$("#home-index-holder").html("<%= j (render partial: 'courses/index_notes_content',
      locals: { courses: @courses } ) %>");

$("section#index_notes_container .my-card img.pdf_thumbnail_box").each( function(){
      $(this).removeClass("is-hidden");
});
