<div id="main_panel" class="flex-grow"> <!--
  <section class="hero has-background-grey-dark columns m-0 p-0">
    <div class="hero-body columns my-0 mr-0 ml-2 p-0">
      <div class="pr-3 pl-5 column m-0 p-0 is-flex is-flex-direction-column is-justify-content-center">
          <p class="title has-text-white is-2">
            Learn video production skills
          </p> 
      </div>
      <div class="column m-0 p-0">
          <%= image_tag(image_path("cameraman.webp"), class: "h-100") %>
      </div>
    </div>  
  </section> -->
  <section class="section pt-4 pb-2 h-100" id="index_notes_container">
    <div class="container">
      <p class="title is-2 pt-4">Practice video editing online</p>
      <div id="secondary_navbars" class="mb-4">
           <div class="mx-0 pb-2" id="subject_tag_bar">
              <div class="tabs">
                <ul>  
                    <li class="">
                        <%= link_to "Competitions", competitions_url(subdomain: false), remote: true %>
                    </li>
                    <li class="is-active">
                        <%= link_to "Learning projects", courses_url(subdomain: false), remote: true %>
                    </li>
                 </ul>
                <!--  root_url(subdomain: false), index_by_subject_url(subdomain: false, subject: subject) -->
             </div>
           </div>
      </div>
      <div id="home-index-holder">
          <%= render "index_notes_content", courses: @courses %>
      </div>
    </div>
  </section>
</div>
