<div id="main_panel" class="flex-grow">
    <%= render 'secondary_navbars' %>
    <section class="section pt-5 pb-2" id="index_notes_container">
        <%= render 'index_notes_content', notes: @course_notes %>
    </section>
</div>
