$("#index_notes_container").html("<%= escape_javascript(render partial: 'notes/index_notes_content',
      locals: { notes: @course_notes } ) %>");

$("section#index_notes_container .my-card img.pdf_thumbnail_box").each( function(){
      $(this).removeClass("is-hidden");
});
