var note_slider_container = $("section.note_slider_container");
var note_slider = note_slider_container.find(".note_slider");
var max_pages = parseInt(note_slider.data("slider_max_pages"));
var next_slider_index = <%= @current_slider_index + 1 %>;

// update what page is the slider on
note_slider.data("current_slider_index", next_slider_index)
note_slider_container.find(".other_notes_page_counter").text(next_slider_index);

// display or hide the arrow buttons depending on current_slider_index
var left_slider_button = note_slider_container.find(".left_slider_button");
var right_slider_button = note_slider_container.find(".right_slider_button");
// right side button
console.log(next_slider_index, max_pages);
if (next_slider_index == max_pages) {
    right_slider_button.attr("disabled", true);
    left_slider_button.removeAttr("disabled");
} else if (next_slider_index == 1) {
    right_slider_button.removeAttr("disabled");
    left_slider_button.attr("disabled", true);
} else {
    right_slider_button.attr("disabled", true);
    left_slider_button.attr("disabled", true);
}

note_slider.children().addClass("is-hidden");
//var new_loaded_pages_array = note_slider.data("loaded-pages");
<% [*(@current_slider_index * 3)..(@current_slider_index * 3 + 2)].each do |index| %>
    note_slider.find(`.column[data-card-index="<%= index %>"]`)
                .removeClass("is-hidden").addClass("is-invisible");
<% end %>

<% @hash_of_next_slider_notes.each do |index, slider_note| %>
    note_slider.find(`.column[data-card-index="<%= index %>"]`)
                .html("<%= j (render partial: 'notes/slider_note',locals: { note: slider_note })%>") 
                .removeClass("is-invisible");
<% end %>