<!-- File to contian the view for index by subject temporarily. -->
<div id="main_panel" class="flex-grow">
  <section class="section py-5">
      <div class="container">
        <h1 class="title is-3">English</h1>
      </div>
  </section>
  <section class="section py-3 subject-categories">
      <div class="arrow-left">
          <i class="fas fa-chevron-left"></i>
      </div>
      <div class="container">
        <div class="columns">
          <div class="column">
            <span class="tag is-rounded is-medium">All</span>
          </div>
          <div class="column">
            <span class="tag is-rounded is-medium">Physics</span>
          </div>
          <div class="column">
            <span class="tag is-rounded is-medium">English Advanced</span>
          </div>
          <div class="column">
            <span class="tag is-rounded is-medium">Maths Extension 1</span>
          </div>
          <div class="column">
            <span class="tag is-rounded is-medium">Modern History</span>
          </div>
        </div>
      </div>
      <div class="arrow-right">
          <i class="fas fa-chevron-right"></i>
      </div>
  </section>
  <section class="section pt-4 pb-2">
    <div class="container">
      <div class="tabs">
        <ul>
          <li class="is-active"><a>Notes</a></li>
          <li><a>Tests</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section py-2">
    <div class="container is-flex is-justify-content-space-between">
          <div class="left-side is-flex is-align-items-center">
            <div class="h-min-content pr-2">Filter by:</div>
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" placeholder="Find a repository">
              </div>
              <div class="control">
                <a class="button is-info">
                  Search
                </a>
              </div>
            </div>
          </div>
          <div class="right-side is-flex is-align-items-center">
            <div class="h-min-content pr-2">Sort by:</div>
            <div class="control">
              <div class="select">
                <select>
                  <option>Price</option>
                  <option>Atar</option>
                  <option>Popularity</option>
                  <option>Rating</option>
                  <option>Upload date</option>
                </select>
              </div>
            </div>
          </div>
    </div>
  </section>
