<div id="main_panel" class="flex-grow">
  <div class="section pt-3 pb-0" id="show_competition_container">
        <div class="columns p-2">
          <div class="column is-flex-grow-1 is-two-thirds">
            <section class="columns mb-0" id="notes_basic_info">
              <div class="column is-flex is-flex-direction-column">
                  <div class="p-0 card-content is-flex-grow-1">
                    <div class="content-header">
                      <p class="title mb-3"><%= @course.title %></p> 
                      <div class="is-flex is-align-items-center is-justify-content-space-between">
                          <p class="subtitle is-6 mb-2">
                            <span>by <%= @student.username %></span>
                            <span class="px-2">&middot;</span>
                            <span><%= @course.created_at.strftime("%Y") %></span>
                          </p>
                      </div>
                    </div>
                    <hr class="my-1">
                    <div class="course_description_section mb-4">
                        <div class="py-2 mb-2 subtitle has-text-weight-medium is-size-4">
                            About the course
                        </div>
                        <% if @course.description.length < 250 %>
                            <div id="show_course_description" class="content my-2">
                              <%= @course.description %>
                            </div>
                        <% else %>
                            <div id="show_course_description" class="content my-2 h-description-less overflow-hidden">
                              <%= @course.description %>
                            </div>
                            <p><i class="fas fa-angle-left"></i><span class="ml-2 read-link" data-read-less="description">Read more</span></p>
                        <% end %>
                    </div>
                    <div class="course_objectives_section">
                        <div class="mb-2 py-2 subtitle has-text-weight-medium is-size-4">
                            Learning objectives
                        </div>
                        <ul id="show_course_objectives" class="content my-2 bullet-point pl-4">
                          <% @course.objectives.each do |objective| %>
                              <li><%= objective %></li>   
                          <% end %>
                        </ul>
                    </div>
                    <div class="course_modules_section">
                        <div class="mb-2 py-2 subtitle has-text-weight-medium is-size-4">
                            Modules
                        </div>
                        <div id="show_course_modules" class="my-2 is-flex card-holder">
                          <% @module_parts.each do |module_part| %>
                              <div class="my-card card mr-5">
                                <div class="card-image">
                                  <figure class="image is-4by3">
                                      <% if (module_part.image.attached?) %>
                                        <%= image_tag(module_part.image.representation(resize_to_limit: [420, 300]), class:"") %>
                                      <% end %>
                                  </figure>
                                </div>
                                <div class="card-content">
                                  <div class="content">
                                    <div class="content-title"><%= module_part.title %></div>
                                    <div class="content-subtitle"><%= module_part.subtitle %></div>
                                  </div>
                                </div>
                              </div>
                          <% end %>
                        </div>
                    </div>
                  </div>
              </div>
            </section>
          </div>
          <div class="column is-flex-grow-0 is-one-third" id="right_column_note_info">
              <div class="download-box">
                <figure class="image silver-gray-border">
                  <%= image_tag(@course.image.representation(resize_to_limit: [840, 600]), class:"course_image_thumbnail is-hidden") %>
                </figure>
                <div class="columns m-0 w-100">
                    <div class="column is-half">
                        <div class="is-size-2"><%= @course.quizzes_count %></div>
                        <div class="color-secondary mt-minus-2">Quizzes</div>
                    </div>
                    <div class="column is-half">
                        <div class="is-size-2"><%= @course.videos_count %></div>
                        <div class="color-secondary mt-minus-2">Videos</div>
                    </div>
                </div>
                <%= link_to @text_link, @link, 
                    class: "#{@bg_premium ? 'bg-premium' : 'is-link'} has-text-white w-100 button" %>
                <%= button_to course_save_event_url(subdomain: false, course_token: @course.id_token), method: :delete, remote: :true, 
                    class: "button is-light is-success is-fullwidth #{"is-hidden" unless @course_saved}", id: "remove_save_course_button" do %>
                    <span class="button-text">
                      Saved for later
                    </span>
                <% end %>
                <%= button_to course_save_event_url(subdomain: false, course_token: @course.id_token), method: :post, remote: :true, 
                    class: "button is-light is-fullwidth #{'is-hidden' if @course_saved}", id: "save_course_button" do %>
                    <span class="button-text">
                      Save for later
                    </span>
                <% end %>
              </div>
              <div class="note-basic-details">
                <div class="columns m-0 w-100 px-4 py-2 is-flex-direction-row border-bottom-gb">
                  <div class="column is-half">
                    <div class="">Subject:</div>
                  </div>
                  <div class="column is-half">
                    <div class=""><%= @course.subject.gsub("_", " ") %></div>
                  </div>
                </div>
                <div class="columns m-0 w-100 px-4 py-2 is-flex-direction-row border-bottom-gb">
                  <div class="column is-half">
                      <div class="">Upload date:</div>
                  </div>
                  <div class="column is-half">
                      <div class=""><%= @course.created_at.strftime("%d %B %Y") %></div>
                  </div>
                </div>
              </div>
              <p class="subtitle py-4 is-size-5 mb-0">Author</p>
              <div class="author-box is-align-items-flex-start">
                <div class="is-flex w-100 is-justify-content-space-between">
                  <div class="author-header">
                    <p class="subtitle py-0 is-size-5 mb-1"><%= @student.username %></p>
                    <p class="py-0 is-size-6 mb-0 color-dark-grey"><%= @student.occupation %></p>
                  </div>
                    <% if @student.image.attached? %>
                      <figure class="image">
                        <%= image_tag(@student.image) %>
                      </figure>
                    <% else %>
                        <i class="fas fa-user-circle fa-3x ml-2"></i>
                    <% end %>
                </div>
                <hr class="w-100 my-2">
                    <div class="mb-1">
                      <span class="has-text-grey is-size-6"><%= @student.background_info %></span>
                    </div>
                    <p><i class="fas fa-angle-left"></i><span class="ml-2 read-link" data-read-less="bio">Read more</span></p>
              </div>
          </div>
        </div>
    </div>
</div>
