$("#uploads_table_section").html("<%= escape_javascript(render partial: 'dashboard/private_notes/uploads_table_section',
      locals: { uploads: @uploads, pagy: @pagy } ) %>");

// after clicking a page number for uploads on student dashboard.
$("#uploads_table tbody .pdf_thumbnail_box").each( function() {
      $(this).on("load", function() {
            console.log("loading...");
            $(this).parent().removeClass("pdf_loading").removeClass("pdf_border");
            $(this).parent().find(".pdf_placeholder").remove();
            $(this).removeClass("is-hidden");
      });
});
