 <%= form_with(model: student, url: "/my_notebook/basic_info/delete-account", method: :patch, local: false,
                  class:"card p-0", id: "confirm_delete_account_form") do |f| %>
  <div class="card-content pb-3">
    <div class="subtitle mb-4 is-flex is-justify-content-space-between">
      <span>Delete your account?</span>
      <span>
        <i class="fas fa-times fa-lg m-close blue-close"></i>
      </span>
    </div>
    <div class="container success_container py-3">
        <article class="error-notification message is-danger is-hidden my-2">
          <div class="message-body py-2">
              The password you entered is incorrect.
          </div>
        </article>
        <div class="subtitle mb-4 pt-3 is-size-6">
            Enter your password to confirm your identity.
        </div>
        <%= f.hidden_field :reason_for_deletion, id: "reason_for_deletion_field" %>
        <div class="field is-flex is-justify-content-space-between">
            <%= f.label :password, 'Confirm password:', class:"label w-auto py-2" %>
            <div class="control is-flex-grow-1 mw-20rem">
                <%= f.password_field :password, class:"input is-flex-grow-1", data: { missing_error: "Please enter a password" } %>
            </div>
        </div>
    </div>
  </div>
  <footer class="card-footer is-justify-content-end">
        <%= f.submit "Delete my account", id:"confirm_delete_account_button", 
            class: "w-min-content button is-link my-2" %>
        <div class="button is-light mr-5 ml-2 my-2 m-close">Cancel</div>
  </footer>
<% end %>