<!-- render 'layouts/account_aside' -->
<div class="container is-flex is-flex-direction-column">
    <div class="title h3 mt-5 mb-3">My Notebook</div>
    <%= render 'layouts/my_notebook_tabs' %>
    <div class="columns m-0 is-flex-grow-1">
        <div class="column pt-5" id="">
            <div class="columns bg-light-gray m-0 is-flex-direction-column h-100">
                <div class="column bg-white p-0">
                    <div class="dashboard-panel" id="update_profile_page">
                            <section class="section py-4 pb-2 update_tab_container" id="basic_info_section">
                                <div class="columns">
                                    <div class="column">
                                            <!-- form_with(model: @student, url: "/students/#{@student.username}/update_photo", method: :patch, local: false,
                                            class:"mb-4", id: "edit_student_photo_form") do |f| >
                                                <div class="box" id="upload_profile_photo">
                                                    <figure class="image is-96x96 rounded" style="background-color:<%= @student.background_color %>">
                                                        <% if @student.image.attached? %>
                                                            <%= image_tag(@student.image, class:"pdf_thumbnail_box is-rounded is-hidden h-100", id: "edit_profile_photo") %>
                                                        <% else %>
                                                            <div class="avatar-box" id="edit_avatar_box">
                                                                <span class="fa-4rem has-text-white"><%= @student.username[0] %></span>
                                                            </div>
                                                                <img src="#" id="edit_profile_photo" class="is-hidden is-rounded h-100">
                                                        <% end %>
                                                    </figure>
                                                    <div class="" id="photo_body">
                                                        <div class="file" id="profile_photo_file">
                                                            <label class="file-label">
                                                                < f.file_field :image, class: "file-input" >
                                                                <span class="file-cta button is-link" id="hover_upload">
                                                                    < @student.image.attached? ? 'Update profile picture' : 'Add profile picture'>
                                                                </span>
                                                            </label>
                                                        </div>
                                                        <div class="">
                                                            <span>Must be JPEG or PNG.</span>
                                                        </div>
                                                    </div>
                                                    <div class="modal" id="photo_modal">
                                                        <div class="modal-background"></div>
                                                        <div class="modal-content w-480">
                                                            <div class="card">
                                                            <div class="card-content pb-3">
                                                                <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                                                                <span>Upload this picture?</span>
                                                                <span>
                                                                    <i class="fas fa-times fa-lg m-close blue-close"></i>
                                                                </span>
                                                                </div>
                                                                <div class="container py-2">
                                                                <figure class="image is-flex is-justify-content-center">
                                                                    <img class="pdf_thumbnail_box max-width-20vw" id="preview_profile_photo" src="https://bulma.io/images/placeholders/128x128.png">
                                                                </figure>
                                                                </div>
                                                            </div>
                                                            <footer class="card-footer is-justify-content-end">
                                                                < f.submit "Save", class:"button is-link my-2 replace_loading", id:"submit_profile_photo" >
                                                                <button type="button" class="button is-light mr-5 ml-2 my-2 m-close">Close</button>
                                                            </footer>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        < end -->
                                        <div class="subtitle mb-4 pt-3">
                                                Delete your acccount: 
                                                <!-- All chats suspended. Profile will be hidden. All classes with interaction suspended. -->
                                        </div>
                                        <%= form_with(model: @student, url: "/my_notebook/basic_info/show-delete-modal", method: :patch, local: true,
                                            class:"box p-0", id: "disable_account_form") do |f| %>
                                            <div class="container p-5">
                                                <div class="field is-flex">
                                                    <%= f.label :username, "Account to delete:", class:"label w-20rem py-2" %>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.text_field :username, class:"input is-flex-grow-1 bg-color-whitesmoke " %>
                                                    </div>
                                                </div>
                                                <div class="field is-flex is-justify-content-space-between">
                                                    <div class="w-20rem py-2">
                                                        <%= f.label :reason_for_deletion, "Tell us why you're deleting your account:", class:"label w-10rem" %>
                                                    </div>
                                                    <div class="control is-flex-grow-1">
                                                        <%= f.text_area :reason_for_deletion, class:"input is-flex-grow-1" %>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container is-flex is-justify-content-end bg-dark-gray">
                                                <%= link_to "Delete this account", my_notebook_basic_info_show_delete_modal_url(subdomain: "dashboard"), remote: true, id:"show_delete_modal_button", class: "w-min-content button is-link mx-5 my-3" %>
                                            </div>
                                        <% end %>
                                    </div>
                                </div>
                            </section>
                            <section class="section py-4 pb-2 is-hidden update_tab_container" id="academic_results_section">
                            </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>