$("#cart_modal_body").html("<%= j (render partial: 'delete_account_modal', locals: { student: @student })%>")
$("#add_item_cart_modal").addClass("is-active");

$("#confirm_delete_account_form #reason_for_deletion_field").val($("#student_reason_for_deletion").val());