
$("#photo_modal").removeClass("is-active");
$("#edit_profile_photo").attr("src", "<%= url_for(@image) %>")
$("#navbar_avatar").attr("src", "<%= url_for(@image) %>")

var x = $("#snackbar");
x.text("<%= @message %>")
x.addClass("show");
setTimeout(
  function(){
    x.removeClass("show");
  }, 4000);
