// Place all the styles related to the ShoppingCart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sidebar {
  width: 5rem;
  background-color: #F2F2F2;
  top: 3.5rem;
  position: fixed;
  height: 100vh;
  z-index: 3;

  .sidebar_button {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      i {
          padding: 0.5rem;
          margin-bottom: 0.25rem;
      }
      span {
          font-size: 12px;
      }
  }
}

#secondary_navbars {
    width: 100%;
}

#subject_tag_bar, .tag-bar {
      li.is-active a, li a:hover {
          border-bottom-color: navy;
          color: black;
          background-color: #d6e0ea;
      }

      li.is-active a {
          cursor: default;
      }
}

#subject_tag_bar .tabs {
    font-size: 1.25rem;
}

.tag-bar {
  border-top: 1px solid #dbdbdb;
}

#course_tab_bar {
    border-bottom: 1px solid #F2F2F2;
    background-color: #fafafb;

    .tabs {
        li a {
          padding-top: 0.5rem !important;
          padding-bottom: 0.5rem !important;
        }
        ul {
          border-bottom: none !important;
        }

        li.is-active {
          border-bottom: 1px solid #dbdbdb;
        }

        li:not(.is-active) a {
          &:hover { color: #3273dc !important; }
        }
    }
}

aside {
  
  hr.course-divider {
     background-color: gainsboro;
     height: 1px;
  }

}



