html, body {
  height: 100vh;
  width: 100vw;
  overflow-y: auto !important;
}

#main_display {
    min-height: calc(100vh - 3.5rem);
  .dashboard_panel {
    height: 100%;
    display: flex;
    flex-direction: column;
  }  
}

.body-minus-height {
    height: calc(100vh - 3.5rem);
}

nav.navbar.is-sticky-top {
    left: 0;
    right: 0;
    top: 0;
    position: sticky;
    z-index: 11;
    border-bottom: 1px solid gainsboro;
    height: 3.5rem;
    
    #notification-button {
        border: none;
        display: flex;
    }

    .notification {
        background-color: transparent;
        position: relative;
        display: inline-block;
        border-radius: 2px;
        margin: 0;
        padding: 0;

        svg {
            width: 1.25rem;
            height: auto;
        }

        .badge {
            font-size: 14px;
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0px 4px;
            border-radius: 50%;
            background: #e2062c;
            color: white;
            height: 1rem;
            line-height: 15px;
        }
    }

    .notifications-dropdown {
        width: 20rem;
        max-height: 75vh;
        
        .dropdown-content {
            max-height: inherit;
            border-top: 4px solid gainsboro;
            margin-top: 3px;
            overflow-y: auto;

            .dropdown-item {
                white-space: unset;

                .time-holder {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
            }
    
            .blue-dot {
                color: rgb(6, 95, 212);
                padding-left: 0.5rem;
                font-size: 1.5rem;
            }
        }
    }
}

#notification_banner {
  display: flex;
  justify-content: center;
}

#main_panel {
  flex-grow: 1;
  width: 100vw;

  
}

aside {
  
  #aside_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
}
