    
#main_panel #cart_container, #checkout_container {


    & > .container {
        max-width: 60rem;
    }

    .hero-button {
        min-width: 10rem !important;
        width: 30vw !important;
    }

    .card {
        box-shadow: none;
        border: 1px solid gainsboro;
    }

    .border-top-gainsboro {
        border-top: 1px solid gainsboro;
    }

    .pay_icon_height {
        height: 1.5rem;
    }

    .height-30px {
        height: 30px;
    }
    
    .is-black-underline {
        &:hover {
          color: black;
          text-decoration: underline;
        }
    }

    .checkout-card-heading {
        background-color: #ededed;
    }

    #premium-logo-holder {
        display: flex;
        justify-content: center;
        align-items: center;

        span.logo {
            color: white;
            background-color: #080957;
            width: 100%;
            text-align: center;
        }
    }
}

#checkout_container, #checkout_success_container {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: -moz-available;
}

#checkout_success_container {
    height: auto !important;
    .brand-premium {
        width: 15rem;
    }
}