
// for styling the comment sections of pages that need comments.

#comments_section {
    margin-top: 0.25rem;

    #comments_section_header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gainsboro;
        padding: 1rem 0.75rem 0.5rem 0.75rem;

        #comment-counter {
            display: flex;
            align-items: center;
            padding-bottom: 0.25rem;
        }

        #comment-dropdown-sort {
            display: flex;
            align-items: center;
            
            .sort-text {
                padding-right: 0.5rem;
                padding-bottom: 0.25rem;
                font-weight: normal;
            }

            .dropdown {
                #dropdown-menu {
                    min-width: 8rem;
                }
            }
        }
    }

    #new_comment_form {
        margin: 0rem 0.75rem;

        display: grid;
        grid-template-columns: 5rem auto;
        grid-template-rows: min-content auto min-content;
        margin-top: 1rem;

        .comment-author-image {
            grid-column: 1 / span 1;
            grid-row: 1 / span 3;
            margin: 0;
        }

        #new_comment_textarea {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            margin-top: 0.125rem;
        }

        #new_comment_buttons {
            grid-column: 2 / span 1;
            grid-row: 3 / span 1;
            display: flex;
            justify-content: flex-end;

            input[type="submit"] {
                width: min-content;
            }
        }
    }
    
    #comments_list {
        padding: 0rem 0.75rem;

        .buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 0.5rem;

            button, input {
                width: min-content;
            }
        }

        .comment-block-holder {
            .comment-block {
                display: grid;
                grid-template-columns: 5rem auto;
                grid-template-rows: min-content auto min-content;
                margin-top: 0.25rem;

                .comment-author-image {
                    grid-column: 1 / span 1;
                    grid-row: 1 / span 3;
                    margin: 0;
                }
    
                .comment-heading {
                    grid-column: 2 / span 1;
                    grid-row: 1 / span 1;
                    display: flex;

                    .comment-author {
                        font-weight: 450;
                    }

                    .comment-author-status {
                        color: white;
                        padding: 0px 8px;
                        border-radius: 12px;
                        margin-left: 8px;
                        align-items: center;
                        font-size: 14px;
                        display: flex;

                        &.client {
                            background-color: #715799;
                        }

                        &.contestant {
                            background-color: #439CDE;
                        }

                        &.op {
                            background-color: #6691B2;
                        }
                    }

                    .dot-seperator {
                        padding: 0 0.25rem;
                        color: gainsboro;
                    }

                    .comment-time-ago {
                        color: #7a7a7a;
                    }

                    .dropdown {
                        margin-left: auto;

                        i.fa-ellipsis-v {
                            padding: 0.25rem 0.5rem;
                            display: none;
                            color: #7a7a7a;
                        }
                        
                        .dropdown-menu {
                            min-width: 8rem;

                            div.dropdown-item {
                                padding: 0;

                                a {
                                    all: unset;
                                }
                                
                                & > a, & > span {
                                    padding: 0.375rem 1rem;
                                    width: inherit;
                                    display: block;
                                }

                                &:hover {
                                    background-color: whitesmoke;
                                    color: #0a0a0a;
                                }
                            }
                        }
                    }

                    &:hover i.fa-ellipsis-v {
                        display: block;
                        cursor: pointer;
                    }
                }

                .comment-body {
                    grid-column: 2 / span 1;
                    grid-row: 2 / span 1;
                }

                .comment-buttons {
                    grid-column: 2 / span 1;
                    grid-row: 3 / span 1;
                    button.upvote-box {
                        width: min-content;
                        border: none;
                        color: #7a7a7a;
                        padding: 0;

                        .upvote-counter {
                            padding-left: 0.75rem;
                        }        

                        &:active {
                            background-color: initial;
                        }

                        a.button {
                              padding-left: 0rem;
                              padding-right: 0rem;

                            i {
                                padding: 0.5rem;
    
                                &.upvoted {
                                    background-color: darkgray;
                                    color: white;
                                }
                            }

                            &:focus {
                                color: none;
                                border-color: initial;
                            }
                        }

                        span {
                            padding: 0.5rem;
                            font-size: 1rem;
                            cursor: initial;
                        }
                    }

                    .reply-button {
                        vertical-align: sub;
                        margin-left: 0.5rem;
                        padding: 0.5rem;
                        cursor: pointer;
                    }
                }
            }

            form.new_reply_form {
                padding-left: 5rem;
                padding-top: 0.75rem;
            }

            .comment-replies-list {
                padding-left: 5rem;
                padding-bottom: 0.5rem;

                .comment-reply-block {
                    display: grid;
                    grid-template-columns: auto;
                    grid-template-rows: min-content auto;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
    
                    /*.comment-reply-points {
                        grid-column: 1 / span 1;
                        grid-row: 1 / span 2;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                    }*/
        
                    .comment-heading {
                        grid-column: 1 / span 1;
                        grid-row: 1 / span 1;
                        display: flex;

                        .comment-author {
                            font-weight: 450;
                        }

                        .comment-author-status {
                            background-color: #439CDE;
                            color: white;
                            padding: 0px 8px;
                            border-radius: 12px;
                            margin-left: 8px;
                            align-items: center;
                            font-size: 14px;
                            display: flex;

                            &.client {
                                background-color: #715799;
                            }
                        }

                        .dot-seperator {
                            padding: 0 0.25rem;
                            color: gainsboro;
                        }

                        .comment-time-ago {
                            color: #7a7a7a;
                        }

                        .dropdown {
                            margin-left: auto;

                            i.fa-ellipsis-v {
                                padding: 0.25rem 0.5rem;
                                display: none;
                                color: #7a7a7a;
                            }
                            
                            .dropdown-menu {
                                min-width: 8rem;

                                div.dropdown-item {
                                    padding: 0;

                                    a {
                                        all: unset;
                                    }

                                    & > a, & > span {
                                        padding: 0.375rem 1rem;
                                        width: inherit;
                                        display: block;
                                    }

                                    &:hover {
                                        background-color: whitesmoke;
                                        color: #0a0a0a;
                                    }
                                }
                            }
                        }

                        &:hover i.fa-ellipsis-v {
                            display: block;
                            cursor: pointer;
                        }
                    }

                    .comment-body {
                        grid-column: 1 / span 1;
                        grid-row: 2 / span 1;
                    }
                }
            }
        }
    }
    
}