

aside#dashboard_course_sidebar, aside#dashboard_competition_sidebar, 
aside#design_lesson_sidebar, aside#design_mc_quiz_sidebar {
    min-height: calc(100vh - 3.5rem);
    flex: 0 0 14rem !important; 
    background-color: #F2F2F2;
    max-width: 16rem;

    #aside_header, #mc_quiz_aside_header {
        
        .back-arrow-link {
            color: black;
            border-radius: 4px;

            &:hover {
                background-color: lightgray;
                cursor: pointer;
            }
        }
    }

    .menu-list {
        li {
            width: 100%;
            padding-left: 0rem;
        
            a:hover, a.is-active {
                background-color: #d6e0ea;
                //text-decoration: underline;
                color: black;
                svg {
                    opacity: 100%;
                }
            }

            a.is-active {
                cursor: unset;
                border-left: 4px solid navy;
            }

            a:not(.is-active) {
                padding-left: 1rem;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: space-between;
                span {
                    flex: 0 1 auto;
                }
                svg {
                    flex: 0 1 2rem;
                    height: 1.25rem;
                    opacity: 70%;
                }
            }
        }

        li.video {
            svg {
                height: 1rem;
            }
        }
    }

    .overflow-ellipsis {
        display: block;
        max-width: 12rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .subtitle-opacity {
        opacity: 70%;
    }

}

#edit_course_form, #edit_competition_form {

    img.course_image_thumbnail {
        max-height: 25vh;
        object-fit: contain;
    }

    .hover-red:hover {
        color: #F32013 !important;
        cursor: pointer;
    }

    #subtitle_field textarea {
        height: 5rem;
    }

    .popup_field {
        position: relative;

        border: 1px solid gainsboro;
        border-radius: 0.5rem;

        .secondary-label {
            font-size: 1rem;
            font-weight: 400;
            color: #6c757d !important;
        }

        &:hover {
            border: 1px solid black;
            cursor: pointer;
        }

        .hidden_box_form {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            input[type="radio"] {
                height: 1.25rem;
                width: 1.25rem;
            }

            label {
                font-size: 1.1rem;
                padding-left: 0.5rem;
            }
        }

        .hidden_box_form[data-field-type="difficulty-level"] {
            height: 12rem;
        }

        .hidden_box_form[data-field-type="maximum-class-size"], .hidden_box_form[data-field-type="assignment-marking-charge"] {
            height: 12.5rem;
        }

    }
}

.field {
    .control.has-icons-left {
        input[type="number"] {
            padding-left: 1.5em;
        }

        .icon.is-left {
            width: 2em;
        }
    }
}

input:focus {
    outline: none;
}