$color-light-green: #3e9391;
$color-dark-green: #36827F;
$color-grey: #DEDEDF;
$error-red: #E91916;

.error-border {
    border: 1px solid $error-red;
}

hr.thin-grey {
   background-color: #DEDEDF !important;
   height: 1px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

#sign_in_or_register_modal {
      .modal-content {
        width: 440px;
    }
}

input[type="radio"] {
    height: 1rem;
    width: 1rem;
}

img.opacity-25 {
    opacity: 0.25;
}

img#image_holder, img#blank_image_holder {
    object-fit: contain;
    height: inherit;
    width: min-content;
    position: relative;
}

#image_delete_bar {
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 0;

    .delete-image {
        background-color: #C70000;
        border-radius: 0;
    }
}

button.green-button, input.green-button, a.green-button {
  background-color: $color-light-green;
  color: white;

  &:hover {
    background-color: $color-dark-green;
    color: white;
  }
}

.bottom-border-grey {
    border-bottom: 1px solid $color-grey;
}

button.facebook-button {
    background-color: #3B5998;
    color: white;

    &:hover {
      background-color: #4264aa;
      color: white;
    }
}

button.google-button {
    border-color: rgb(221, 221, 221);
    background-color: white;
    color: rgba(0, 0, 0, 0.54);

    &:hover {
      background-color: #f2f2f2;
      color: rgba(0, 0, 0, 0.54);
    }
}

.upload_modal {
  .modal-content {
    width: 800px;
  }

  .file_upload {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a.doc-title {
       max-width: 66%;
       text-align: center;
    }
  }

  .input_border {
      border: 1px solid #dbdbdb;
      border-radius: 4px;
  }

  .input_border.is-danger {
      border-color: #f14668;
  }

  .label {
    font-weight: 400 !important;
  }
}

#new_competition_modal_body {
  #upload_competition_modal {
      height: 60vh;

      .control.file_upload {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
  }

  .field.subtitle {
      margin-top: 1.4rem;
  }
}

// remove arrows from input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.canvas_holder {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: grey;

  canvas.pdf_container {
    border: 1px solid black;
    direction: ltr;
    flex-grow: 1;
  }

  .pdf_controls {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.absolute-behind {
  z-index: -1;
  position: absolute !important;
}

input#price {
  padding-left: 2rem;
}

input.is-danger {
  &:focus {
      border-color: #3273dc !important;
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25) !important;
  }
  &:hover {
      border-color: #cccccc;
      box-shadow: 0 0 0 0.125em rgba(204, 204, 204, 0.25);
  }
}

img.brand_icon {
    width: 2.25rem;
    height: 2.25rem;
}

.css-loader {
  border: 3px solid #3498db;
  border-radius: 50%;
  border-top: 3px solid #f3f3f3;
  min-width: 1.5rem;
  min-height: 1.5rem;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// step progress bar css
/* .progress-bar {
  display: flex;
  justify-content: space-evenly;

  li {
      display: flex;
      width: 2rem;
      height: 2rem;
      justify-content: center;
      align-items: center;
      border: 2px solid #bebebe;
      border-radius: 50%;
      color: #bebebe;

      &:before{
          display: block;
          color: #bebebe;
          text-align: center;
          font-weight: bold;
          position: relative;
          margin-top: -60px;
          position: absolute;
      }

      &.is-active {
          background-color: #72B239;
          border-color: #72B239;
          color: white;
      }

      &.is-active::after {
          background-color: #72B239 !important;
      }
  }

  li[data-step="1"]::before {
      content:"Upload file";
      color: black;
  }

  li[data-step="2"]::before {
      content:"Enter Details";
      color: black;
  }

  li[data-step="2"]::after {
      content: '';
      position: absolute;
      width: 26.4%;
      height: 3px;
      background-color: #bebebe;
      left: 36.8%;
      z-index: 0;
  }
} */
