
.is-100vh {
  height: 100vh;
}

.h-100 {
  height: 100% !important;
}

.h-inherit {
  height: inherit !important;
}

.h-100px {
  height: 100px !important;
}

.vw-100 {
  width: 100vw !important; 
}

.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-20 {
  width: 20% !important;
}

.w-20rem {
  width: 20rem;
}

.w-10rem {
  width: 10rem;
}

.mw-20rem {
  max-width: 20rem;
}

.mw-60rem {
  max-width: 60rem;
}

.w-auto {
  width: auto;
}

.w-10rem {
  width: 10rem;
}

.w-25rem {
  width: 25rem;
}

.w-6rem {
  width: 6rem !important;
}

.w-480 {
  width: 480px !important;
}

.w-min-content {
  width: min-content;
}

.w-max-content {
  width: max-content;
}

.h-25vh {
  height: 25vh;
}

.h-min-content {
  height: min-content !important;
}

.h-2rem {
  height: 2rem !important;
}

.h-inherit {
  height: inherit;
}

.h-50 {
  height: 50% !important;
}

.fa-2point5x {
  font-size: 2.5em;
}

.fa-4rem {
  font-size: 4rem;
}

.username_holder {
  font-size: 0.9rem !important;
}

.img_size {
  width: 1.2rem;
}

.v-align-sub {
  vertical-align: sub;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

ul.no-bullet {
  list-style: none !important;
}

.radio-align {
  display: flex !important;
  align-items: center !important;
  flex-grow: 0 !important;
}

.is-text-align-center {
  text-align: center;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.image.pt-50 {
  padding-top: 50% !important;
}

.opacity-50 {
  opacity: 50%;
}

.object-fit-cover {
  object-fit: cover;
}

.image.is-192x192 {
  height: 192px;
  width: 192px;
}

.no-overflow {
  overflow: unset !important;
}

.modal_background_light {
  background-color: rgba(10, 10, 10, 0.55) !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

i.blue-close:hover {
  color: #276CDA;
}

.button.is-loading::after {
  animation: spinAround 1000ms infinite linear !important;
}

.w-moz-fit {
  width: -moz-fit-content !important;
}

.w-moz-available {
  width: -moz-available;
}

.bg-color-whitesmoke {
  background-color: whitesmoke !important;
}

.bg-color-transparent {
  background-color: transparent !important;
}

.bg-color-platinum {
  background-color: rgb(229,228,226);
}

.color-secondary {
   color: #7a7a7a;//#8f8f8f !important;
}

.color-dark-grey {
    color: #6c757d !important;
}

.bullet-point {
   list-style: inside; 
}

.font-weight-light-bold {
   font-weight: 450;
}

.mt-minus-2 {
    margin-top: -0.5rem;
}

.seperator_dot {
   content: "•";
   margin: 0 4px;
}

.border-gray {
  border: 1px solid #dbdbdb;
}

.border-radius-circle {
  border-radius: 10rem !important;
}

.border-radius-none {
  border-radius: 0px !important;
}

.max-height-2point5rem {
  max-height: 2.5rem !important;
}

.max-width-20vw {
  max-width: 20vw !important;
}

.is-danger-red {
  color: #F32013 !important;
}

.is-success-green {
  color: #4BB543 !important;
}

.font-size-14px {
  font-size: 14px !important;
}

.max-width-16rem {
  max-width: 16rem;
}

.is-sticky {
  position: sticky;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

.border-top-none {
  border-top: none !important;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.is-sl-small {
  font-size: 0.85rem !important;
}

.cursor_pointer {
  &:hover {
      cursor: pointer !important;
  }
}

.cursor-no {
  &:hover {
     cursor: not-allowed !important;
  }
}

.mh-2and25 {
  max-height: 2.25rem !important;
}

.maxw-25 {
  //width: 25% !important;
  //flex-basis: 25% !important;
  min-width: 12rem;
  border-radius: 8px;
}

.smoke-border {
  border: 1px solid #BEBDB8;
}

.border-rounded {
  border-radius: 4px;
}

.border-bottom-gb {
  border-bottom: 1px solid gainsboro;
}

article {
      .message-body {
          color: black;
          border-top-width: 1px;
          border-bottom-width: 1px;
          border-right-width: 1px;            
      }
}

.underline-input {
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-bottom: 1px solid gainsboro;
  width: 4rem;

  &:focus {
      outline: none;
      border-bottom: 1px solid blue;
  }
}

.tag {
  border-radius: 5rem !important;
  border: 1px solid gainsboro;

  &:hover {
    background-color: #d6e0ea;
    text-decoration: none;
  }
}

.tag.selected {
  background-color: #080957 !important;
  color: white !important;
}

nav.breadcrumb {
  font-size: 18px !important;

  a.breadcrumb-link {
      color: black;

      &:hover {
          text-decoration: underline;
          cursor: pointer;
      }
  }

  span, a {
      padding: 0 0.75rem;
  }
}