$color-light-green: #72a7a5;
$color-dark-green: #36827F;
$color-grey: #DEDEDF;
$color-strong-blue: #3B60E4;

section.subject-categories {
    background-color: white;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    position: relative;

    .columns .column {
      flex-grow: 0;
      .tag {
          border: 1px solid darkgray;
      }
    }

    .arrow-left, .arrow-right {
      position: absolute;
      width: min-content;
      top: 1rem;
    }

    .arrow-left {
      left: 0.5rem;
    }

    .arrow-right {
      right: 0.5rem;
    }
}

.mw-33 {
  flex-basis: 30% !important;
  min-width: 19rem;
}

.position-initial {
  position: initial;
}

.card-holder {
      &:hover {
        cursor: pointer;
        background-color: #F2F2F2;
        // border: 1px solid #A7A6BA;
      }

      .card-content {
        padding: 0.5rem;             

        .content-title {
          color: black;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          margin: 0.25rem 0;
        }

        .content-subtitle, i {
          font-size: 16px;
          color: #6c757d !important;
        }
      }
}
