
#my-notebook-page-holder {

    .mt-5rem {
        margin-top: 5rem;
    } 

    .card {
        overflow: unset;
        .card-content {
            .card-title-holder {
                flex-grow: 1;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                
                .course-cog-settings {
                    //align-self: end;
                    padding: 0.5rem 0.75rem;
                    //margin-right: 0.5rem;
                    //margin-bottom: 0.75rem;
                    margin-top: 0.2rem;
                    border-radius: 4px;

                    &:hover {
                        border: 1px solid #8f8f8f;
                    }
                }

                .dropdown-content {
                    border: 1px solid #8f8f8f;
                }
            }

            .card-progress {
                position: absolute;
                bottom: 0;
                width: 100%;
    
                progress {
                    height: 0.5rem;
                    border-radius: 0;
                }
            }

            .course-options {
                width: 13rem;
                padding: 1rem;
                a.resume-button, span.new-submission-button {
                    border-radius: 0;
                    color: white;
                    font-weight: 450;
                }

                .new-submission-button  {
                    background-color: royalblue;
                    &:hover {
                        background-color: navy;
                    }
                }

                .resume-button {
                    &:hover {
                        background-color: #525289;
                    }
                    background-color: #7c7cbf;
                }

                a.course-outline {
                    border-radius: 0;
                    color: #7c7cbf;
                    border-color: #7c7cbf;
                    font-weight: normal;
                    &:hover {
                        color: #525289;
                        border-color: #525289;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
}