// Place all the styles related to the MyNotebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-light-gray {
    background-color: #F5F5F5;
}

.bg-dark-gray {
    background-color: #E6E6EA;
}

.card {
    .card-image.w-12rem {
        width: 12rem;
    }
}

#basic_info_section {
    textarea {
        height: 5rem;
    }
}

#premium-plan-section {
    width: 100%;
    background-color: #fafafb;

    .hero-body {
        padding-top: 5rem;
        padding-bottom: 5rem;

        p.subtitle {
            max-width: 40rem;
            text-align: center;
        }   
    }
}
