
nav {
  .min-12rem {
    min-width: 12rem;
  }

  .navbar-dropdown {
    border-top: 4px solid gainsboro;
  }

  .navbar-start {
    margin-right: 0;
    a.navbar-link:hover {
      color: black;
    }
  }

  .navbar-middle {
    justify-content: center;
  }

  .circle-user {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
  }

  .small-circle-user {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
  }
  /*
  .badge {
      padding-left: 9px;
      padding-right: 9px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
  }

  .label-warning[href],
  .badge-warning[href] {
      background-color: #c67605;
  }
  */
  #upgrade-button {
      border: 1px solid rgb(219, 219, 219);
      display: flex;
      align-items: center;

      svg, img {
          max-height: 1.25rem;
          width: auto;
      }
  }

  .border-right-gainsboro {
      border-right: 1px solid gainsboro;
  }
}
