
.silver-gray-border {
    border: 1px solid #DFE1E5;
    border-radius: 4px;

    .card-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        .title {
            font-size: 1.75rem;
            font-weight: 500;
        }

        .content {
            flex-basis: 0;
            flex-grow: 1;
            overflow: hidden;
        }

        .footer-buttons {
            align-self: end;
        }
    }
}

.w-18rem {
    width: 18rem;
}

.download-box, .author-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #DFE1E5;
    border-radius: 4px;
    padding: 1rem;
    align-items: center;
    height: min-content;

    .button {
      width: 12rem;
      margin-top: 0.5rem;
    }

    form {
        width: 100% !important;
    }

    .bg-premium {
        background-color: #080957;
    }
}

.border-gray {
    border: 1px solid lightgray !important;
}


.overflow-hidden {
    overflow: hidden;
    height: auto;
}

.h-bio-less {
    height: 4.5rem !important;
}

.note-basic-details, .other-submissions-column {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;

    .submission-link {
        &:hover {
            background-color: #F2F2F2; 
        }

        .mw-40 {
            max-width: 40%;
        }
    
        .content-title {
            color: black;
            font-size: 1rem;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        .content-subtitle {
            color: #4A4A4A;
            font-size: 1rem;
        }

        .fa-user {
            color: #4A4A4A;
        }
    }

    .columns {
       flex-direction: column;
       flex-wrap: wrap;
    }

    .column {
        display: flex;
        padding: 0.25rem 0rem;
    }

    .mr-3rem {
      margin-right: 3rem !important;
    }

    .w-5rem {
        width: 5rem;
    }

    .w-7rem {
        width: 7rem;
    }
}

.darker-divider {
    background-color: #CCC;
    height: 1px;
    margin: 0;
}

.note_slider_container {
    position: relative;

    button.button.is-rounded {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid #CCC;
        z-index: 3;

        &:hover {
          background-color: #FAFAFB;
          border: 1px solid black;
        }
    }

    .left_slider_button, .right_slider_button {
        border-radius: 5rem;
        box-shadow: 0 7px 15px rgba(0,0,0,.2);
    }
}

.note_slider {
    height: 14rem;
    overflow-y: hidden;
    flex-wrap: wrap;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    width: -moz-available;
    justify-content: center;
    align-items: center;

    .column {
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        padding-bottom: 0 !important;
    }

    .empty_slider_holder {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.like_buttons {

    .svg_holder {
        &:hover {
            cursor: pointer;
        }
    }

    .svg_holder.clicked {
        color: #055ED3;
        svg {
            fill: #055ED3;
        }
    }

    svg {
        fill: #9b9b9b;
        margin-top: 0.25rem;
    }

    .svg_counter {
        line-height: 1.5rem;
    }
}

#note_comments_section {
    article.media {
        .circle-user {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
        }
    }

    [contenteditable='true']:empty:not(:focus):before{
      content:attr(data-placeholder);
      color:grey;
    }

    #add_note_comment_box {
        min-height: 1.75rem;
        height: 1.75rem;
        margin-top: 0.75rem;
        border-bottom: 1px solid #CCCCCC;

        &:focus {
            border-bottom: 1px solid black;
        }
    }

}

.outline_none:focus {
    outline: none !important;
}

tr.background-selected {
    background: #F4F4F4;
}

#save_note_button.saved {
    background-color: #a9dcf1;
}

#show_course_modules .card {
    width: 15rem;
}