

section#pdf_previewer {


    .preview_header {
        background-color: #ededed;
        border-radius: 6px 6px 0 0;
        color: #363636;
        line-height: 1.25;
        font-size: 1.25rem !important;
        font-weight: normal !important;
    }

    background: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;

    & > nav {
        background-color: #ededed;

        input.page_num {
            width: 2.5rem;
            padding: 0rem 0.5rem;
            height: inherit;
        }

    }

    & > .container {

        flex-grow: 1;
        flex-shrink: 1;
    }

}
