// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
    .subject-header {
        font-family: Soleil, Arial, sans-serif;
        max-width: 40rem;
        text-align: left;
    }
}

