<%= link_to video_submission_url(subdomain: false, id: video_submission.id), class: "show-submission-link w-100 is-flex" do %>
        <div class="card-image">
            <figure class="image w-100">
                <% if video_submission_video.previewable? %>
                    <%= image_tag video_submission_video.preview(resize_to_limit: [300, 200]),  
                        class:"course_image_thumbnail border-radius-none" %>
                <% else %>
                    <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail obj-cover border-radius-none") %>
                <% end %>
            </figure>
        </div>
        <div class="card-content py-2 pl-4 pr-0 is-flex-grow-1">
            <div class="field">
                <label class="label">Title:</label>
                <div class="control">
                    <span id="my_submission_title"><%= video_submission.title %></span>
                </div>
            </div>
            <div class="field h-100 is-flex is-flex-direction-column">
                <label class="label">Description:</label>
                <div class="control is-flex-grow-1">
                    <span id="my_submission_description"><%= video_submission.description %></span>
                </div>
            </div>
        </div>
<% end %>