<div class="card h-100">
    <header class="card-header">
      <div class="card-header-title py-0 is-justify-content-space-between">
        <div class="py-3">
            <span class="v-align-sub">Competition:</span>
            <span class="v-align-sub has-text-weight-normal pl-1"><%= competition.title %></span>
        </div>
        <i class="fas fa-times fa-lg m-close blue-close"></i>
      </div>
    </header>
    <div class="alert pb-2 mx-2 is-hidden">
      <div class="notification is-danger p-2 mt-4 mx-4">
        <span class="delete"></span>
        <span class="text_holder"></span>
      </div>
    </div>
    <div class="card-content columns m-0 p-0" id="upload_video_submission_modal">
            <%= form_with(scope: :video_submission, url: upload_video_competition_video_submissions_url(competition_id: competition.id), 
                local: false, class: "is-flex w-100 is-flex-direction-column video_file_submission", id: "upload_video_submission") do |f| %>
                    <div class="control file file_upload is-boxed w-100 p-2">
                        <div class="video-delete-bar is-hidden is-justify-content-end opacity-25">
                            <button type="button" class="delete delete-video"></button>
                        </div>
                        <label class="file-label w-100 h-100 p-2">
                            <%= f.file_field :video, direct_upload: true, class:"file-input optional", 
                                id: "new_video_submission_input", type: "file", accept:"video/*" %>
                                <span class="border-radius-none file-cta h-100 is-flex is-justify-content-center">
                                <figure class="image w-100 is-flex h-25vh border is-align-items-center is-justify-content-center position-relative">
                                    <%= image_tag(image_path("AssignmentVideo.png"), class: "h-50", id: "blank_image_holder") %>
                                </figure>
                                <span class="file-label is-size-4">
                                    Upload your video
                                </span>
                                <video controls class="video-player is-hidden">Your browser does not support the video tag.</video>
                                <div class="pt-4 below-video-info w-100">
                                    <span class="video-title is-size-6"></span>
                                </div>
                                </span>
                                <progress class="progress border-radius-none is-success is-small is-hidden" value="0" max="100"></progress>
                        </label>
                    </div>
                    <footer class="card-footer is-justify-content-flex-end is-align-items-center">
                        <%= f.submit "Upload Video", class: "w-min-content button is-link mx-4 my-2" %>
                    </footer>
            <% end %>
            <%= form_with(scope: :video_submission, url: competition_video_submissions_url(competition_id: competition.id), 
                local: false, class: "is-flex is-hidden w-100 pt-2 is-flex-direction-column video_submission_form", id: "upload_video_submission_form") do |f| %>
                <div class="columns m-0 px-1">
                    <div class="column is-half">
                        <div class="field">
                            <div class="control file file_upload input is-boxed h-100">
                                <video src="#" controls class="video-player-two">
                                    Your competition does not support the video tag.
                                </video> 
                            </div>
                        </div>
                        <%= f.hidden_field :video_key %>
                        <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                                <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="field h-100 is-flex is-flex-direction-column">
                            <%= f.label :description, class:"label" %>
                            <div class="control is-flex-grow-1">
                                <%= f.text_area :description, class:"input optional h-100", data: { missing_error: "Please enter a valid prize amount" } %>
                            </div>
                            <p class="help is-danger"></p>
                        </div>
                    </div>
                </div>
                 <footer class="card-footer is-justify-content-space-between is-align-items-center">
                    <div class="upload_modal_progress mx-5 is-align-items-center is-flex is-invisible">
                        <p class="w-100 upload_updates"></p>
                        <progress class="mx-4 mb-0 progress is-primary" value="0" max="100"></progress>
                        <div class="css-loader is-hidden mx-4"></div>
                    </div>
                    <%= f.submit "Upload Video", class: "w-min-content button is-link mx-4 my-2" %>
                </footer>
            <% end %>
    </div>
</div>
 <!--
    <footer class="card-footer is-justify-content-space-between is-align-items-center">
      <div id="upload_modal_progress" class="mx-5 is-align-items-center is-flex is-invisible">
        <p id="upload_updates" class="w-100"></p>
        <progress class="mx-4 mb-0 progress is-primary" value="0" max="100"></progress>
        <div class="css-loader is-hidden mx-4"></div>
      </div>
      <button id="new_video_submission_upload_button" class="w-min-content button is-link mx-4 my-2" data-disable-with="Upload">
        Upload Video
      </button>
    </footer>
    -->
