
if ($("#show_competition_container").length == 1) {
    if ($("#my-notebook-page-holder").length == 1) {
        // uploaded new submission from the user my notebook panel.
        var competition_card = $("#show_competition_container")
          .find(".card[data-competition-id='<%= @competition_id %>']");
        competition_card.find("span.new-submission-button").remove();
        competition_card.find(".course-options")
          .prepend('<a class="is-link button mb-2 resume-button w-100" href="<%= video_submission_url(subdomain: false, id: @submission.id) %>">Review submission</a>');
        competition_card.find(".modal.is-active").removeClass("is-active");
    } else {
        // uploaded new submission from the competition show page.
        $("#show_competition_container .modal.is-active").removeClass("is-active");
        console.log($("#my_submission .card-holder"));
        $("#my_submission .card-holder").html('<%= j render("my_submission", video_submission: @submission, video_submission_video: @video) %>');
        $("section#header_box .tabs li[data-content-link='my-submission']").removeClass("is-hidden");

        $("#header_box #upload_video_submission_button").remove();
        $("#edit_submission_button").removeClass("is-hidden").attr('<%= edit_video_submission_url(id: @submission.id) %>');
    }
} else {
    $("#video_submissions > .modal.is-active").removeClass("is-active");
    $("#my-notebook-page-holder .card > .modal.is-active").removeClass("is-active");
}

var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @msg %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);