<div id="main_panel" class="flex-grow">
  <div class="columns m-0 p-4" id="show_video_submission_container">
        <div class="column is-two-thirds">
            <section class="columns m-0" id="show-video-submission">
                <div class="w-100" id="show-video-player">    
                    <div class="card-image">
                        <figure class="image w-100">
                            <% if @video_submission_video.attached? %>
                                <%= video_tag rails_blob_path(@video_submission_video), controls: true, class: "video-player mb-1" %>
                                <!-- <div class="content-title"></div> -->
                                <!-- No upload button -->
                            <% else %>
                                <%= image_tag(image_path("video-missing-2.png"), class: "") %>
                                <button>Video missing</button>
                            <% end %>
                        </figure>
                    </div>
                    <div class="card-content py-2 px-0 is-flex-grow-1">
                        <div class="video-title px-3 is-size-5 font-weight-light-bold">
                            <span class="submission_title"><%= @video_submission.title %></span>
                        </div>
                        <div class="video-subtitle px-3">
                            <div class="submission_subtitle color-secondary">
                                <span><%= @student.username %></span>
                                <span class="dot-seperator px-2">·</span>
                                <span><%= @competition.deadline_date.strftime("%d %B %Y") %></span>
                            </div>
                           
                            <div class="video-submission-buttons">
                                <% if logged_in_as_student? %>
                                    <button class="upvote-box button is-small">
                                        <% if @student_upvoted_video_ids.include?(@video_submission.id) %>
                                            <%= link_to upvote_video_submission_url(subdomain: false, id: @video_submission.id), method: :delete, remote: true, class:"button is-small" do %>
                                                <i class="fas fa-lg fa-chevron-up upvoted"></i>  
                                            <% end %>
                                        <% else %>
                                            <%= link_to upvote_video_submission_url(subdomain: false, id: @video_submission.id), method: :post, remote: true, class:"button is-small" do %>
                                                <i class="fas fa-lg fa-chevron-up"></i>  
                                            <% end %>
                                        <% end %>
                                        <span class="upvote-counter"><%= @video_submission.upvotes.count %></span>
                                    </button>
                                    <span class="save-video-button">
                                            Save
                                    </span>
                                    <span class="report-button">
                                            Report
                                    </span>
                                <% else %>
                                    <button class="upvote-box button is-small">
                                        <%= link_to login_url(subdomain: false), class:"button is-small" do %>
                                            <i class="fas fa-lg fa-chevron-up color-secondary"></i>  
                                        <% end %>
                                        <span class="upvote-counter"><%= @video_submission.upvotes.count %></span>
                                    </button>
                                    <span class="save-video-button">
                                            Save
                                    </span>
                                    <span class="report-button">
                                            Report
                                    </span>
                                <% end %>
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="video-description p-3 <%= 'h-auto' unless (@video_submission.description.length > 267)%>">
                            <span id="my_submission_message"><%= @video_submission.description %></span>
                        </div>
                        <% if (@video_submission.description.length > 267) %>
                            <div class="read-link" data-read-more="false">
                                <i class="fas fa-angle-left"></i>
                                <span class="ml-1">SHOW MORE</span>
                            </div>
                        <% end %>
                        <div id="comments_section" class="">
                            <div class="subtitle has-text-weight-medium is-size-5" id="comments_section_header"> 
                                <span id="comment-counter" data-comment-counter="<%= @comments.count %>">  
                                    <%= "#{@comments.present? ? pluralize(@comments.count, "Comment") : 'O Comments' }" %>
                                </span>
                                <!-- 
                                <span id="comment-dropdown-sort">  
                                    <span class="sort-text">Sort by:</span>
                                    <div class="dropdown is-right">
                                        <div class="dropdown-trigger">
                                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                            <span>New</span>
                                            <span class="icon is-small">
                                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                                            </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href="#" class="dropdown-item">
                                                    Newest
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                    Most upvotes
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                                -->
                            </div>
                            <% if logged_in_as_student? %>
                                <%= form_with(scope: :comment, url: video_submission_comments_url(subdomain: false, video_submission_id: @video_submission.id), 
                                    local: false, id: "new_comment_form") do |f| %>
                                    <figure class="comment-author-image image is-64x64">
                                        <% if current_student.image.attached? %>
                                            <%= image_tag current_student.image, class:"border-radius-circle" %>
                                        <% else %>
                                            <img src="https://bulma.io/images/placeholders/256x256.png">
                                        <% end %>
                                    </figure>
                                    <%= f.text_area :body, rows: 1, class: "textarea", id: "new_comment_textarea", 
                                        placeholder: "Add a comment" %>
                                    <div class="buttons mt-2" id="new_comment_buttons">
                                        <%= f.submit "Post comment", class: "button is-info" %>
                                    </div>
                                <% end %>
                            <% else %>
                                <%= link_to login_url(subdomain: false) do %>
                                    <div id="new_comment_form" class="pb-4">
                                        <figure class="comment-author-image image is-64x64">
                                            <img src="https://bulma.io/images/placeholders/256x256.png">
                                        </figure>
                                        <textarea rows="1" class="textarea" id="new_comment_textarea" 
                                                placeholder="Add a comment" readonly> 
                                        </textarea>
                                    </div>
                                <% end %>
                            <% end %>
                            <div id="comments_list" class="content my-2 pt-3">
                                    <% if @comments.present? %>
                                        <% @comments.each_with_index do |comment, index| %>
                                            <div class="comment-block-holder mb-4" data-comment-id="<%= comment.id %>">
                                                <div class="comment-block">
                                                    <figure class="comment-author-image image is-64x64">
                                                        <% if @comment_authors[index].image.attached? %>
                                                            <%= image_tag @comment_authors[index].image, class:"border-radius-circle" %>
                                                        <% else %>
                                                            <img src="https://bulma.io/images/placeholders/256x256.png">
                                                        <% end %>
                                                    </figure>
                                                    <div class="comment-heading mb-1">
                                                        <span class="comment-author"><%= @comment_authors[index].username %></span>
                                                        <% if (@comment_authors[index].id == @competition.student_id) %>
                                                                <span class="comment-author-status client">Client</span>
                                                        <% else %>
                                                            <% if @array_of_contestant_ids.include?(@comment_authors[index].id) %>
                                                                <% if (@comment_authors[index].id == @student&.id) %>
                                                                    <span class="comment-author-status op">OP</span>
                                                                <% else %>
                                                                    <span class="comment-author-status contestant">Contestant</span>
                                                                <% end %>
                                                            <% end %>
                                                        <% end %>
                                                        <span class="dot-seperator">&#8226</span>
                                                        <span class="comment-time-ago">
                                                            <%= time_ago_in_words(comment.updated_at).gsub(/about? /, "") %> ago
                                                        </span>
                                                        <div class="dropdown is-right">
                                                            <div class="dropdown-trigger">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                            <div class="dropdown-menu" id="comment-dropdown-menu" role="menu">
                                                                <div class="dropdown-content">
                                                                    <% if (@comment_authors[index].id == current_student&.id) %>
                                                                        <div class="dropdown-item edit">
                                                                            <span>Edit</span>
                                                                        </div>
                                                                        <div class="dropdown-item">
                                                                            <%= link_to "Delete", comment_url(subdomain: false, id: comment.id),
                                                                                                remote: true, method: :delete,  data: { confirm: "Are you sure you want to delete this comment?" }  %>
                                                                        </div>
                                                                    <% else %>
                                                                        <a href="#" class="dropdown-item cursor-no">
                                                                            Report
                                                                        </a>
                                                                    <% end %>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="comment-body" data-comment-id="<%= comment.id %>">
                                                            <%= form_with(model: comment, class: "update_comment_form is-hidden", local: false) do |f| %>
                                                                <%= f.text_area :body, class: "textarea", value: comment.body %>
                                                                <div class="buttons">
                                                                    <button class="cancel-edit button is-light" type="button">Cancel</button>
                                                                    <%= f.submit "Update comment", class: "button is-info" %>
                                                                </div>
                                                            <% end %>
                                                            <div class="comment-full-text"><%= comment.body %></div>
                                                    </div>
                                                    <div class="comment-buttons mt-1">
                                                        <% if logged_in_as_student? %>
                                                            <button class="upvote-box button is-small">
                                                                <% if @student_upvoted_comment_ids.include?(comment.id) %>
                                                                    <%= link_to upvote_comment_url(subdomain: false, id: comment.id), method: :delete, remote: true, class:"button is-small" do %>
                                                                        <i class="fas fa-lg fa-chevron-up upvoted"></i>  
                                                                    <% end %>
                                                                <% else %>
                                                                    <%= link_to upvote_comment_url(subdomain: false, id: comment.id), method: :post, remote: true, class:"button is-small" do %>
                                                                        <i class="fas fa-lg fa-chevron-up"></i>  
                                                                    <% end %>
                                                                <% end %>
                                                                <span class="upvote-counter"><%= comment.upvotes.count %></span>
                                                            </button>
                                                            <span class="reply-button" data-logged-in='<%= logged_in_as_student? %>'>
                                                                    Reply
                                                            </span>
                                                        <% else %>
                                                                <button class="upvote-box button is-small">
                                                                    <%= link_to login_url(subdomain: false), class:"button is-small" do %>
                                                                        <i class="fas fa-lg fa-chevron-up color-secondary"></i>  
                                                                    <% end %>
                                                                    <span class="upvote-counter"><%= comment.upvotes.count %></span>
                                                                </button>
                                                                <%= link_to login_url(subdomain: false) do %>
                                                                    <span class="reply-button color-secondary" data-logged-in='<%= logged_in_as_student? %>'>
                                                                            Reply
                                                                    </span>
                                                                <% end %>
                                                        <% end %>
                                                    </div>   
                                                </div>
                                                <%= form_with(scope: :comment, url: create_reply_comment_url(subdomain: false, id: comment.id), 
                                                    class: "is-hidden new_reply_form", local: false) do |f| %>
                                                    <%= f.text_area :body, class: "textarea comment_reply_body", id: "", value: comment.body %>
                                                    <div class="buttons">
                                                        <button class="cancel-edit button is-light" type="button">Cancel</button>
                                                        <%= f.submit "Post reply", class: "button is-info" %>
                                                    </div>
                                                <% end %>        
                                                <div class="comment-replies-list">
                                                    <% if (@comment_replies[index].present?) %>
                                                        <% @comment_replies[index].each_with_index do |comment_reply, second_index| %>
                                                            <div class="comment-reply-block" data-comment-id="<%= comment_reply.id %>">
                                                                <div class="comment-heading mb-2">
                                                                    <span class="comment-author"><%= @comment_reply_authors[index][second_index].username %></span>
                                                                    <% if (@comment_authors[index].id == @competition.student_id) %>
                                                                            <span class="comment-author-status client">Client</span>
                                                                    <% else %>
                                                                        <% if @array_of_contestant_ids.include?(@comment_authors[index].id) %>
                                                                            <% if (@comment_authors[index].id == @student&.id) %>
                                                                                <span class="comment-author-status op">OP</span>
                                                                            <% else %>
                                                                                <span class="comment-author-status contestant">Contestant</span>
                                                                            <% end %>
                                                                        <% end %>
                                                                    <% end %>
                                                                    <span class="dot-seperator">&#8226</span>
                                                                    <span class="comment-time-ago">
                                                                        <%= time_ago_in_words(comment_reply.updated_at).gsub(/about? /, "") %> ago
                                                                    </span>
                                                                    <div class="dropdown is-right">
                                                                        <div class="dropdown-trigger">
                                                                            <i class="fas fa-ellipsis-v"></i>
                                                                        </div>
                                                                        <div class="dropdown-menu" role="menu">
                                                                            <div class="dropdown-content">
                                                                                <% if (@comment_reply_authors[index][second_index].id == current_student&.id) %>
                                                                                    <div class="dropdown-item edit">
                                                                                        <span>Edit</spam>
                                                                                    </div>
                                                                                    <div class="dropdown-item">
                                                                                        <%= link_to "Delete", comment_url(subdomain: false, id: comment_reply.id),
                                                                                            remote: true, method: :delete, data: { confirm: "Are you sure you want to delete this comment?" } %>
                                                                                    </div>
                                                                                <% else %>
                                                                                    <a href="#" class="dropdown-item">
                                                                                        Report
                                                                                    </a>
                                                                                <% end %>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="comment-body" data-comment-id="<%= comment_reply.id %>">
                                                                    <%= form_with(model: comment_reply, class: "update_reply_form is-hidden", local: false) do |f| %>
                                                                        <%= f.text_area :body, id: "", class: "textarea", value: comment_reply.body %>
                                                                        <div class="buttons">
                                                                            <button class="cancel-edit button is-light" type="button">Cancel</button>
                                                                            <%= f.submit "Update comment", class: "button is-info" %>
                                                                        </div>
                                                                    <% end %>
                                                                    <div class="comment-full-text"><%= comment_reply.body %></div>
                                                                </div>
                                                            </div>
                                                        <% end %>
                                                    <% end %>
                                                </div>                                 
                                            </div>
                                        <% end %>
                                    <% end %>
                            </div>
                            <% if (@comments.present?) %>
                                <% if (@comments.length > 10) %>
                                    <div class="mt-4 button" id="load_more_comments_button">
                                        <span class="ml-1">More comments</span>
                                    </div>
                                <% end %>
                            <% else %>
                                <div class="py-4 has-text-centered comments-placeholder">Be the first to comment.</div>                            
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>
            <div class="w-100" id="other-videos-holder">
                <div class="bg-whitesmoke light-border mb-0 subtitle has-text-weight-medium is-size-5 is-flex is-justify-content-space-between is-align-items-center">
                    <span class="p-3">More Competitions</span>
                </div>
                <div class="columns is-flex-wrap-wrap is-flex m-0 py-4">
                    <% @more_competitions.each_with_index do |competition, index| %>
                        <% if competition.id != @competition.id %>
                            <div class="column mb-5 p-0 card-holder">
                                <%= link_to competition_url(subdomain: false, id: competition.id), class: "" do %>
                                    <div class="card-image">
                                        <figure class="image w-100">    
                                            <% if @competition_videos[index].previewable? %>
                                                <%= image_tag @competition_videos[index].preview(resize_to_limit: [300, 200]),  
                                                    class:"course_image_thumbnail border-radius-none" %>
                                            <% else %>
                                                <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail obj-cover border-radius-none") %>
                                            <% end %>
                                        </figure>
                                    </div>
                                    <div class="card-content p-0">
                                        <div class="content p-2">
                                            <div class="content-title mb-0"><%= competition.title %></div>
                                            <div class="is-flex is-align-items-center mt-1">
                                                <i class="far fa-user pr-1"></i>
                                                <span class="content-subtitle"><%= @competition_students[index].username %></span>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="column is-flex-grow-0 is-one-third" id="right_column_note_info">
            <%= link_to competition_url(subdomain: false, id: @competition.id), class: "download-box" do %>
                <figure class="image w-100">
                    <% if @video.attached? && @video.previewable? %>
                        <%= image_tag @video.preview(resize_to_limit: [300, 200]),  
                            class:"course_image_thumbnail border-radius-none" %>
                    <% else %>
                        <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail obj-cover border-radius-none") %>
                    <% end %>
                </figure>
                <div class="content-header mt-3 w-100">
                    <p class="is-size-5 mb-2 has-text-black"><%= @competition.title %></p> 
                    <div class="is-flex is-align-items-center is-justify-content-space-between">
                        <p class="subtitle is-size-6">
                            <span>Deadline: <%= @competition.deadline_date.strftime("%d %B %Y") %></span>
                            <span class="px-2">&middot;</span>
                            <span><%= @competition.has_prize ? "$#{@competition.prize_amount}" : "Volunteer"  %></span>
                        </p>
                    </div>
                </div>
            <% end %>
            <div class="other-submissions-column is-flex-direction-column">
                <div class="w-100 px-4 py-2 mb-2 is-flex-direction-row border-bottom-gb">
                    <span>More submissions</span>
                </div>
                <% @more_submissions.each_with_index do |submission, index| %>
                    <% if submission.id != @video_submission.id %>
                        <div class="column mb-1 px-0 py-2 is-flex-direction-row">
                            <%= link_to video_submission_url(subdomain: false, id: submission.id), class: "is-flex submission-link" do %>
                                <div class="card-image mw-40">
                                    <figure class="image w-100">
                                            <% if @submission_videos[index].attached? && @submission_videos[index].previewable? %>
                                                <%= image_tag @submission_videos[index].preview(resize_to_limit: [400, 300]),  
                                                    class:"course_image_thumbnail border-radius-none" %>
                                            <% else %>
                                                <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail obj-cover border-radius-none") %>
                                            <% end %>
                                    </figure>
                                </div>
                                <div class="card-content p-0 is-flex-grow-1 is-flex is-align-items-center">
                                    <div class="content pl-4">
                                        <div class="content-title mb-0"><%= submission.title %></div>
                                        <div class="is-flex is-align-items-center mt-1">
                                            <i class="far fa-user pr-1"></i>
                                            <span class="content-subtitle"><%= @submission_students[index].username %></span>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
                <% if (@more_submissions.count == 1) %>
                        <div class="column bg-white">
                            <div class="w-100 mt-5rem is-flex is-justify-content-center 
                                        is-flex-direction-column is-align-items-center">
                                <figure class="image is-96x96 my-4">
                                    <%= image_tag(image_path("no_videos.png"), class: "h-min-content opacity-50") %>
                                </figure>
                                <p class="my-2 is-size-5">No other videos have been submitted.</p>
                            </div>
                        </div>
                <% end %>
            </div>
        </div>
  </div>
</div>


