#other-videos-holder {
    margin-top: 1rem;
    & > .columns {
        column-gap: 1rem;
        .card-holder {
            max-width: 25%;
            min-width: 10rem;
            flex-grow: 1;
        }
    }
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.light-border {
    border: 1px solid #DFE1E5;
    border-radius: 4px;
}

#show_video_submission_container {
    .download-box:hover {
        background-color: #F2F2F2;
    }
    
    #show-video-submission {
        .video-subtitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .video-description {
            min-height: 4rem;
            height: 7rem;
            overflow: hidden;
            padding: 0.75rem;


            &.h-auto {
                height: auto;
            }
        }

        .read-link {
            color: #8f8f8f;
            font-weight: 450;
            cursor: pointer;
            text-decoration: none;
            padding: 0.75rem;
            &:hover {
            color: #363636;
            }
        }

        .video-submission-buttons {
            display: flex;
            align-items: center;

            button.upvote-box {
                width: min-content;
                border: none;
                color: #7a7a7a;
                padding: 0;

                .upvote-counter {
                    padding-left: 0.75rem;
                }

                &:active {
                    background-color: initial;
                }

                a.button {
                      padding-left: 0rem;
                      padding-right: 0rem;

                    i {
                        padding: 0.5rem;

                        &.upvoted {
                            background-color: darkgray;
                            color: white;
                        }
                    }

                    &:focus {
                        color: none;
                        border-color: initial;
                    }
                }

                span {
                    padding: 0.5rem;
                    font-size: 1rem;
                    cursor: initial;
                }
            }

            .show-comments-button, .save-video-button, .report-button {
                vertical-align: sub;
                margin-left: 0.5rem;
                padding: 0.5rem;

                &:hover {
                    cursor: not-allowed;
                    //border-bottom: 2px solid blue;
                }
            }

            .show-comments-button {
                display: flex;
                align-items: center;
            }
        }
    }
}
