<%= render "learning/lessons/partials/common_layout" %>

// empty the left column
left_column.empty();
middle_column.html("<%= j render(partial: "learning/lessons/partials/assignment_video",
              locals: { lesson: @lesson, assignment_video: @assignment_video, 
                        video_submissions: @video_submissions }) %>");

var url_link;
// but not next lesson
var continue_button = right_column_inputs.find("a.continue-button");
var continue_button_clone = continue_button.clone();
right_column_inputs.empty();
right_column_inputs.append(continue_button_clone);

if (next_lesson.length > 0) { 
        url_link = next_lesson.find("a").attr("href").split("?")[0];

        // means next_lesson is null but not next module
        continue_button_clone.attr("href", `${url_link}?continue=true`)
                             .data("remote", !is_last_lesson);

} else {
    // this is last lesson of course 
    // leave empty since will never be the case.   
}

// set the new url
window.history.pushState("Ajax/html loading of text type lesson", 
              "AssignmentVideo", "<%= learning_course_lesson_url(params[:course_id_token], 
               "assignment-video", @lesson.learnable_id, subdomain: "learning") %>");