<%= render "learning/lessons/partials/common_layout" %>

var prev_question_tab = left_column.find("li.selected")
var prev_question_index = prev_question_tab.data("question-index");
var prev_question_link_url = prev_question_tab.data("link-url");
var current_question_tab = left_column.find("li[data-question-index='<%= @question_index %>']")

// load in the main question page content
middle_column.html("<%= j render(partial: "learning/lessons/partials/mc_quiz_question",
                    locals: { quiz_question: @quiz_question }) %>");

// load in the left question tab sidebar if needed.
if (left_column.find("nav.quiz_questions_content[data-quiz-id='<%= @mc_quiz.id %>']").length == 0) {
       // render a new sidebar of question tabs, since no sidebar currently exists
       left_column.html("<%= j render(partial: "learning/lessons/partials/mc_quiz_question_tabs",
                     locals: { mc_quiz: @mc_quiz, quiz_question: @quiz_question,
                               questions_completed: @questions_completed, 
                               course_id_token: @course.id_token }) %>")
       // initial render will already show the completed and selected tabs.
} else {
       // render no sidebar because it already exists.
       prev_question_tab.removeClass("selected");
       prev_question_tab.html(`<a data-remote="true" href=${prev_question_link_url}>
                                  Question ${prev_question_index}</a>`)

       current_question_tab.addClass("selected").html("<span>Question <%= @question_index %></span>");
}

// render the options and continue/submit button
right_column_inputs.html("<%= j render(partial: "learning/lessons/partials/mc_quiz_question_options",
              locals: { user_answer_index: @user_answer_index, 
                            quiz_question: @quiz_question,
                            question_answered: @question_answered, 
                            course_id_token: @course.id_token,
                            module_id: @lesson.module_part_id }) %>");

var continue_button = right_column_inputs.find("a.continue-button");

// mc_quiz must have content otherwise mc_quiz.js.erb would have run instead.
<% if (@mc_quiz.question_order.present? && 
       (@mc_quiz.question_order[-1] != @quiz_question.id)) %>
       // not last question so fill the continue button with remote link to next quiz question
        continue_button.attr("href", 
              "<%= learning_course_quiz_question_url(@course.id_token, "mc-quiz", 
       @mc_quiz.id,  @question_index + 1, subdomain: "learning") %>").data("remote", true);
<% else %>     
       var url_link;

       // but not next lesson
       if (next_lesson.length > 0) { 
              url_link = next_lesson.find("a").attr("href").split("?")[0];
              console.log(url_link);
              
              // means next_lesson is null but not next module
              continue_button.attr("href", `${url_link}?continue=true`)
                                   .data("remote", !is_last_lesson);
       } else {
            // this is last lesson of course 
            // leave empty since will never be the case.   
       }
<% end %>

// set the new url
window.history.pushState("Ajax/html loading of mcq type lesson", 
              "McQuizQuestion", "<%= learning_course_quiz_question_url(@course.id_token, 
              "mc-quiz", @mc_quiz.id,  @question_index, subdomain: "learning") %>");


