<%= render "learning/lessons/partials/common_layout" %>

// empty the left column
left_column.html("<nav class='quiz_questions_content'><ul></ul></nav>");
middle_column.html("<%= j render(partial: "learning/lessons/partials/mc_quiz",
              locals: { lesson: @lesson }) %>");

// replace the continue button with the appropriate url and options.
var url_link;
var full_url_link;

if (next_lesson.length > 0) { 
            url_link = next_lesson.find("a").attr("href").split("?")[0];
            full_url_link = url_link + "?continue=true";

            right_column_inputs.html(`<a href=${full_url_link} 
                data-remote=${!is_last_lesson}
                class="mt-2 w-100 button is-link border-gray continue-button">
                <span>Continue</span>
            </a>`);
} else {
        // next lesson is null but not next module
        if (next_module_list.length > 0) {
        // means next_lesson is null but not next module
            url_link = next_module_list.find("ul.lesson-list a:first-child").attr("href").split("?")[0];
            full_url_link = url_link + "?continue=true"

            right_column_inputs.html(`<a href=${full_url_link}
                class="mt-2 w-100 button is-link border-gray continue-button" 
                data-remote="false">
                <span>Continue</span>
            </a>`);
        } else {
             // this is last lesson of course 
             // leave empty since will never be the case.                      
        }         
}

// set the new url
window.history.pushState("Ajax/html loading of text type lesson", 
              "LessonText", "<%= learning_course_lesson_url(params[:course_id_token], 
               "mc-quiz", @lesson.learnable_id, subdomain: "learning") %>");