<aside class="menu px-4 pt-0" id="dashboard_competition_sidebar">
    <div id="aside_header" class="my-2 is-justify-content-flex-start">
        <%= link_to(dashboard_student_competitions_url(current_student.username)) do %>
          <span><i class="fas fa-arrow-left p-2 back-arrow-link"></i></span>
        <% end %>
        <span class="ml-4">My competitions</span>
    </div>
    <figure class="is-flex image pdf_loading is-justify-content-center is-flex-direction-column">
        <% if @competition_video&.previewable? %>
            <%= image_tag @competition_video.preview(resize_to_limit: [210, 150]),  class:"course_image_thumbnail" %>
        <% else %>
            <%= image_tag(image_path("image_placeholder.png"), class: "course_image_thumbnail") %>
        <% end %>
    </figure>
    <div class="is-size-6 py-2 my-0">
        <span>My competition:</span><br>
        <span class="overflow-ellipsis subtitle-opacity"><%= @competition.title %></span>
    </div>
    <ul class="menu-list w-100" id="course-menu-list">
      <% competition_dashboard_paths(@competition.id).each do |title, path| %>
          <li><%= link_to title.to_s.gsub("_", " "), path, class: ("is-active" if (@competition_tab == title.to_s)) %></li>
      <% end %>
    </ul>
</aside>