<aside class="menu px-4 pt-0" id="dashboard_course_sidebar">
    <div id="aside_header" class="my-2 is-justify-content-flex-start">
        <%= link_to(content_dashboard_student_courses_url(current_student.username)) do %>
          <span><i class="fas fa-arrow-left p-2 back-arrow-link"></i></span>
        <% end %>
        <span class="ml-4">My content</span>
    </div>
    <figure class="is-flex image pdf_loading is-justify-content-center is-flex-direction-column">
        <% if @course.image.representable? %>
            <%= image_tag(@course.image.representation(resize_to_limit: [840,600]), class:"course_image_thumbnail is-hidden") %>
        <% end %>
    </figure>
    <div class="is-size-6 py-2 my-0">
        <span>My course:</span>
        <span class="overflow-ellipsis subtitle-opacity"><%= @course.title %></span>
    </div>
    <ul class="menu-list w-100" id="course-menu-list">
      <% course_dashboard_paths(@course.id_token).each do |title, path| %>
          <li><%= link_to title.to_s.gsub("_", " "), path, class: ("is-active" if (@course_tab == title.to_s)) %></li>
      <% end %>
    </ul>
</aside>