<aside class="menu px-4 pt-0" id="design_mc_quiz_sidebar">
    <div id="mc_quiz_aside_header" class="my-2 is-justify-content-flex-start">
        <%= link_to edit_dashboard_lesson_url(@lesson.id), class: "course-home-link" do %>
              <span><i class="fas fa-arrow-left p-2 back-arrow-link"></i></span>
        <% end %>
        <span class="ml-4">Quiz details</span>
    </div>
    <div class="is-size-6 py-2 my-0">
        <span><%= "#{hash_of_lesson_elements[:mc_quiz]}" %></span>
        <span class="overflow-ellipsis subtitle-opacity"><%= @lesson.title %></span>
    </div>
    <ul class="menu-list w-100" id="mc-quiz-menu-list">
      <% @questions.each.with_index(1) do |question, index| %>
          <li>
              <%= link_to edit_dashboard_mc_quiz_question_url(question.id, subdomain: "dashboard"), 
                  class: ("is-active" if (question.id == @mc_quiz_question.id)), data: {id: question.id} do %>
                  <span><%= "#{index}. #{question.title}" %></span>
              <% end %>
          </li>
      <% end %>
    </ul>
</aside>