<aside class="menu px-4 pt-0" id="design_lesson_sidebar">
    <div id="aside_header" class="my-2 is-justify-content-flex-start">
        <%= link_to design_dashboard_course_url(@course.id_token), class: "course-home-link" do %>
              <span><i class="fas fa-arrow-left p-2 back-arrow-link"></i></span>
        <% end %>
        <span class="ml-4">Designer</span>
    </div>
    <figure class="is-flex image pdf_loading pdf_border is-justify-content-center is-flex-direction-column">
        <% if @module.image.representable? %>
            <%= image_tag(@module.image.representation(resize_to_limit: [840,600]), class:"course_image_thumbnail") %>
        <% end %>
    </figure>
    <div class="is-size-6 py-2 my-0">
        <span>Module <%= @module_position %>:</span>
        <span class="overflow-ellipsis subtitle-opacity"><%= @module.title %></span>
    </div>
    <ul class="menu-list w-100" id="course-menu-list">
      <% @module_lessons.each.with_index(1) do |lesson, index| %>
          <li class='<%= "video" if (lesson.learnable_type == "LessonVideo") %>'>
              <%= link_to edit_dashboard_lesson_url(lesson.id, subdomain: "dashboard"), 
                  class: ("is-active" if (@lesson.id == lesson.id)), data: {id: lesson.id} do %>
                  <span><%= "#{index}. #{lesson.title}" %></span>
                  <%= show_svg("#{lesson.learnable_type}.svg") %>
              <% end %>
          </li>
      <% end %>
    </ul>
</aside>