 <section class="learning_content px-4">
    <div class="title is-size-4 mt-3"><%= lesson.title %></div>
    <div class="content"><%= assignment_video.requirements %></div>
    <table id="video_submissions_table" class="table w-100">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="outline_none mr-2 w-min-content" id="selectnote_page_notes">
                    <span>Video Submission</span>
                </th>
                <th>Date</th>
                <th class="has-text-right">Upvote</th>
                <th class="has-text-right">Downvote</th>
                <!-- <th class="has-text-right">Comments</th> -->
            </tr>
        </thead>
        <tbody>
            <% if @video_submissions.present? %>
                <% @video_submissions.each do |video_submission| %>
                    <tr data-upload-id-token="<%= video_submission.id %>">
                        <td class="is-flex">
                            <label class="checkbox w-min-content is-align-self-center">
                                <input type="checkbox" class="outline_none w-min-content">
                            </label>
                            <figure class="column image is-justify-content-center is-flex-direction-column">
                                <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                                <% if video_submission.previewable? %>
                                    <%= image_tag video_submission.preview(resize_to_limit: [210, 150]),  class:"course_image_thumbnail" %>
                                <% end %>
                            </figure>
                            <div class="column note-column">
                                <p><%= video_submission.title %></p>
                            </div>
                        </td>
                        <!-- <td><span>< "$%.2f" % course.price unless course.price.nil? ></span></td> -->
                        <td><span><%= course.created_at.strftime("%d %b, %Y") %></span></td>
                        <td><p class="has-text-right"><%= video_submission.upvotes %></p></td>
                        <td><p class="has-text-right"><%= video_submission.downvotes %></p></td>
                        <!-- <td><p class="has-text-right">N/A</p></td> -->
                    </tr>
                <% end %>
            <% else %>
                <% 5.times do %>
                    <tr>
                        <td class="is-flex">
                            <label class="checkbox w-min-content is-align-self-center">
                                <input type="checkbox" class="outline_none w-min-content">
                            </label>
                            <figure class="column image is-justify-content-center is-flex-direction-column">
                                <span class="is-text-align-center pdf_placeholder">Image loading...</span>
                                <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail") %>
                            </figure>
                            <div class="column note-column">
                                <p>Untitled</p>
                            </div>
                        </td>
                        <!-- <td><span>< "$%.2f" % course.price unless course.price.nil? ></span></td> -->
                        <td><span>01 Jan, 2000</span></td>
                        <td><p class="has-text-right">0</p></td>
                        <td><p class="has-text-right">0</p></td>
                        <!-- <td><p class="has-text-right">N/A</p></td> -->
                    </tr>
            <% end %>
        </tbody>
    </table>
</section>