
// get the main variables                           ---------------->
var left_column = $("#learning_left_column_filler");
var middle_column = $("#middle_column_learning");

var right_column = $("#right_column_learning_continue");
var right_column_inputs = right_column.find("#lesson-inputs");
var right_column_lesson_triad = right_column.find("#lesson-triad");

// get the relevant lessons from course-list-index.  ---------------->

var course_lesson_list = right_column.find("#course-index-list ul.lesson-list li");
var current_lesson = right_column
       .find("a[data-learnable-id='<%= @learnable_id %>'][data-learnable-type='<%= @learnable_type %>']")
       .parent();
var current_module_list = current_lesson.closest("ul.module-list");

var current_lesson_list_index = course_lesson_list.index(current_lesson);

var prev_lesson = (current_lesson_list_index == 0) ? [] :
            course_lesson_list.eq(current_lesson_list_index - 1);
var next_lesson = (current_lesson_list_index == (course_lesson_list.length - 1)) ? [] :
            course_lesson_list.eq(current_lesson_list_index + 1);

var prev_selected_lesson = course_lesson_list.filter("li.current");

// update the current lesson class for course-list-index   ---------------->
prev_selected_lesson.removeClass("current");
current_lesson.addClass("current");

// update completed status if continue button was clicked.
// also update the progress bar, if the prev_selected_lesson was also not completed.
var continued = <%= @continued %>;
var progress_bar = $("#topLearningNavbar").find("#module-progress progress");
var new_module_progress;
var current_module_list_lessons = current_module_list.find("ul.lesson-list li > a");
var current_module_completed_lessons = current_module_list_lessons.filter("[data-completed='true']");

 // not need to check if progress is already 100%, since incomplete prev lesson implies this.
if (continued) {
    if (!prev_selected_lesson.find("a").data("completed")) {
       new_module_progress = ((current_module_completed_lessons.length + 1) * 100)/
                             (current_module_list_lessons.length);
       new_module_progress = parseFloat(new_module_progress.toFixed(3));
       progress_bar.css("width", `${new_module_progress}%`);
       prev_selected_lesson.find("a").data("completed", true);
    }
}

// update the pointer for current lesson too in course-list-index  ----------->
var arrow_pointer = prev_selected_lesson.find("span.right-arrow");
var arrow_pointer_clone = arrow_pointer.clone();
arrow_pointer.remove();
current_lesson.prepend(arrow_pointer_clone);

// in the module top contents section,                              ----------->
// update the subtitle and show the completion tick if needed. 
var lesson_tracker= right_column_lesson_triad.find(".lesson-tracker");
var current_lesson_index = current_lesson.index();
var module_lesson_count = parseInt(lesson_tracker.find("span.current-module-lesson-count").text());

if (current_lesson.find("a").data("completed")) {
    lesson_tracker.find("figure").removeClass("is-hidden");
} else {
    lesson_tracker.find("figure").addClass("is-hidden");
}
lesson_tracker.find("span.current-lesson-index").html(`Lesson ${current_lesson_index + 1} of&nbsp;`);

// also in the top module contents,                             --------------->
// hide/show the left or right arrow depending on current index
var left_arrow_parent = right_column_lesson_triad.find("img.arrow-button.left").parent();
var right_arrow_parent = right_column_lesson_triad.find("img.arrow-button.right").parent();

var is_last_lesson = (current_lesson_index + 1) == module_lesson_count;

console.log(current_lesson_index);
if (current_lesson_index == 0) {
    left_arrow_parent.addClass("is-hidden");
    
    if (module_lesson_count == 1) {
        right_arrow_parent.addClass("is-hidden");
    } else {
        right_arrow_parent.removeClass("is-hidden");
        right_arrow_parent.attr("href", (next_lesson.length == 0) ? 
                          "#" : next_lesson.find('a').attr("href"));
    }
} else if (is_last_lesson) {
    right_arrow_parent.addClass("is-hidden");
    left_arrow_parent.removeClass("is-hidden")
                     .attr("href", (prev_lesson.length == 0) ? 
                       "#" : prev_lesson.find('a').attr("href"));
} else {
    left_arrow_parent.removeClass("is-hidden")
        .attr("href", (prev_lesson.length == 0) ? 
                       "#" : prev_lesson.find('a').attr("href"));
    right_arrow_parent.removeClass("is-hidden")
        .attr("href", (next_lesson.length == 0) ? 
                       "#" : next_lesson.find('a').attr("href"));
}

// decide if to simply update the 'current' class of existing flex-bars or      --------->
// to completely replace the flex-bars, their urls and icons 
// (mainly when switching between sets of three lessons, lesson triads)

var ceiling_current_lesson = Math.ceil((current_lesson.index() + 1)/3);
var ceiling_prev_lesson = Math.ceil((prev_selected_lesson.index() + 1)/3);

var flex_bars = right_column_lesson_triad.find("ul.flex-bars");

if (ceiling_current_lesson != ceiling_prev_lesson) {

    flex_bars.empty();

    var new_triad;
    var triad_link;
    var triad_url;
    var triad_lesson_type;
    var class_list;
    var obj;

    if (ceiling_current_lesson > ceiling_prev_lesson) {
        new_triad = current_module_list_lessons.slice(current_lesson_index, current_lesson_index + 3);
    } else { 
        new_triad = current_module_list_lessons.slice(current_lesson_index - 2, current_lesson_index + 1);
    }
    // since current lesson must be the first of the next three.
    new_triad.each(function(index, object) {
        obj = $(object);
        triad_url = obj.attr("href");
        triad_lesson_type = obj.data("learnable-type");
        class_list = "";

        if (obj.data("is-incomplete")) {
            // even when ($(this).data("completed") == "true") 
            class_list = "is-incomplete ";
        } else {
            if (obj.data("completed")) {
                class_list = "user-completed ";
            } 
        }

        class_list += "flex-bar ";
        
        var new_flex_bar;
        if (obj.parent().hasClass("current")) {
            // this is current lesson so add selected class.
            class_list += " selected ";
            new_flex_bar = $(document.createElement("li"));
            new_flex_bar.attr("class", class_list);
        } else {
            new_flex_bar = $(document.createElement("a"));
            new_flex_bar.attr("class", class_list)
                        .attr("remote", true)
                        .attr("href", triad_url);
        }

        switch (triad_lesson_type) {
            case "LessonText":
                new_flex_bar.html(`<%= show_svg("LessonText.svg") %>`);
                break;
            case "LessonVideo":
                new_flex_bar.html(`<%= show_svg("LessonVideo.svg") %>`);
                break;
            case "McQuiz":
                new_flex_bar.html(`<%= show_svg("McQuiz.svg") %>`);
                break;
            default:
        } 
        flex_bars.append(new_flex_bar);   
    });
} else {
    // update the flex-bars, so that the current flex-bar has the selected class, 
    // not the previous flex-bar.                                             -------------> 
    
    var prev_selected_flex_bar;
    var replacement_flex_bar;
    var current_flex_bar;
    var replacement_current_flex_bar;

    prev_selected_flex_bar = flex_bars.find("li.selected");
    replacement_flex_bar = $(document.createElement("a"));
    replacement_flex_bar.addClass(prev_selected_flex_bar.attr("class"))
                        .removeClass("selected")
                        .attr("href", window.location.href)
                        .data("remote", true)
                        .html(prev_selected_flex_bar.html());
    if (continued) {
        replacement_flex_bar.addClass("user-completed");
    }
    
    flex_bars[0].replaceChild(replacement_flex_bar[0], prev_selected_flex_bar[0]);

    current_flex_bar = flex_bars.children().eq((current_lesson_index) % 3);

    replacement_current_flex_bar = $(document.createElement("li"));
    replacement_current_flex_bar.addClass(current_flex_bar.attr("class"))
                                .addClass("selected")
                                .html(current_flex_bar.html());
    
    flex_bars[0].replaceChild(replacement_current_flex_bar[0], current_flex_bar[0]);
}
