<section class="learning_content px-4">
    <div class="title is-size-4 mt-3"><%= lesson.title %></div>
    <div class="content">
        <% if video.attached? %>
            <%= video_tag rails_blob_path(video), controls: true, class: "video-player" %>
            <div class="pb-1 pt-4 below-video-info w-100">
                <span class="video-title is-size-6"><%= video&.filename&.to_s %></span>
            </div>
        <% else %>
            <div class="" id="video-missing-placeholder">
                <figure class="image is-96x96">
                    <%= image_tag(image_path("video-missing-2.png"), class: "") %>
                </figure>
            </div>
        <% end %>
    </div>
</section>