<section class="learning_content px-4">
    <div class="is-size-6 color-dark-grey mb-2">
        Text
    </div>
    <div class="title is-size-4 mt-3"><%= lesson.title %></div>
    <div class="content"><%= lesson_text.content %></div>
</section>