<%= form_for(:mc_quiz_answers, url: learning_course_mc_quiz_answer_url(course_id_token, quiz_question.id), 
             method: :patch, remote: true, html: { class: "is-form-mcq w-100" }) do |f| %>
    <div class="control options-holder">
        <% quiz_question.options.each_with_index do |option, index| %>
            <% if (question_answered) %>
                <% if (index == quiz_question.correct_answer_index) %>
                    <label class="<%= (index == user_answer_index) ? 'radio success-border' : 'radio error-border' %>">
                        <i class="fas fa-check fa-2x"></i>
                        <%= f.radio_button :hash_array_answer, index, class: "radio is-hidden" %>
                        <span class="option-text"><%= option %></span>
                    </label>
                <% else %>
                    <label class="radio is-opaque">
                        <i class="fas fa-check fa-2x is-hidden"></i>
                        <%= f.radio_button :hash_array_answer, index, class: "radio", 
                            checked: ((index == user_answer_index) ? true : false) %>
                        <span class="option-text"><%= option %></span>
                    </label>
                <% end %>
            <% else %>
                <label class="radio">
                    <i class="fas fa-check fa-2x is-hidden"></i>
                    <%= f.radio_button :hash_array_answer, index, class: "radio" %>
                    <span class="option-text"><%= option %></span>
                </label>
            <% end %>
        <% end %>
    </div>
    <%= f.hidden_field :module_id, value: module_id %>
    <% if (question_answered) %>
        <div id="answer-box" class=""><%= (user_answer_index == quiz_question.correct_answer_index) ?
            "Correct" : "Incorrect" %></div>
    <% else %>
        <div id="answer-box" class="is-hidden"></div>
    <% end %>
    <%= f.submit "Submit", class: "mt-2 w-100 button is-dark border-gray #{'is-hidden' if question_answered}", id: "submit-answer" %>  
    <a href="#" class="mt-2 w-100 button is-link border-gray continue-button 
                            <%= 'is-hidden' unless question_answered %>">
        <span>Continue</span>
    </a>    
<% end %>
<button class="mt-2 w-100 button is-light border-gray" id="show-explanation">
    <span>Show explanation</span>
</button>
<button class="mt-2 w-100 button is-light border-gray is-hidden" id="hide-explanation">
    <span>Hide explanation</span>
</button>