<nav class="quiz_questions_content" data-quiz-id="<%= mc_quiz.id %>">
    <ul>
        <% mc_quiz.question_order.each.with_index(1) do |question_id, index| %>
            <% if (question_id == quiz_question.id) %>
                <li class="selected <%= 'completed' if questions_completed.include?(question_id) %>" 
                    data-question-id="<%= question_id %>" data-questions-completed="<%= questions_completed %>"
                    data-link-url="<%= learning_course_quiz_question_url(course_id_token, 
                        "mc-quiz", mc_quiz.id, index, subdomain: "learning") %>"
                        data-question-index="<%= index %>">
                    <span>
                        Question <%= index %>
                    </span>
                </li>
            <% else %>
                    <li class="<%= 'completed' if questions_completed.include?(question_id) %>" 
                    data-question-id="<%= quiz_question.id %>" data-questions-completed="<%= questions_completed %>"
                    data-link-url="<%= learning_course_quiz_question_url(course_id_token, 
                        "mc-quiz", mc_quiz.id, index, subdomain: "learning") %>"
                        data-question-index="<%= index %>">
                    <%= link_to learning_course_quiz_question_url(course_id_token, 
                        "mc-quiz", mc_quiz.id, index, subdomain: "learning"),
                        remote: true do %>
                        Question <%= index %>
                    <% end %> 
                </li>
            <% end %>
        <% end %>
    </ul>
</nav>