<section class="learning_content px-4">
    <div class="title question-title is-size-4 mt-3"><%= quiz_question.title %></div>
    <div class="content"><%= quiz_question.question %></div>
    <div id="explanation-box" class="is-hidden">
        <div class="title is-size-4 my-1 mb-5">Explanation</div>
        <div class="is-size-6 mb-5 color-dark-grey">
            Correct answer: Option 
            <span class="option-index">
                <%= quiz_question.correct_answer_index + 1 %>
            </span>
        </div>
        <div class="explanation-text"><%= quiz_question.explanation %></div>
    </div>
</section>