<section class="learning_content px-4">
    <div class="title is-size-4 mt-3"><%= @lesson.title %></div>
    <div class="content">No quiz question at top</div>
    <div>no hidden explanation box</div>
</section>