<div id="edit-lesson-body" class="flex-grow w-100">
  <div class="lesson-panel h-100">
    <section class="section p-0 h-100 is-flex is-flex-direction-column" id="edit_lesson_section">
      <div id="heading-fixed-bar" class="is-flex-grow-0 container is-justify-content-space-between px-4 py-2 is-align-items-center border-bottom-gb mx-0">
        <h1 class="title is-4 mb-0">Video assignment details</h1>
        <div>
          <button class="button is-link w-min-content mr-2" id="update_lesson_details">Update</button>
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="course-dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="course-dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <%= link_to dashboard_lesson_url(@lesson.id, subdomain: "dashboard"),
                      class: "dropdown-item", method: :delete, remote: true do %>
                      <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                      <span>Delete</span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-0 container py-4 px-5 mx-0">
          <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
              <li><span class="module-title">Module <%= @module_position %>: <%= @module.title %></span></li>
              <li>
                  <span class="lesson-title">
                    <%= "#{hash_of_lesson_elements[@lesson_type]}: #{@lesson.title}" %>
                  </span>
              </li>
            </ul>
          </nav>
      </div>
      <%= form_with(model: @lesson, url: dashboard_lesson_url(lesson_id: @lesson.id, subdomain: "dashboard"), 
                    method: :patch, local: false, class:"container pt-2 pb-4 px-5 mx-0", id: "edit_lesson_form") do |f| %>
          <div class="columns px-3 h-100">
              <div class="column pr-5 is-flex is-flex-direction-column">
                  <div class="field">
                        <%= f.label :title, class:"label" %>
                        <div class="control">
                          <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                        </div>
                        <p class="help is-danger"></p>
                  </div>
                  <div class="columns is-flex-direction-row">
                      <%= f.fields_for(@learnable) do |ff| %>
                        <div class="column">
                            <div class="field h-100">
                                <%= ff.label :requirements, class:"label" %>
                                <div class="control is-flex-grow-1 is-flex is-flex-direction-column h-inherit">
                                  <%= ff.rich_text_area :requirements, class:"optional" %>
                                </div>
                                <p class="help is-danger"></p>
                            </div>
                        </div>
                        <div class="column">
                              <div class="field">
                                  <%= ff.label :prize_money, "Prize money (AUD)", class:"label" %>
                                  <div class="control is-flex-grow-1 is-flex is-flex-direction-column">
                                      <%= ff.number_field :prize_money, class:"optional", 
                                          min: '0', step: '1' %>
                                  </div>
                                  <p class="help is-danger"></p>
                              </div>
                              <div class="field">
                                  <%= ff.label :deadline_date, class:"label" %>
                                  <div class="control is-flex-grow-1 is-flex is-flex-direction-column">
                                      <%= ff.date_field :deadline_date, as: :date, 
                                      value: (@learnable.deadline_date || Date.current), html5: true %>
                                  </div>
                                  <p class="help is-danger"></p>
                              </div>
                              <div class="field">
                                  <%= ff.label :deadline_time, class:"label" %>
                                  <div class="control is-flex-grow-1 is-flex is-flex-direction-column">
                                      <%= ff.time_field :deadline_time, 
                                      value: (@learnable.deadline_time.strftime("%H:%M") || Time.now.strftime("%H:%M")), class:"optional" %>
                                  </div>
                                  <p class="help is-danger"></p>
                              </div>
                        </div>
                      <% end %>
                  </div>
              </div>
          </div>
      <% end %>
    </section>
  </div>
</div>