<div id="edit-lesson-body" class="flex-grow w-100">
  <div class="lesson-panel h-100">
    <section class="section p-0 h-100 is-flex is-flex-direction-column" id="edit_lesson_section">
      <div id="heading-fixed-bar" class="is-flex-grow-0 container is-justify-content-space-between px-4 py-2 is-align-items-center border-bottom-gb mx-0">
        <h1 class="title is-4 mb-0">Video details</h1>
        <div class="is-flex">
          <div class="is-flex is-align-items-center pr-4 is-hidden progress-group">
              <span class="progress-status"></span>
              <progress class="progress video-upload is-success" value="0" max="100"></progress>
          </div>
          <button class="button is-link w-min-content mr-2" id="update_lesson_details">Update</button>
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="course-dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="course-dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <%= link_to dashboard_lesson_url(@lesson.id, subdomain: "dashboard"),
                      class: "dropdown-item", method: :delete, remote: true do %>
                      <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                      <span>Delete</span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-0 container py-4 px-5 mx-0">
          <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
              <li><span class="module-title">Module <%= @module_position %>: <%= @module.title %></span></li>
              <li>
                  <span class="lesson-title">
                    <%= "#{hash_of_lesson_elements[@lesson_type]}: #{@lesson.title}" %>
                  </span>
              </li>
            </ul>
          </nav>
      </div>
      <%= form_with(model: @lesson, url: dashboard_lesson_url(lesson_id: @lesson.id, subdomain: "dashboard"), 
                    method: :patch, local: false, class:"container pt-2 pb-4 px-5 mx-0", id: "edit_lesson_form") do |f| %>
          <div class="columns px-3 h-100">
              <div class="column pr-5 is-flex is-flex-direction-column">
                      <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                              <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <%= f.fields_for(@learnable) do |ff| %>
                        <div class="field is-flex-grow-1 is-flex is-flex-direction-column">
                            <%= ff.label :video, class:"label optional" %>
                            <% if @video_attached %>
                                <div class="file is-boxed h-100">
                                  <div class="video-delete-bar is-justify-content-end opacity-25">
                                      <button type="button" class="delete delete-video"></button>
                                  </div>
                                  <label class="file-label">
                                      <%= ff.file_field :video, direct_upload: true, class:"file-input optional", 
                                          id: "lesson_video_input", type: "file", accept:"video/*" %>
                                          <span class="file-cta h-100 is-flex is-justify-content-center">
                                            <span class="file-icon h-min-content py-4 <%= 'is-hidden' %>">
                                              <i class="fas fa-3x fa-upload"></i>
                                            </span>
                                            <span class="file-label is-size-4 <%= 'is-hidden' %>">
                                              Upload a video
                                            </span>
                                            <%= video_tag rails_blob_path(@video), controls: true, class: "video-player" %>
                                            <div class="pb-1 pt-4 below-video-info w-100">
                                                <span class="video-title is-size-6"><%= @video.filename.to_s %></span>
                                            </div>
                                          </span>
                                      <progress class="progress border-radius-none is-success is-small is-hidden" value="0" max="100"></progress>
                                  </label>
                                </div>
                            <% else %>
                                <div class="file is-boxed h-100">
                                  <div class="video-delete-bar is-hidden is-justify-content-end opacity-25">
                                      <button type="button" class="delete delete-video"></button>
                                  </div>
                                  <label class="file-label">
                                      <%= ff.file_field :video, direct_upload: true, class:"file-input optional", 
                                          id: "lesson_video_input", type: "file", accept:"video/*" %>
                                          <span class="border-radius-none file-cta h-100 is-flex is-justify-content-center">
                                            <span class="file-icon h-min-content py-4 <%= 'is-hidden' %>">
                                              <i class="fas fa-3x fa-upload"></i>
                                            </span>
                                            <span class="file-label is-size-4 <%= 'is-hidden' %>">
                                              Upload a video
                                            </span>
                                            <video controls class="video-player is-hidden">Your browser does not support the video tag.</video>
                                            <div class="pb-1 pt-4 below-video-info w-100">
                                                <span class="video-title is-size-6"></span>
                                            </div>
                                          </span>
                                          <progress class="progress border-radius-none is-success is-small is-hidden" value="0" max="100"></progress>
                                  </label>
                                </div>
                            <% end %>
                            <p class="help is-danger"></p>
                        </div>
                      <% end %>
              </div>
          </div>
      <% end %>
      <%= form_with(model: @lesson, url: dashboard_lesson_url(lesson_id: @lesson.id, subdomain: "dashboard"), 
                    method: :patch, local: false, class:"container pt-2 pb-4 px-5 mx-0", id: "update_lesson_video_form") do |f| %>
              <%= f.hidden_field :video_key %>
      <% end%>
    </section>
  </div>
</div>