<div id="edit-lesson-body" class="flex-grow w-100">
  <div class="lesson-panel h-100">
    <section class="section p-0 h-100 is-flex is-flex-direction-column" id="edit_lesson_section">
      <div id="heading-fixed-bar" class="is-flex-grow-0 container is-justify-content-space-between px-4 py-2 is-align-items-center border-bottom-gb mx-0">
        <h1 class="title is-4 mb-0"><%= "#{hash_of_lesson_elements[@lesson_type]} details" %></h1>
        <div>
          <button class="button is-link w-min-content mr-2" id="update_quiz_details">Update</button>
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="course-dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="course-dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <%= link_to dashboard_lesson_url(@lesson.id, subdomain: "dashboard"),
                      class: "dropdown-item", method: :delete, remote: true do %>
                      <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                      <span>Delete</span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="is-flex-grow-0 container py-4 px-5 mx-0">
          <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
            <ul>
              <li><span class="module-title">Module <%= @module_position %>: <%= @module.title %></span></li>
              <li>
                  <span class="lesson-title">
                    <%= "Lesson #{@lesson_position}: #{@lesson.title}" %>
                  </span>
              </li>
            </ul>
          </nav>
      </div>
      <%= form_with(model: @lesson, url: dashboard_lesson_url(lesson_id: @lesson.id, subdomain: "dashboard"), 
                    method: :patch, local: false, class:"container pt-2 pb-4 px-5 mx-0", id: "edit_lesson_form") do |f| %>
          <div class="columns pl-3 h-100">
              <div class="column pr-5 is-flex is-flex-direction-column">
                      <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                              <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field" id="lesson_question_order_field">
                            <%= f.fields_for(@learnable) do |ff| %>
                                <%= ff.hidden_field :question_order, multiple: :true, value: "", disabled: true %>
                            <% end %>
                            <div class="control">                                
                            </div>
                      </div>
                      <div class="is-flex is-align-items-center is-justify-content-space-between mb-3">
                          <div class="subtitle mb-0">Quiz Questions</div>
                          <button id="add_mcq_to_quiz" type="button" class="button is-link w-min-content is-small">Add a question</button>
                      </div>
                      <div class="questions">
                          <div class="question is-hidden" draggable="true" saved="false">
                              <span class="question-title-content">Hidden</span>
                              <div class="is-flex question-buttons">
                                  <a href="#" class="trigger_edit_question_modal question-button is-hidden">
                                      <i class="fas fa-pencil-alt"></i>
                                  </a>
                                  <span class="trigger_delete_question_modal question-button is-hidden">
                                      <i class="fas fa-trash-alt"></i>
                                  </span>                              
                              </div>
                          </div>
                          <% @mc_quiz_questions.each.with_index(1) do |quiz_question, index| %>
                              <div class="question" draggable="true" saved="false" data-mc-question-id="<%= quiz_question.id %>">
                                  <span class="question-title-content"><%= "Question #{index}: #{quiz_question.title}" %></span>
                                  <div class="is-flex question-buttons">
                                      <%= link_to edit_dashboard_mc_quiz_question_url(quiz_question.id, subdomain: "dashboard"),
                                            class: "trigger_edit_question_modal question-button is-hidden" do %>
                                            <i class="fas fa-pencil-alt"></i>
                                      <% end %>
                                      <span class="trigger_delete_question_modal question-button is-hidden">
                                          <i class="fas fa-trash-alt"></i>
                                      </span>                              
                                  </div>
                              </div>
                          <% end %>
                      </div>
              </div>
          </div>
      <% end %>
      <div id="new_mc_quiz_question_modal" class="modal">
          <div class="modal_background_light"></div>
          <div class="modal-content" id="edit_module_modal_body">
              <%= form_with(model: McQuizQuestion.new, url: dashboard_lesson_mc_quiz_questions_url(subdomain: "dashboard", lesson_id: @lesson.id), 
                    method: :post, local: false, html: { class: "card" } ) do |f| %>
                  <div class="card-content pb-3">
                      <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                          <span>New question</span>
                          <span>
                              <i class="fas fa-times fa-lg m-close blue-close"></i>
                          </span>
                      </div>
                      <div class="container success_container p-5">
                          <div id="new_mc_quiz_question_form">
                                <div class="field">
                                      <%= f.label :title, class:"label" %>
                                      <div class="control">
                                        <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                                      </div>
                                      <p class="help is-danger"></p>
                                </div>
                                <div class="field">
                                    <%= f.label :question, class:"label" %>
                                    <div class="control">
                                    <%= f.rich_text_area :question, class:"optional" %>
                                    </div>
                                    <p class="help is-danger"></p>
                                </div>
                                <div class="field" id="number_of_options_field">
                                    <%= f.label :number_of_choices, class: "label" %>
                                    <div class="control">
                                      <div class="tags">
                                          <div class="tag is-medium is-light">
                                              <%= f.radio_button :number_of_choices, "3", class: "radio is-hidden" %>
                                              <span>Three</span>
                                          </div>
                                          <div class="tag is-medium is-light selected">
                                              <%= f.radio_button :number_of_choices, "4", class: "radio is-hidden", checked: true %>
                                              <span>Four</span>
                                          </div>
                                          <div class="tag is-medium is-light">
                                              <%= f.radio_button :number_of_choices, "5", class: "radio is-hidden" %>
                                              <span>Five</span>
                                          </div>
                                      </div>
                                    </div>
                                    <p class="help is-danger"></p>
                                </div>
                                <div class="field" id="correct_option_index_fields">
                                    <%= f.label :correct_answer_index, "Correct option", class:"label" %>
                                    <div class="control">
                                        <div class="tags">
                                            <% (1..4).to_a.each do |number| %>
                                                <% if (number == 1) %> 
                                                    <div class="tag is-medium is-light selected">
                                                        <%= f.radio_button :correct_answer_index, "#{number - 1}", class: "radio is-hidden", checked: true %>
                                                        <span>Option <%= "#{number}" %></span>
                                                    </div>
                                                <% else %>
                                                    <div class="tag is-medium is-light">
                                                        <%= f.radio_button :correct_answer_index, "#{number - 1}", class: "radio is-hidden" %>
                                                        <span>Option <%= "#{number}" %></span>
                                                    </div>
                                                <% end %>
                                            <% end %>
                                        </div>
                                    </div>
                                    <p class="help is-danger"></p>
                                </div>
                                <div class="field mb-0" id="mcq_options_fields">
                                    <%= f.label :options, class: "label" %>
                                    <% (1..4).to_a.each do |number| %>
                                        <% if (number == 1) %> 
                                            <div class="control is-flex mb-3 is-align-items-center">
                                                <span class="pr-4 number-bullet-points"><%= number %>.</span>
                                                <label class="radio pr-4 w-min-content">
                                                  <input type="radio" name="answer" checked="checked">
                                                </label>
                                                <%= f.text_field :options, class: "input is-success", multiple: :true, value: [] %>
                                            </div>
                                        <% else %>
                                            <div class="control is-flex mb-3 is-align-items-center">
                                                <span class="pr-4 number-bullet-points"><%= number %>.</span>
                                                <label class="radio pr-4 w-min-content">
                                                  <input type="radio" name="answer" disabled="true">
                                                </label>
                                                <%= f.text_field :options, class: "input", multiple: :true, value: [] %>
                                            </div>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="field is-flex-grow-1 is-flex is-flex-direction-column">
                                    <%= f.hidden_field :mc_quiz_id, value: @learnable.id %>
                                </div>
                          </div>
                      </div>
                  </div>
                  <footer class="py-2 card-footer is-justify-content-end">
                      <%= f.submit "Create", class: "button my-2 is-link w-min-content" %>
                      <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                  </footer>
              <% end %>
              <!-- <div class="subtitle mb-0 py-2 border-bottom-gb 
                    is-flex is-align-items-center is-justify-content-space-between">
                <h3>MCQ item:</h3>
              </div> -->
              <button class="modal-close is-large" aria-label="close"></button>
          </div>
      </div>
      <div id="delete_question_modal" class="modal">
            <div class="modal_background_light"></div>
            <div class="modal-content" id="delete_module_modal_body">
                <%= form_for(:question, method: :delete, remote: true, html: { class: "card" }) do |f| %>
                    <div class="card-content pb-3">
                        <div class="subtitle mb-4 is-flex is-justify-content-space-between">
                            <span class="question-number">Delete Question 5</span>
                            <span>
                                <i class="fas fa-times fa-lg m-close blue-close"></i>
                            </span>
                        </div>
                        <div class="container success_container p-5">
                            <div>If you choose to delete this question, 
                                    all the details of this question will be permanently lost.</div>
                        </div>
                    </div>
                    <footer class="card-footer is-justify-content-end">
                        <%= f.submit "Delete", id: "question_deletion_button", class: "button my-2 is-link w-min-content" %>
                        <button type="button" class="button is-light mr-5 ml-2 my-2 m-close w-min-content">Close</button>
                    </footer>
                <% end %>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
      </div>
    </section>
  </div>
</div>