$("#add_module_modal").removeClass("is-active");
var generic_module_part = $("#design_course_page .modules .module")
                            .first().clone().removeClass("is-hidden");

generic_module_part.find("form")
    .attr("action", "<%= dashboard_module_lessons_url(subdomain: 'dashboard', module_id: @new_module.id) %>");

generic_module_part.find(".module-title-content .order-title")
    .text('<%= "#{@module_count}. #{@new_module.title}" %>');

generic_module_part.find(".module-title-content .lesson-count")
    .text("(0 lessons)");

generic_module_part.data("module-id", <%= @new_module.id %>);
generic_module_part.insertBefore($("#design_course_page .modules #module-bottom-drop-area"));

// update the module counter
$("#design_course_page #module-count").text("(<%= @module_count %>)");

// show snackbar message
var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text(`A new module has been added!`);
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);