var module_id = $("#delete_module_modal").find("form").data("module-id");
var module_to_delete = $(`#design_course_page .modules 
        .module:not(.is-hidden)[data-module-id="${module_id}"]`).remove();
console.log(module_id, module_to_delete);

var index = 1;
var module_name;
$("#design_course_page .modules .module:not(.is-hidden) .module-title-content .order-title").each(function(){
    module_name = $(this).text().split(".");
    console.log(module_name);
    module_name.shift();
    module_name.unshift(`${index}`);
    $(this).text(module_name.join("."));
    index += 1;
});

// update course counters.
var counters = $("#design_course_page #course-counters");
counters.find(".lesson-size").text("<%= @course.lessons_count - 2 %>");
counters.find(".text-size").text("<%= @course.texts_count - 2 %>");
counters.find(".quiz-size").text("<%= @course.quizzes_count %>");
counters.find(".video-size").text("<%= @course.videos_count %>");

// update the module counter
$("#design_course_page #module-count").text("(<%= @course.module_order.length - 2 %>)");

$("#delete_module_modal").removeClass("is-active");

// show snackbar message
var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text('<%= "Module has been successfully deleted" %>');
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);