$("#upload_success_modal").addClass("is-active");


$("#upload_success_modal_body").html('<%= j render partial: "module_part/new_notes_success",
                                            locals: {course: @course} %>')
