
var module = $(`#design_course_page .modules 
        .module:not(.is-hidden)[data-module-id="<%= @module_part.id %>"]`);

module.data("module-title", "<%= @module_part.title %>");
module.data("module-subtitle", "<%= @module_part.subtitle %>");
<% if @module_image.present? %>
        module.data("module-image-src", "<%= url_for(@module_image) %>");
        module.data("module-image-filename", "<%= @module_image.filename.to_s %>");
<% end %>

var module_title = module.find(".module-title-content .order-title");

var current_name_arr = module_title.text().split(": ");

current_name_arr.pop();
current_name_arr.push("<%= @module_part.title %>");
module_title.text(current_name_arr.join(": "));

$("#design_course_page #edit_module_modal").removeClass("is-active");

// show snackbar message
var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text('<%= "Module #{@module_index} has been successfully updated" %>');
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout(
  function(){
    $(snackbar).removeClass("show");
  }, 4000);