  <table id="competitions_table" class="table w-100">
    <thead>
      <tr>
        <th>
          <input type="checkbox" class="outline_none mr-2 w-min-content" id="select_note_page_notes">
          <span>Competitions</span>
        </th>
        <th>Deadline</th>
        <th class="has-text-right">Video Submissions</th>
        <th class="has-text-right">Contestants</th>
        <!-- <th class="has-text-right">Comments</th> -->
      </tr>
    </thead>
    <tbody>
      <% competitions.each do |competition| %>
        <tr data-competition-id="<%= competition.id %>">
              <td class="is-flex">
                <label class="checkbox w-min-content is-align-self-center">
                    <input type="checkbox" class="outline_none w-min-content">
                </label>
                <figure class="column image is-justify-content-center is-flex-direction-column">
                    <% if competition.video.previewable? %>
                        <%= image_tag competition.video.preview(resize_to_limit: [210, 150]),  class:"course_image_thumbnail" %>
                    <% else %>
                        <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail") %>
                    <% end %>
                </figure>
                <div class="column note-column">
                    <p><%= competition.title %></p>
                    <p class="text-secondary is-clipped"><%= competition.subtitle %></p>
                    <div class="note_options is-hidden">
                      <%= link_to edit_dashboard_competition_url(competition.id, subdomain: "dashboard") do %>
                          <i class="fas fa-pencil-alt"></i>
                      <% end %>
                      <%= link_to "#" do %>
                          <i class="far fa-comment-alt"></i>
                      <% end %>
                      <%= link_to video_submissions_dashboard_competition_url(competition.id, subdomain: "dashboard") do %>
                          <i class="fas fa-star"></i>
                      <% end %>
                      <%= link_to dashboard_competition_url(competition.id, subdomain: "dashboard"), method: :delete,
                      class: "", remote: true, data: { confirm: "Are you sure you want to delete this competition?" } do %>
                          <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                </div>
              </td>
              <td><span><%= local_time(competition.deadline_date).strftime("%d %b, %Y") %></span></td>
              <td><p class="has-text-right"><%= competition.video_submissions.count %></p></td>
              <td><p class="has-text-right"><%= competition.contestants.count %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= pagy_bulma_nav(pagy).html_safe %>
