<div class="card h-100">
    <header class="card-header">
      <div class="card-header-title py-0 is-justify-content-space-between">
        <span class="py-4">Create a Competition</span>
        <i class="fas fa-times fa-lg m-close blue-close"></i>
      </div>
    </header>
    <div class="alert pb-2 mx-2 is-hidden">
      <div class="notification is-danger p-2 mt-4 mx-4">
        <span class="delete"></span>
        <span class="text_holder"></span>
      </div>
    </div>
    <div class="card-content columns my-2 mx-0 px-1 py-0" id="upload_competition_modal">
            <%= form_with(scope: :competition, url: upload_video_dashboard_student_competitions_url(subdomain: "dashboard", student_username: current_student.username), 
                local: false, class: "is-flex w-100 p-1", id: "upload_video") do |f| %>
                    <div class="control file file_upload is-boxed w-100 mx-2">
                        <div class="video-delete-bar is-hidden is-justify-content-end opacity-25">
                            <button type="button" class="delete delete-video"></button>
                        </div>
                        <label class="file-label w-100 h-100">
                            <%= f.file_field :video, direct_upload: true, class:"file-input optional", 
                                id: "new_competition_video_input", type: "file", accept:"video/*" %>
                                <span class="border-radius-none file-cta h-100 is-flex is-justify-content-center">
                                <figure class="image w-100 is-flex h-25vh border is-align-items-center is-justify-content-center position-relative">
                                    <%= image_tag(image_path("AssignmentVideo.png"), class: "h-50", id: "blank_image_holder") %>
                                </figure>
                                <span class="file-label is-size-4">
                                    Upload a video
                                </span>
                                <video controls class="video-player is-hidden">Your browser does not support the video tag.</video>
                                <div class="pt-4 below-video-info w-100">
                                    <span class="video-title is-size-6"></span>
                                </div>
                                </span>
                                <progress class="progress border-radius-none is-success is-small is-hidden" value="0" max="100"></progress>
                        </label>
                    </div>
            <% end %>
            <%= form_with(scope: :competition, url: dashboard_student_competitions_url(subdomain: "dashboard", student_username: current_student.username), 
                local: true, class: "is-flex is-hidden w-100 pt-2", id: "upload_competition_form") do |f| %>
                <div class="column is-half">
                    <div class="field">
                        <div class="control file file_upload input is-boxed h-100">
                            <video src="#" controls class="video-player-two">
                                Your competition does not support the video tag.
                            </video> 
                        </div>
                    </div>
                    <%= f.hidden_field :video_key %>
                    <div class="field">
                          <%= f.label :title, class:"label" %>
                          <div class="control">
                             <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                          </div>
                          <p class="help is-danger"></p>
                    </div>
                    <div class="field">
                        <%= f.label :start_date, class:"label" %>
                        <div class="control">
                            <%= f.date_field :start_date, class:"input", data: { missing_error: "Please enter a valid date" } %>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <!--
                    <div class="field">
                        <%= f.label :prize_money, class:"label" %>
                        <div class="control has-icons-left">
                            <%= f.number_field :prize_money, class:"input", readonly: true,
                                value: 0, data: { missing_error: "Please enter a valid prize amount" } %>
                            <span class="icon is-small is-left">
                                 <i class="fas fa-dollar-sign"></i>
                            </span>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    -->
                </div>
                <div class="column is-half">
                      <div class="field">
                            <%= f.label :deadline_date, class:"label" %>
                            <div class="control">
                                <%= f.date_field :deadline_date, class:"input", data: { missing_error: "Please enter a valid date" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                            <%= f.label :results_date, class:"label" %>
                            <div class="control">
                                <%= f.date_field :results_date, class:"input", data: { missing_error: "Please enter a valid date" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <!--
                      <div class="field">
                            <%= f.label :deadline_time, class:"label" %>
                            <div class="control">
                                <%= f.time_field :deadline_time, class:"input", data: { missing_error: "Please enter a valid time" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div> -->
                      <div class="field subtitle">
                            <%= f.label :subtitle, class: "label pr-0" %>
                            <div class="control">
                                <%= f.text_area :subtitle, class: "textarea", data: { missing_error: "Please enter a valid subtitle" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                </div>
            <% end %>
    </div>
    <footer class="card-footer is-justify-content-space-between is-align-items-center">
      <div id="upload_modal_progress" class="mx-5 is-align-items-center is-flex is-invisible">
        <p id="upload_updates" class="w-100"></p>
        <progress class="mx-4 mb-0 progress is-primary" value="0" max="100"></progress>
        <div class="css-loader is-hidden mx-4"></div>
      </div>
      <button id="new_competition_upload_button" class="w-min-content button is-link mx-4 my-2" data-disable-with="Upload">
        Upload Video
      </button>
    </footer>
</div>
