  <table id="video_submissions_table" class="table w-100">
    <thead>
      <tr>
        <th>
          <input type="checkbox" class="outline_none mr-2 w-min-content" id="select_note_page_notes">
          <span>Video Submissions</span>
        </th>
        <th>Rate</th>
        <th class="has-text-right">Comments</th>
        <th class="has-text-right">Upvotes</th>
        <!-- <th class="has-text-right">Comments</th> -->
      </tr>
    </thead>
    <tbody>
      <% video_submissions.each do |submission| %>
        <tr data-submission-id="<%= submission.id %>">
              <td class="is-flex">
                <label class="checkbox w-min-content is-align-self-center">
                    <input type="checkbox" class="outline_none w-min-content">
                </label>
                <figure class="column image is-justify-content-center is-flex-direction-column">
                    <% if submission.video.previewable? %>
                        <%= image_tag submission.video.preview(resize_to_limit: [210, 150]),  class:"course_image_thumbnail" %>
                    <% else %>
                        <%= image_tag(image_path("image_placeholder.png"), class:"course_image_thumbnail") %>
                    <% end %>
                </figure>
                <div class="column note-column">
                    <p><%= submission.title %></p>
                    <p class="text-secondary is-clipped"><%= submission.description %></p>
                </div>
              </td>
              <td>
                <div class="rating-bars"> 
                    <% [*1..10].each do |number| %>
                        <option value="<%= number %>" class="<%= 'selected' if (submission.rating >= number) %>"></option>
                    <% end %>
                    <div class="rating-holder"><%= submission.rating.round %></div>
                </div>
                <%= form_with(model: submission, url: rate_dashboard_video_submission_url(subdomain: "dashboard", id: submission.id),
                              local: false, class: "submit-rating pt-3") do |f| %>
                    <%= f.hidden_field :rating %>
                    <%= f.hidden_field :ranking %>
                    <div class="is-flex w-100 is-justify-content-space-between is-align-items-center w-100">
                        <div class="dropdown is-left">
                            <div class="dropdown-trigger">
                                <i class="fas fa-chevron-down p-2"></i>
                                <span class="pl-1 award-type">
                                  <%= submission.ranking.present? ? "#{submission.ranking.ordinalize} place" : "No award" %>
                                </span>
                            </div>
                            <div class="dropdown-menu rating-dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <% [1,2,3].each do |ranking| %>
                                        <div data-place="<%= ranking %>" class="dropdown-item">
                                            <span><%= ranking.ordinalize %> place</span>
                                        </div>
                                    <% end %>
                                    <div data-place="0" class="dropdown-item">
                                        <span>No award</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%= f.submit "Rate", class: "button is-link w-auto" %>
                    </div>
                <% end %>
              </td>
              <td><p class="has-text-right"><%= submission.comments_count %></p></td>
              <td><p class="has-text-right"><%= submission.upvotes_count %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= pagy_bulma_nav(pagy).html_safe %>
