<div id="edit-dashboard-body" class="flex-grow w-100">
  <div class="dashboard-panel">
    <section class="section p-0" id="edit_competition_section">
      <div class="container is-flex is-justify-content-space-between px-4 py-2 is-align-items-center is-sticky border-bottom-gb">
        <h1 class="title is-4 mb-0">Competition details</h1>
        <div>
          <button class="button is-link w-min-content mr-2" id="update_competition_details">Update</button>
          <div class="dropdown is-right">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="competition-dropdown-menu">
                <span class="icon is-small">
                  <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="course-dropdown-menu" role="menu">
              <div class="dropdown-content">
                  <% if @competition_video.attached? %>
                    <%= link_to rails_blob_path(@competition_video, disposition: "attachment"), class:"dropdown-item" do %>
                        <span class="icon">
                        <i class="fas fa-file-download"></i>
                        </span>
                        <span>Download</span>
                    <% end %>
                  <% end %>
                  <%= link_to dashboard_competition_url(@competition.id, subdomain: "dashboard"), method: :delete,
                      class: "dropdown-item", remote: true, data: { confirm: "Are you sure you want to delete this competition?" } do %>
                      <span class="icon">
                        <i class="fas fa-trash-alt"></i>
                      </span>
                      <span>Delete</span>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= form_with(model: @competition, url: "/competitions/#{@competition.id}", method: :patch, local: false,
                    class:"container py-4 px-5", id: "edit_competition_form") do |f| %>
          <div class="columns px-3">
              <div class="column is-three-fifths pr-5">
                      <div class="field">
                            <%= f.label :title, class:"label" %>
                            <div class="control">
                              <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                            <%= f.label :subtitle, class:"label" %>
                            <div class="control">
                              <%= f.text_field :subtitle, class:"input optional" %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
                      <div class="field">
                            <%= f.label :requirements, class:"label" %>
                            <div class="control">
                              <%= f.rich_text_area :requirements, class:"textarea optional" %>
                            </div>
                            <p class="help is-danger"></p>
                      </div>
              </div>
              <div class="column is-two-fifths pr-5">
                <div class="container">
                  <figure class="is-flex image pdf_loading pdf_border is-justify-content-center is-flex-direction-column">
                        <% if @competition_video.attached? %>
                            <%= video_tag rails_blob_path(@competition_video), controls: true, class: "video-player" %>
                        <% else %>
                            <%= image_tag(image_path("image_placeholder.png"), class: "course_image_thumbnail") %>
                        <% end %>
                  </figure>
                  <div class="bg-color-whitesmoke">
                      <div class="container pl-3 pt-3 pb-2">
                          <p>Competition link:</p>
                          <p><%= link_to competition_url(subdomain: "", id: @competition.id).to_s,
                                         competition_url(subdomain: "", id: @competition.id) %></p>
                      </div>
                      <div class="container pl-3 pt-3 pb-2">
                          <p>Filename:</p>
                          <p><%= @competition_video&.filename&.to_s || "image_placeholder.png" %></p>
                      </div>
                  </div>
                  <div class="field popup_field px-4 py-2 mt-4 mb-0">
                    <div class="radio_box">
                        <div class="secondary-label mb-0">Start date</div>
                        <div class="control is-flex is-justify-content-space-between">
                            <span class="is-size-5 display_value">
                                <%= "#{local_time(@competition.start_date)&.strftime('%d %b, %Y')}" %>                            
                            </span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="box hidden_box_form deadline p-2 is-hidden" data-field-type="deadline" 
                        data-initial-date=<%= local_time(@competition.start_date).strftime("%Y-%m-%d") %>>
                        <div class="is-flex is-align-items-center">
                          <%= f.label :start_date, class:"label mb-0 pb-0" %>
                          <i class="fas fa-times p-2 blue-close"></i>
                        </div>
                        <div class="control ml-5 pt-2 mr-2 pb-4">
                            <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                                <%= f.label :start_date, "Date", class: "mb-0 label w-auto has-text-weight-normal" %>
                                <%= f.date_field :start_date, value: local_time(@competition.start_date).strftime("%Y-%m-%d") %>
                            </div>
                        </div>
                        <div class="is-flex is-justify-content-flex-end mr-2">
                          <button class="w-min-content button is-link update_box_form" type="button">Update</button>
                        </div>
                    </div>
                  </div>
                  <div class="field popup_field px-4 py-2 mt-4 mb-0">
                    <div class="radio_box">
                        <div class="secondary-label mb-0">Deadline</div>
                        <div class="control is-flex is-justify-content-space-between">
                            <span class="is-size-5 display_value">
                                <%= "#{local_time(@competition.deadline_date).strftime('%d %b, %Y')}" %>
                            </span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="box hidden_box_form deadline p-2 is-hidden" data-field-type="deadline" 
                        data-initial-date=<%= local_time(@competition.deadline_date).strftime("%Y-%m-%d") %>>
                        <div class="is-flex is-align-items-center">
                          <%= f.label :deadline, class:"label mb-0 pb-0" %>
                          <i class="fas fa-times p-2 blue-close"></i>
                        </div>
                        <div class="control ml-5 pt-2 mr-2 pb-4">
                            <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                                <%= f.label :deadline_date, "Date", class: "mb-0 label w-auto has-text-weight-normal" %>
                                <%= f.date_field :deadline_date, value: local_time(@competition.deadline_date).strftime("%Y-%m-%d") %>
                            </div>
                            <div class="is-flex is-justify-content-center is-align-items-center">
                                <%= f.label :deadline_time, "Time", class: "mb-0 label w-auto has-text-weight-normal" %>
                                <%= f.time_field :deadline_time, value: local_time(@competition.deadline_date).strftime("%H:%M") %>
                            </div>
                        </div>
                        <div class="is-flex is-justify-content-flex-end mr-2">
                          <button class="w-min-content button is-link update_box_form" type="button">Update</button>
                        </div>
                    </div>
                  </div>
                  <div class="field popup_field px-4 py-2 mt-4 mb-0">
                    <div class="radio_box">
                        <div class="secondary-label mb-0">Results date</div>
                        <div class="control is-flex is-justify-content-space-between">
                            <span class="is-size-5 display_value">
                                <%= "#{local_time(@competition.results_date)&.strftime('%d %b, %Y')}" %>                            
                            </span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="box hidden_box_form deadline p-2 is-hidden" data-field-type="deadline" 
                        data-initial-date=<%= local_time(@competition.results_date).strftime("%Y-%m-%d") %>>
                        <div class="is-flex is-align-items-center">
                          <%= f.label :results_date, class:"label mb-0 pb-0" %>
                          <i class="fas fa-times p-2 blue-close"></i>
                        </div>
                        <div class="control ml-5 pt-2 mr-2 pb-4">
                            <div class="is-flex is-justify-content-center is-align-items-center pb-2">
                                <%= f.label :results_date, "Date", class: "mb-0 label w-auto has-text-weight-normal" %>
                                <%= f.date_field :results_date, value: local_time(@competition.results_date).strftime("%Y-%m-%d") %>
                            </div>
                        </div>
                        <div class="is-flex is-justify-content-flex-end mr-2">
                          <button class="w-min-content button is-link update_box_form" type="button">Update</button>
                        </div>
                    </div>
                  </div>
                  <div class="field popup_field mt-4 mb-0">
                    <div class="radio_box px-4 py-2">
                        <div class="secondary-label mb-0">Prize money</div>
                        <div class="control is-flex is-justify-content-space-between">
                            <span class="is-size-5 display_value"><%= (@competition.prize_money == 0) ? "None" : "$#{@competition.prize_money}" %></span>
                            <i class="fas fa-angle-down"></i>
                        </div>
                        <p class="help is-danger"></p>
                    </div>
                    <div class="box hidden_box_form prize_money p-2 is-hidden" data-field-type="is_premium" 
                         data-initial-value=<%= @competition.prize_money %>>
                          <div class="is-flex is-align-items-center">
                            <%= f.label :prize_money, class:"label mb-0 pb-0" %>
                            <i class="fas fa-times p-2 blue-close"></i>
                          </div>
                          <div class="is-flex is-align-items-center ml-5 py-2 mr-2 pb-4">
                              <%= f.label :prize_money, "Amount", class: "label mb-0 w-auto has-text-weight-normal" %>
                              <div class="control has-icons-left is-flex is-justify-content-center">
                                  <%= f.number_field :prize_money, class: "input" %>
                                  <span class="icon is-small is-left">
                                    <i class="fas fa-dollar-sign"></i>
                                  </span>
                              </div>
                          </div>
                          <div class="is-flex is-justify-content-flex-end mr-2">
                            <button class="w-min-content button is-link update_box_form" type="button">Update</button>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      <% end %>
    </section>
  </div>
</div>
