<!-- <div class="columns m-0 is-hidden">
  <div class="column my-2">
    <ul class="progress-bar m-0 no-bullet">
      <li class="m-0 is-active" data-step="1"><span>1</span></li>
      <li class="m-0" data-step="2"><span>2</span></li>
    </ul>
  </div>
</div> -->

<%= form_with(scope: :competition, url: "/competitions",
    multipart: true, local: false, class: "card h-100") do |f| %>
    <header class="card-header">
      <div class="card-header-title py-0 is-justify-content-space-between">
        <span class="py-4">Create a Competition</span>
        <i class="fas fa-times fa-lg m-close blue-close"></i>
      </div>
    </header>
    <div class="alert pb-2 mx-2 is-hidden">
      <div class="notification is-danger p-2 mt-4 mx-4">
        <span class="delete"></span>
        <span class="text_holder"></span>
      </div>
    </div>
    <div class="card-content columns my-0 py-0">
            <div id="upload_modal_form" class='is-flex w-100 pt-2'>
                <div class="is-half column">
                    <div class="field">
                      <div class="control file file_upload input is-boxed h-100">
                        <figure class="image w-100 is-flex h-25vh border is-align-items-center is-justify-content-center position-relative">
                            <%= image_tag(image_path("course-image-icon.png"), class: "opacity-25 h-50", id: "blank_image_holder") %>
                        </figure>
                        <figure class="image w-100 is-flex h-25vh border is-align-items-center is-justify-content-center position-relative is-hidden">
                          <%= image_tag(image_path("course-image-icon.png"), id: "image_holder") %>
                              <div id="image_delete_bar" class="is-flex is-justify-content-end opacity-25">
                                <button type="button" class="delete delete-image"></button>
                              </div>
                        </figure>
                        <a class="doc-title is-hidden mb-5"></a>
                        <label class="file-label mb-3 is-align-items-center">
                          <%= f.file_field :image, direct_upload: true, class: "file-input", data: { missing_error: "Please upload a picture" } %>
                          <span class="w-min-content file-label button is-link">
                            Select image
                          </span>
                        </label>
                        <!-- <p class="is-size-7">Maximum upload file size: 5MB</p> -->
                        <!-- <p class="is-size-7">Upload file types allowed: [.jpg, .png]</p> -->
                        <p class="help is-danger"></p>
                      </div>
                    </div>
                    <div class="field">
                          <%= f.label :title, class:"label" %>
                          <div class="control">
                             <%= f.text_field :title, class:"input", data: { missing_error: "Please enter a valid title" } %>
                          </div>
                          <p class="help is-danger"></p>
                    </div>
                    <div class="field">
                          <%= f.label :subject, class: "label" %>
                          <div class="control has-icons-left">
                            <%= f.text_field :subject, class: "input", list: "subjects", data: { missing_error: "Please select a valid subject" } %>
                            <datalist id="subjects">
                              <% array_of_subjects.each do |subject| %>
                                <option value="<%= subject.gsub("_", " ") %>" data-subject="<%= subject %>">
                              <% end %>
                            </datalist>
                            <span class="icon is-small is-left">
                              <i class="fas fa-book-open"></i>
                            </span>
                          </div>
                          <p class="help is-danger"></p>
                      </div>
                </div>
                <div class="column is-half">
                    <div class="is-horizontal field">
                          <div class="field-body columns">
                              <div class="field column">
                                 <%= f.label :difficulty_level, class: "label" %>
                                 <div class="control columns is-justify-content-center m-0">
                                  <div class="column radio-align">
                                     <%= f.radio_button :difficulty_level, "Beginner", class: "radio", checked: true %>
                                     <%= f.label :course_difficulty_level_easy, "Beginner", class:"radio" %>
                                   </div>
                                   <div class="column radio-align">
                                     <%= f.radio_button :difficulty_level, "Intermediate", class: "radio", checked: true %>
                                     <%= f.label :course_difficulty_level_intermediate, "Intermediate", class:"radio" %>
                                   </div>
                                   <div class="column radio-align">
                                     <%= f.radio_button :difficulty_level, "Hard", class: "radio" %>
                                     <%= f.label :course_difficulty_level_hard, "Hard", class:"radio" %>
                                   </div>
                                 </div>
                                 <p class="help is-danger"></p>
                              </div>
                          </div>
                      </div>
                      <div class="field">
                          <%= f.label :description, class:"label" %>
                         <div class="control">
                           <%= f.text_area :description, class:"textarea", data: { missing_error: "Please enter a valid description" } %>
                         </div>
                         <p class="help is-danger"></p>
                      </div>
                      <!--
                      <div class="field">
                          <div class="control">
                              <%= f.hidden_field :student_id, value: current_student.id %>
                          </div>
                      </div> -->
                      <div class="field">
                          <div class="control">
                              <%= f.hidden_field :file_name, class: "optional" %>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <%= f.hidden_field :file_size, class: "optional" %>
                          </div>
                      </div>
                </div>
            </div>  
    </div>
    <footer class="card-footer is-justify-content-space-between is-align-items-center">
      <div id="upload_modal_progress" class="mx-5 is-align-items-center is-flex is-invisible">
        <p id="upload_updates" class="w-100"></p>
        <progress class="mx-4 mb-0 progress is-primary" value="0" max="100"></progress>
        <div class="css-loader is-hidden mx-4"></div>
      </div>
      <%= f.submit "Upload", id:"notes_upload_button", class: "w-min-content button is-link mx-5 my-2" %>
    </footer>
<% end %>
