// display a popup indicating update success.
var snackbar = document.createElement("div");
$(snackbar).attr("id", "snackbar");
$(snackbar).text("<%= @message %>");
$("body").append($(snackbar));
$(snackbar).addClass("show");
setTimeout( function(){ 
    $(snackbar).removeClass("show"); 
}, 4000);