<div id="index-dashboard-body" class="flex-grow w-100 is-flex is-flex-direction-column">
    <div class="dashboard-panel is-flex-grow-1">
      <section class="section pt-4 pb-2">
          <div class="container is-flex is-justify-content-space-between">
            <h1 class="title is-4 mb-0">Video Submissions</h1>
            <div class="left-side is-flex h-min-content">
                <div class="field has-addons mb-0">
                  <div class="control">
                    <input class="input is-sl-small" type="text" placeholder="Search uploads, notes...">
                  </div>
                  <div class="control">
                    <a class="button is-info is-sl-small">
                      <i class="fas fa-search"></i>
                    </a>
                  </div>
                </div>
                <%= link_to announce_winners_dashboard_competition_url(id: @competition.id), method: :patch,
                    remote: true, class: "pl-2", data: { 
                          confirm: "Are you sure you want to confirm who will receive the prizes?",
                    }  do %>
                    <button class="button is-link" id="confirm_competition_winners_button">
                        Confirm winners
                    </button>
                <% end %>
            </div>
          </div>
      </section>
    <!--  <section class="section py-2">
        <div class="container">
          <div class="tabs">
            <ul>
              <li class="is-active"><a>Purchases</a></li>
              <li><a>Bookmarked</a></li>
            </ul>
          </div>
        </div>
      </section> -->
      <section class="section py-0">
        <div class="container">
              <div id="video_submissions_holder" class="is-flex is-align-items-center" data-selected-counter="0" data-total-uploads=<%= @competition_submissions.count.to_s %>>
                  <span class="number_results"><%= pluralize(@total_submissions.count, "video submission") %> uploaded</span>
                  <span class="px-2 is-hidden" id="select_all_notes_link">
                    (<span class="has-text-link cursor_pointer">
                      Select All
                    </span>)
                  </span>
                  <span class="is-hidden is-flex" id="results_selected_actions">
                      <span class="mx-2">&#124;</span>
                      <button type="button" class="button is-small">Download</button>
                      <button type="button" class="button is-small">Delete</button>
                  </span>
              </div>    
        </div>
      </section>
      <section class="section py-2" id="video_submissions_table_section">
        <%= render "video_submissions_table", video_submissions: @competition_submissions, pagy: @pagy  %>
      </section>
    </div>
</div>
