<div class="column is-flex-grow-0 pt-5">
    <aside class="menu" id="course_menu">
        <ul class="menu-list">
            <li><%= link_to "Basic information", courses_in_progress_my_notebook_url(subdomain: false), 
                    class: ("is-active" if @action == "Courses_in_progress") %></li>
            <li><%= link_to "Password & email", courses_completed_my_notebook_url(subdomain: false), 
                    class: ("is-active" if @action == "Courses_completed") %></li>
            <li><%= link_to "Saved for later", saved_for_later_my_notebook_url(subdomain: false), 
                        class: ("is-active" if @action == "Saved_for_later") %></li>
        </ul>
        <hr>
    </aside>
</div>