<div id="add_item_cart_modal" class="modal">
  <div class="modal-background m-close"></div>
  <div class="modal-content" id="cart_modal_body">

  </div>
  <button class="modal-close m-close is-large" aria-label="close"></button>
</div>