<div class="column is-flex-grow-0 pt-5 is-one-fifth">
    <aside class="menu" id="competition_menu">
        <ul class="menu-list">
            <li><%= link_to "Current", competitions_current_my_notebook_url(subdomain: false), 
                    class: ("is-active" if @action == "Competitions_current") %></li>
            <li><%= link_to "Past", competitions_past_my_notebook_url(subdomain: false), 
                    class: ("is-active" if @action == "Competitions_past") %></li>
            <li><%= link_to "Saved for later", competitions_saved_my_notebook_url(subdomain: false), 
                    class: ("is-active" if @action == "Competitions_saved") %></li>
        </ul>
        <hr class="course-divider ml-2 my-2">
    </aside>
</div>