<div id="course_tab_bar" class="px-5">
    <div class="tabs px-2">
        <ul>
            <li>
                <a>All</a>
            </li>
            <li>
                <a>Sound production</a>
            </li>
            <li>
                <a>Video production</a>
            </li>
            <li>
                <a>Video editing</a>
            </li>
        </ul>
    </div>
</div>