<nav class="navbar dark-bg is-sticky-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ml-5">
    <%= link_to content_dashboard_student_courses_url(current_student.username, subdomain: "dashboard"), class: "navbar-item p-0" do %>
       <%= image_tag(image_path("notebank_logo.png")) %>
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="topNavbar" class="navbar-menu">
    <div class="navbar-start">
    </div>
    <div class="navbar-middle">
    </div>
    <!-- Anyone one who accesses dashboard will definitely be logged_in else redirected to login_page. -->
    <div class="navbar-end mr-5">
          <div class="navbar-item is-hidden">
            <button id="dashboard_upload_modal_button" class="button is-small">
              <figure class="image is-24x24 mr-2">
                <%= image_tag(image_path("cloud-upload-icon.png")) %>
              </figure>
              <span>UPLOAD</span>
            </button>
          </div>
          <div class="navbar-item">
            <button id="upload_competition_button" class="button is-small">
              <figure class="image is-24x24 mr-2">
                <%= image_tag(image_path("cloud-upload-icon.png")) %>
              </figure>
              <span class="is-size-6">Host a competition</span>
            </button>
          </div>
          <div class="navbar-item has-dropdown mx-2 mt-2">
            <% if current_student.image.attached? %>
              <%= image_tag current_student.image, id:"navbar_avatar", class:"border-radius-circle mh-2and25" %>
            <% else %>
              <i class="fas fa-user-circle fa-2x mx-2"></i>
            <% end %>
            <div id="topNavbarDropdown" class="navbar-dropdown is-right min-12rem">
                <div class="navbar-item is-flex px-1 py-0">
                    <% if current_student.image.attached? %>
                          <%= image_tag current_student.image, class:"border-radius-circle mx-2 max-height-2point5rem" %>
                    <% else %>
                          <i class="fas fa-user-circle fa-3x mx-2"></i>
                    <% end %>
                    <div class="subtitle username_holder has-text-weight-semibold" data-id-token="<%= current_student.id_token %>">
                      <%= current_student.username %>
                    </div>
                </div>
                <hr class="navbar-divider">
                <%= link_to courses_in_progress_my_notebook_url(subdomain: false), class: "navbar-item" do %>
                  <i class="fas fa-book fa-lg mr-3"></i>
                    <div class="">
                      My Courses
                    </div>
                <% end %>
                <%= link_to content_dashboard_student_courses_url(current_student.username, subdomain: 'dashboard'), class: "navbar-item" do %>
                  <%= image_tag("bank.png", class: "img_size mr-3") %>
                  <div class="">
                      Notebank
                  </div>
                <% end %>
                <hr class="navbar-divider">
                <div class="navbar-item">
                  <%= link_to "Log out", dashboard_logout_url(subdomain: "dashboard"), class: "button green-button is-fullwidth",
                      method: 'delete', id: "dashboard-logout-button" %>
                </div>
            </div>
          </div>
    </div>
  </div>
</nav>
