<div class="modal upload_modal general <%= 'is-active' if @show_new_modal %>">
    <div class="modal_background_light"></div>
    <div class="modal-content" id="general_modal_body">
      <%= render 'dashboard/private_courses/new' %>
    </div>
</div>
