<nav class="is-sticky-top border-bottom-gb" role="navigation" aria-label="main navigation">
        <div id="topLearningNavbar">
            <div class="navbar-start">
                <% if @prev_module_index.present? %>
                    <%= link_to learning_link(@course.id_token, @prev_module_first_lesson),
                        class: "module-link h-100 is-flex p-2 is-flex-direction-column is-align-items-flex-start"  do %>
                        <div class="is-flex is-align-items-center is-flex-direction-column pl-5">
                            <span class="color-dark-grey has-text-left w-100">
                                <%= "MODULE #{@prev_module_index + 1}" %>
                            </span>
                            <span class="has-text-left module-link-title">
                                <%= @index_list_of_course[@prev_module_index][1] %>
                            </span>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="navbar-middle">
                <div class="is-flex is-flex-direction-column h-100 is-align-items-center">
                    <div class="is-flex  h-100 is-align-items-center">
                        <span class="is-size-6"><%= "Module #{@course_module_index + 1}: #{@module.title}" %></span>
                    </div>
                </div>
                <div id="module-progress" class="progress-container">
                    <progress class="progress" value='100' style='width:<%= "%.3f" % @module_progress %>%;' max="100"></progress>
                </div>
            </div>
            <div class="navbar-end ml-0">
                <% if @next_module_index.present? %>
                    <%= link_to learning_link(@course.id_token, @next_module_first_lesson),
                        class: "module-link h-100 is-flex p-2 is-flex-direction-column is-align-items-flex-end" do %>
                        <div class="is-flex is-align-items-center is-flex-direction-column pr-5">
                            <span class="color-dark-grey has-text-right w-100">
                                <%= "MODULE #{@next_module_index + 1}" %>
                            </span>
                            <span class="has-text-right module-link-title"><%= @index_list_of_course[@next_module_index][1] %></span>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
  </nav>