 <div class="tabs is-size-5 mb-0 no-overflow">
    <ul>
        <li class='<%= "is-active" if @my_notebook_tab == "Competition" %>'>
            <%= link_to "Competition", competitions_current_my_notebook_url(subdomain: false) %>
        </li>
        <li class='is-hidden <%= "is-active" if @my_notebook_tab == "Course" %>'>
            <%= link_to "Course", courses_in_progress_my_notebook_url(subdomain: false) %>
        </li>
        <!-- <li class='<%= "is-active" if @my_notebook_tab == "Messages" %>'>
            <%= link_to "Messages", messages_my_notebook_url(subdomain: false) %>
        </li> -->
        <li class='<%= "is-active" if @my_notebook_tab == "Account" %>'>
            <%= link_to "Account", basic_info_my_notebook_url(subdomain: false) %>
        </li>
        <li class='<%= "is-active" if @my_notebook_tab == "Payment_details" %>'>
            <%= link_to "Payment details", payment_details_my_notebook_url(subdomain: false) %>
        </li>
    </ul>
</div>