<nav class="navbar is-sticky-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand ml-5">
    <%= link_to root_url, class: "navbar-item p-2" do %>
      <%= image_tag("notebank_logo.png", size: "100x30") %>
    <% end %>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="topNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="topNavbar" class="navbar-menu">
    <div class="navbar-start">
      <!--
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Courses
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            Video production
          </a>
          <a class="navbar-item">
            Video Editing
          </a>
          <a class="navbar-item">
            Sound Production
          </a>
        </div>
      </div> -->
    </div>

    <div class="navbar-middle">
    </div>

    <div class="navbar-end mr-5">
          <!--
          <div class=<% "navbar-item px-0 #{'border-right-gainsboro' if !logged_in_as_student?}" %>>
            <% link_to root_url(subdomain: false), class: "is-sea-blue button px-3", id: "upgrade-button" do %>
                <% show_svg("upgrade_arrow.svg") %>
                <span class="pl-2">Premium</span>
            <% end %>
          </div> -->
      <% if !logged_in_as_student? # aka guest %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Log In", login_path, class: "button is-light modal-button", data: { 'tab-link': '0' }, remote: true %>
              <%= link_to "Sign Up", new_student_path, class: "button is-primary modal-button", data: { 'tab-link': '1' }, remote: true %>
            </div>
          </div>
      <% else #actually logged_in_as_student %>
          <div class="navbar-item px-1">
            <div class="dropdown is-right">
                <div class="dropdown-trigger is-sea-blue button px-3 notification" id="notification-button">
                    <%= image_tag image_url("bell.png"), class:"my-1 max-height-2point5rem" %>
                    <% if (current_student.unread_notifications_count != 0) %>
                        <span class="badge"><%= current_student.unread_notifications_count %></span>
                    <% end %>
                </div>
                <div class="dropdown-menu notifications-dropdown" role="menu">
                    <div class="dropdown-content">
                        <% if (current_student.notifications_count != 0) %>
                              <% current_student.notifications.order(created_at: :desc).limit(10).each do |notification| %>
                                  <!-- Three options: hmm... either redirect to comp page, submission page or announce winners  -->
                                  <%= link_to read_notification_url(subdomain: false, id: notification.id), method: :patch, local: true, class:"dropdown-item px-4" do %>
                                      <p class="<%= 'has-text-weight-bold' unless notification.read %>"><%= notification.message.split(":", 2)[0] %><%= ':' unless notification.win_alert %></p>
                                      <p><%= notification.message.split(":", 2)[1] %></p>
                                      <p class="text-secondary mt-2 time-holder">
                                        <% if !(notification.read) %>
                                            <span class="blue-dot pr-2">&bull;</span>
                                        <% end %>
                                        <span><%= time_ago_in_words(notification.created_at).gsub(/about? /, "") %> ago</span>
                                      </p>
                                  <% end %>
                              <% end %>
                        <% else %>
                              <div class="dropdown-item is-text-align-center">
                                  <span>No notifications</span>
                              </div>
                        <% end %>
                    </div>
                </div>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-align-items-center">
                <% if current_student.image.attached? %>
                      <%= image_tag current_student.image, class:"border-radius-circle mx-2 my-1 max-height-2point5rem" %>
                <% else %>
                      <i class="fas fa-user-circle fa-2x mx-2"></i>
                <% end %>
                <div id="topNavbarDropdown" class="navbar-dropdown is-right">
                    <div class="navbar-item is-flex px-1 py-0">
                        <% if current_student.image.attached? %>
                              <%= image_tag current_student.image, class:"border-radius-circle mx-2 my-1 max-height-2point5rem" %>
                        <% else %>
                              <i class="fas fa-user-circle fa-3x mx-2"></i>
                        <% end %>
                        <div class="subtitle username_holder has-text-weight-semibold" data-id-token="<%= current_student.id_token %>">
                          <%= current_student.username %>
                        </div>
                    </div>
                    <hr class="navbar-divider">
                    <%= link_to competitions_current_my_notebook_url, class: "navbar-item" do %>
                      <i class="fas fa-book fa-lg mr-3"></i>
                        <div class="">
                          My Competitions
                        </div>
                    <% end %>
                    <%= link_to dashboard_student_competitions_url(current_student.username, subdomain: 'dashboard'), class: "navbar-item" do %>
                      <%= image_tag("dashboard.png", class: "img_size mr-3") %>
                      <div class="">
                        Instructor Dashboard
                      </div>
                    <% end %>
                    <%= link_to basic_info_my_notebook_url, class: "navbar-item" do %>
                      <%= image_tag("settings.png", class: "img_size mr-3") %>
                      <div class="">
                        Account
                      </div>
                    <% end %>
                    <hr class="navbar-divider">
                    <div class="navbar-item">
                      <%= link_to "Log out", logout_url(subdomain: false), class: "button green-button is-fullwidth",
                          method: 'delete', id: "logout-button" %>
                    </div>
                </div>
          </div>
      <% end %>
    </div>
  </div>
</nav>
