<div class="modal <%= 'is-active' if @show_new_modal %>">
    <div class="modal_background_light"></div>
    <div class="modal-content" id="new_competition_modal_body">
      <%= render 'dashboard/private_competitions/new' %>
    </div>
</div>
