
<% if @flash_success %>
    <div id="notification_banner" class="is-success notification is-light mb-0 py-3">
      <button id="delete_banner" class="delete"></button>
      <span id="banner_text"><%= @flash_success %></span>
    </div>
<% else %>
    <% if @flash_error %>
        <div id="notification_banner" class="is-danger notification is-light mb-0 py-3">
          <button id="delete_banner" class="delete"></button>
          <span id="banner_text"><%= @flash_error %></span>
        </div>
    <% end %>
<% end %>
