<section class="modal" id="pdf_previewer">
  <nav class="panel m-0 border-radius-none vw-100 is-flex is-justify-content-space-between is-align-items-center">
    <div class="is-flex w-20 ml-3">
        <div class="is-align-items-center is-flex mr-2">
            <input class="input page_num" type="number" value="1">
            <span class="px-1">/</span>
            <span class="page_count"></span>
        </div>
        <div class="is-flex">
            <span class="prev button pdf_controls_button">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="next button pdf_controls_button">
                <i class="fas fa-arrow-right"></i>
            </span>
        </div>
    </div>
    <p class="panel-heading py-1 px-2 pdf_title_holder is-flex-grow-1 is-flex is-justify-content-center">
    </p>
    <div class="w-20 is-flex is-justify-content-end is-align-items-center">
        <div class="mr-2 is-flex zoom_controls" data-zoom-level="1.5">
            <span class="zoomin button pdf_controls_button">
                <i class="fas fa-search-plus"></i>
            </span>
            <span class="zoomout button pdf_controls_button">
                <i class="fas fa-search-minus"></i>
            </span>
        </div>
        <i class="fas fa-times m-close blue-close px-2"></i>
    </div>
  </nav>
  <div class="vw-100 is-flex is-justify-content-center bg-color-transparent overflow-y-auto" id="preview_canvas_scroll">
    <div class="is-flex is-flex-direction-column" id="preview_canvas_holder">
    </div>
  </div>
</section>
