<div id="sign_in_or_register_modal" class="modal">
  <div class="modal-background m-close"></div>
  <div class="modal-content">
    <div id="sign_in_or_register_box" class="box form-box">
      <div class="container is-flex is-justify-content-center">
        <%= image_tag image_path("bootstrap_logo.jpg"), size: "36x36", class:"mr-3" %>
        <div class="title fw-500">Join notebank</div>
      </div>
      <div class="tabs my-3">
        <ul>
          <li class="is-active tab" data-linked-body="login-modal"><a>Log In</a></li>
          <li class="tab" data-linked-body="signup-modal"><a>Sign Up</a></li>
        </ul>
      </div>
      <%= form_for(:session, url: login_path, remote: true,
          html: {id: 'login-modal', class: 'container tabs-body'}) do |f| %>
        <div class="social-buttons is-flex mt-4 mb-2">
          <button class="button social-button google-button">
            <span class="icon">
              <%= image_tag("google_logo.png", class:"w-75") %>
            </span>
            <span>Log in with google</span>
          </button>
          <button class="button social-button facebook-button">
            <span class="icon">
              <i class="fab fa-facebook-square fa-lg"></i>
            </span>
            <span>Log in with facebook</span>
          </button>
        </div>
        <div class="is-flex is-align-items-center mt-2 mb-0">
          <div class="bottom-border-grey is-flex-grow-1">
          </div>
          <span class="px-2">or</span>
          <div class="bottom-border-grey is-flex-grow-1">
          </div>
        </div>
        <div class="notification py-3 mb-2 mt-1 error-border is-hidden">
        </div>
        <div class="field mt-2 pb-2">
            <%= f.label :username, class: "label" %>
            <div class="control has-icons-left has-icons-right">
              <%= f.text_field :username, class: "input session_username" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
              </span>
            </div>
        </div>
        <div class="field mt-3 pb-2">
          <%= f.label :password, class: "label"%>
          <div class="control has-icons-left has-icons-right">
            <%= f.password_field :password, class: "input session_password" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
            </span>
          </div>
        </div>
        <%= f.submit "Log in", class: "button green-button is-fullwidth mt-4" %>
        <hr class="my-4 thin-grey">
        <div class="mt-2 has-text-centered font-size-14px">
          <%= link_to "Forgot your username or password?", account_recovery_url(subdomain: false) %>
        </div>
      <% end %>
      <%= form_with(url: students_path, method: :post, namespace: "modal", local: false,
                  scope: "student", html: {id:"signup-modal", class: "container tabs-body completed-form"}) do |f| %>
            <div class="notification py-3 mb-2 mt-1 error-border is-hidden"></div>
            <div class="field">
              <%= f.label :username, class: "label" %>
              <div class="control has-icons-left has-icons-right">
                <%= f.text_field :username, class: "input student_username field_invalid" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check is-success-green is-hidden"></i>
                </span>
              </div>
              <p class="help is-danger"></p>
            </div>
            <div class="field">
              <%= f.label :password, class: "label" %>
              <div class="control has-icons-left has-icons-right">
                <%= f.password_field :password, class: "input password field_invalid" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check is-success-green is-hidden"></i>
                </span>
              </div>
              <p class="help is-danger"></p>
            </div>
            <div class="field">
              <%= f.label :password_confirmation, "Confirmation password", class: "label" %>
              <div class="control has-icons-left has-icons-right">
                <%= f.password_field :password_confirmation, class: "input password_confirmation field_invalid" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check is-success-green is-hidden"></i>
                </span>
              </div>
              <p class="help is-danger"></p>
            </div>
            <div class="field">
              <%= f.label :email, class: "label" %>
              <div class="control has-icons-left has-icons-right">
                <%= f.email_field :email, class: "input email field_invalid" %>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fas fa-exclamation-triangle is-danger-red is-hidden"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check is-success-green is-hidden"></i>
                  </span>
              </div>
              <p class="help is-danger"></p>
            </div>
            <%= f.hidden_field :time_zone, value: Time.now.strftime("%:z") %>
            <%= f.submit "Sign Up", class: "button green-button is-fullwidth" %>
      <% end %>
    </div>
  </div>
  <button class="modal-close m-close is-large" aria-label="close"></button>
</div>
