<div id="upload_success_modal" class="modal">
  <div class="modal_background_light"></div>
  <div class="modal-content" id="upload_success_modal_body">
      <!--  <div class="card-content">
          <div class="content" >
          </div>
        </div>
        <footer class="card-footer is-justify-content-end">
          <button class="button is-link card-footer-item is-flex-grow-0 mx-5 my-2">Upload</button>
        </footer> -->
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>
