<nav class="navbar is-sticky-left" role="navigation" aria-label="main navigation">
  <div class="vertbar-brand">
    <%= link_to root_url, class: "navbar-item p-2" do %>
        <%= image_tag("notebank_logo.png", class: "learning_logo") %>
    <% end %>
  </div>

  <div id="vertical-navbar-menu">
      <div class="vertical-holder">
            <%= link_to courses_in_progress_my_notebook_url(subdomain: false), class: "navbar-item" do %>
                <i class="fas fa-book fa-lg"></i>
                <div class="ruby-block">
                    My Courses
                </div>
            <% end %>
            <%= link_to content_dashboard_student_courses_url(current_student.username, subdomain: 'dashboard'), class: "navbar-item" do %>
                <%= image_tag("dashboard.png", class: "img-size") %>
                <div class="ruby-block">
                Instructor Dashboard
                </div>
            <% end %>
            <%= link_to basic_info_my_notebook_url(current_student.username, subdomain: 'dashboard'), class: "navbar-item" do %>
                <%= image_tag("settings.png", class: "img-size") %>
                <div class="ruby-block">
                Account
                </div>
            <% end %>
            <%= link_to logout_url(subdomain: false), class: "navbar-item",
                method: 'delete', id: "logout-button" do %>
                <i class="fas fa-sign-out-alt fa-lg"></i>
                <div class="ruby-block">
                    Log out
                </div>
            <% end %>
      </div>
    </div>
  </div>
</nav>
