<!DOCTYPE html>
<html>
  <head>
    <title>Notebank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-inherit">
    <div class="is-flex h-inherit">
      <div id="account-body" class="flex-grow w-100">
          <%= yield %>
      </div>
    </div>
    <div id="snackbar">Some text some message..</div>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.5.207/build/pdf.min.js"></script>
  </body>
</html>
