<!DOCTYPE html>
<html>
  <head>
    <title>Notebank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
    <script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <!-- render 'layouts/course_menu' if @course_menu -->
    <%= render 'layouts/notification' %>
    <%= render 'layouts/sign_in_or_register' %>
    <%= render 'layouts/cart_modal' %>
    <div class="is-flex body-minus-height">
      <!-- render 'layouts/aside' unless @checkout -->
      <%= yield %>
    </div>
    <%= render 'layouts/pdf_previewer' %>
    <% if flash[:snackbar].present? %>
      <div id="snackbar" class="<%= 'show' %>"><%= flash[:snackbar] %></div>
    <% end %>
    <div class="is-hidden">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div class="is-hidden">Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div class="is-hidden">Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.5.207/build/pdf.min.js"></script>
  </body>
</html>
