<!DOCTYPE html>
<html>
  <head>
    <title>Notebank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/dashboard_navbar' %>
    <%= render 'layouts/general_modal_container' %>
    <%= render 'layouts/upload_success_container' %>
    <div class="is-flex" id="main_display">
      <%= render "dashboard/shared/design_lesson_aside" %>
      <%= yield %>  
      <%= render 'layouts/dashboard_delete' %>
    </div>
    <%= render 'layouts/pdf_previewer' %>
    <% if flash[:snackbar].present? %>
      <div id="snackbar" class="<%= 'show' %>"><%= flash[:snackbar] %></div>
    <% end %>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.5.207/build/pdf.min.js"></script>
  </body>
</html>