if ($("#snackbar").length == 0) {
    var snackbar = document.createElement("div");
    $(snackbar).attr("id", "snackbar");
    $(snackbar).text("<%= @message %>");
    $("body").append($(snackbar));
} else {
    var snackbar = $("#snackbar")[0];
}

$(snackbar).addClass("show");
setTimeout(
      function(){
        $(snackbar).removeClass("show");
      }, 4000);

