<!DOCTYPE html>
<html>
  <head>
    <title>Notebank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="is-flex">
    <%= render 'layouts/vertical_learning_navbar' %>
    <%= render 'layouts/notification' %>
    <div class="is-flex body-learning-width">
      <!-- render 'layouts/aside' unless @checkout -->
      <div id="main_learning_panel" class="flex-grow">
          <%= render 'layouts/learning_sub_navbar' %>
          <%= yield %>
      </div>
    </div>
    <div id="list-background" class="is-hidden"></div>
    <% if flash[:snackbar].present? %>
      <div id="snackbar" class="<%= 'show' %>"><%= flash[:snackbar] %></div>
    <% end %>
  </body>
</html>
